{% extends 'base/base.html'%}
{%load static%}
{%load general%}

{%block page_name%}
	Home
{%endblock%}

{%block title%}
PracticePractice.
{%endblock%}

{%block meta%}
<meta name="description" content="
PracticePractice, you personalised study hub.
">
{%endblock%}

{%block content%}
	<div style='width:90%;margin:auto;' class='landing_wrapper mb-3'>
		<div class='ml-4'>
			<img class="img-fluid" style='float:right;margin:auto;width:300px;'src="{% static 'base/svg/undraw_welcoming_re_x0qo.svg' %}" /><br>
		</div>

		<div class=''>
			<p class='h3 mt-4 font-weight-bold'>Welcome to </p><p class='h1 mb-4 text-primary font-weight-bold text-fluid'>Practice Practice</p>
			<p class='h6 text-secondary font-weight-bold'>An AI powered platform for learning.</p>
		</div>

	</div>
	<hr class='sidebar-divider' style='border-width:2px;'>
	<div style='width:90%;margin:auto;' class='landing_wrapper mb-3'>
		<div class='ml-4'>
			<p class='h1 mb-4 mt-4 text-primary font-weight-bold'>ChatGPT</p>
			<p class='h6 text-secondary font-weight-bold'>AI is a central part to the way you will interact with our courses. ChatGPT will help you study the course step by step, this will ensure the best learning possible</p>
		</div>
		<div class=''>
			<img  class="img-fluid ml-2" style='float:left;margin:auto;width:100px;'src="{% static 'base/img/chatgpt.png' %}" /><br>
			<img  class="img-fluid ml-2" style='float:left;margin:auto;width:400px;'src="{% static 'base/svg/undraw_road_to_knowledge_m8s0.svg' %}" /><br>
		</div>

	</div>
	<hr class='sidebar-divider' style='border-width:2px;'>



	<div style='width:90%;margin:auto;' class='landing_wrapper mb-3'>
		<div class=''>
			<img class="img-fluid" style='float:left;margin:auto;width:300px;'src="{% static 'base/svg/undraw_education_f8ru.svg' %}" /><br>
		</div>

		<div class=''>
			<p class='h1 mt-4 text-primary font-weight-bold'>Real Courses</p>
			<p class='h6 mb-4 text-secondary font-weight-bold'>Our courses are unbounded, they focus on delivering as much  information so you can gain a lot of usefull skills quickly, and our library will accomodate the course for you. Come see our courseplace.</p>
			<a href="{%url 'content:marketplace' page=1%}" class="btn btn-primary btn-user">
				<i class="bi bi-shop" style='color:white;'></i>
				CoursePlace
			</a>
		</div>

	</div>
	<hr class='sidebar-divider' style='border-width:2px;'>







	<hr class='sidebar-divider' style='border-width:2px;'>
	 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		{%if user.is_authenticated%}
			{%if context.user_is_subscribed%}
				<h1 class="display-4">Manage Your subscription</h1>
				<form method="POST" action="{%url 'user:_create_customer_portal_session'%}">
				  {% csrf_token %}
				  <button class='btn btn-success p-4' type="submit">Manage billing</button>
				</form>
			{%else%}
				<h1 class="display-4">Join Now</h1>
				<div class='col-8 mx-auto' style='margin-bottom:30px;'>
					Unlock a world of learning possibilities with our premium membership: access exclusive self-practice tools, harness AI assistance, and delve into enriching video content. For free users, enjoy limitless reading across all courses. Elevate your study experience today!
				</div>
				<p>A membership gives you <strong class='text-success'>access to all of our courses</strong>, with or without our Artificial Intelligence features depending on your choice. Start a free trial now! (<strong class='text-info'>Requires a valid card</strong>)</p>
			      <div class='pt-5 pb-5 mt-3' style='border: 1px solid var(--text-color-3); border-radius:10px; padding: 25px; background:black;box-shadow:0 15px 25px var(--text-color-2);'>

			      <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
				<stripe-pricing-table 
					    pricing-table-id="{{context.pricing_table}}"
					publishable-key="{{context.publishable_key}}"
					client-reference-id="{{user.id}}"
					customer-session-client-secret="{{context.client_secret}}"
				>
				</stripe-pricing-table>

			{%endif%}
		{%else%}
		<section class="py-5">
            <div class="container">
                <h2 class="text-center pb-3 mb-4">Pricing</h2>
		<div class='col-12 mx-auto' style='margin-bottom:30px;'>
			Unlock a world of learning possibilities with our premium membership: access exclusive self-practice tools, harness AI assistance, and delve into enriching video content. For free users, enjoy limitless reading across all courses. Elevate your study experience today!
		</div>
		<p>A membership gives you <strong class='text-success'>access to all of our courses</strong>, with or without our Artificial Intelligence features depending on your choice.</p>
		<div id='error-message' style='text-align:center; color:red;'></div>
                <nav class="nav nav-pills pricing-tab py-3 justify-content-center" style='margin-bottom:30px;'>
                    <a class="nav-item nav-link active" data-toggle="tab" href="#monthlypricing" id="monthlypricingtab">1 Month</a>
                </nav>
                <div class="tab-content" id="pricingTab">
                    <div class="tab-pane fade active show" id="monthlypricing" role="tabpanel" aria-labelledby="monthlypricingtab">
                        <div class="row">
				<div class="container">
					<div class="">
						<table class="table table-striped pricing-table">
							<thead>
								<tr style='display:grid; grid-template-columns:1fr 1fr 1fr;'>
									<th class="text-center border-0 pb-5">
										<h6 class="lead font-weight-bold pricing-plan-title">Free</h6>
										<p class="font-weight-bold pricing-plan-amount"> <span class="h1">-</span></p>
										<p class="small pricing-plan-allotment">Access basic content</p>
										<a id='monthly_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
									</th>
									<th class="text-center border-0 pb-5">
										<h6 class="lead font-weight-bold pricing-plan-title">Without AI</h6>
										<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.without_ai_monthly_plan.unit_amount|divide:100}}</span></p>
										<p class="small pricing-plan-allotment">Per user, per month</p>
										<a id='monthly_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
									</th>
									<th class="text-center border-0 pb-5">
										<h6 class="lead font-weight-bold pricing-plan-title">With AI</h6>
										<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.with_ai_monthly_plan.unit_amount|divide:100}}</span></p>
										<p class="small pricing-plan-allotment">Per user, per month</p>
										<a id='monthly_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
									</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
                    </div>
                </div>
            </div>
        </section>
		{%endif%}
      </div>
    </div>




{%endblock%}
