{% extends 'base/base.html'%}
{%load static%}

{%block page_name%}
	Home
{%endblock%}

{%block title%}
PracticePractice.
{%endblock%}

{%block meta%}
<meta name="description" content="
PracticePractice, you personalised study hub.
">
{%endblock%}

{%block content%}
	<div style='width:90%;margin:auto;' class='landing_wrapper mb-3'>
		<div class='ml-4'>
			<img class="img-fluid" style='float:right;margin:auto;width:300px;'src="{% static 'base/svg/undraw_welcoming_re_x0qo.svg' %}" /><br>
		</div>

		<div class=''>
			<p class='h3 mt-4 font-weight-bold'>Welcome to </p><p class='h1 mb-4 text-primary font-weight-bold text-fluid'>Practice Practice</p>
			<p class='h6 text-secondary font-weight-bold'>An AI powered platform for learning.</p>
		</div>

	</div>
	<hr class='sidebar-divider' style='border-width:2px;'>
	<div style='width:90%;margin:auto;' class='landing_wrapper mb-3'>
		<div class='ml-4'>
			<p class='h1 mb-4 mt-4 text-primary font-weight-bold'>ChatGPT</p>
			<p class='h6 text-secondary font-weight-bold'>AI is a central part to the way you will interact with our courses. ChatGPT will help you study the course step by step, and if you're an author it will help you outline and brain storm your course, this cycle of AI creating and teaching will ensure the best learning and the continueous improvement to each and every course!.</p>
		</div>
		<div class=''>
			<img  class="img-fluid ml-2" style='float:left;margin:auto;width:100px;'src="{% static 'base/img/chatgpt.png' %}" /><br>
			<img  class="img-fluid ml-2" style='float:left;margin:auto;width:400px;'src="{% static 'base/svg/undraw_road_to_knowledge_m8s0.svg' %}" /><br>
		</div>

	</div>
	<hr class='sidebar-divider' style='border-width:2px;'>



	<div style='width:90%;margin:auto;' class='landing_wrapper mb-3'>
		<div class=''>
			<img class="img-fluid" style='float:left;margin:auto;width:300px;'src="{% static 'base/svg/undraw_education_f8ru.svg' %}" /><br>
		</div>

		<div class=''>
			<p class='h1 mt-4 text-primary font-weight-bold'>Real Courses</p>
			<p class='h6 mb-4 text-secondary font-weight-bold'>Our qualified professionals focus on validating our courses and to elevate them to the highest quality with the help of AI. Our courses are unbounded, they focus on being highlty techinical and accuraste so you can gain a lot of usefull skills quickly, and our expanding library will accomodate the course for you. Come see our courseplace and <strong class='text-primary'> find the course to help you grow!</strong></p>
			<a href="{%url 'content:marketplace' page=1%}" class="btn btn-primary btn-user">
				<i class="bi bi-shop" style='color:white;'></i>
				CoursePlace
			</a>
		</div>

	</div>
	<hr class='sidebar-divider' style='border-width:2px;'>







	<div style='width:90%;margin:auto;' class='landing_wrapper mb-3'>
		<div class='ml-4'>
			<p class='h1 mb-4 mt-4 text-primary font-weight-bold'>MultiMedia</p>
			<p class='h6 text-secondary font-weight-bold'>All of our courses are MultiMedia; we believe that the best way to learn is not just by watching videos, but by an interactive and diverse approach, that's why we create each course with the ability to <strong class='text-success'>read it, write for it, watch it, and explore it in a personalised mannor.</strong> We use Artificial Intelligence to assess your written work and check your understanding of the subject.</p>
		</div>

		<div class=''>
			<img class="img-fluid" style='float:right;margin:auto;width:400px;'src="{% static 'base/svg/undraw_online_media_re_r9qv.svg' %}" /><br>
		</div>
	</div>
	<hr class='sidebar-divider' style='border-width:2px;'>



	<div style='width:90%;margin:auto;' class='landing_wrapper mb-3'>
		<div class=''>
			<img class="img-fluid" style='margin:auto;width:400px;'src="{% static 'base/svg/undraw_charts_re_5qe9.svg' %}" /><br>
		</div>
		<div class='ml-4'>
			<p class='h1 mb-4 mt-4 text-primary font-weight-bold'>Tracking System</p>
			<p class='h6 text-secondary font-weight-bold'>Imagine you knew exactly which topics you're weakest at, PracticePractice has the tools to tell you your statistical performance per topic, allowing you to make well informed decisions as to what you need to spend your time on, this is done for EVERY COURSE.</p>
		</div>

	</div>
	<hr class='sidebar-divider' style='border-width:2px;'>
	 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Course Type Pricing</h1>
      <p class="lead">Each course on PracticePractice follows one of the following pricing standards, once you buy a course you own it forever! <br>Note: <a href='{%url 'dashboard:student_performance'%}'><strong class='text-primary'>ChatGPT monthly charge depends on your usage, you can see your usage and our rate here.</strong></a></p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Basic</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">£10</h1>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Intermediate</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">£20</h1>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Advanced</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">£30</h1>
          </div>
        </div>
      </div>
    </div>




{%endblock%}
