<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar" style='background:rgb(28, 28, 28);background:black;'>
<!-- Divider -->
<p style='margin-top:0px;'></p>
{%include 'dashboard/sidebar/general.html'%}
{%include 'dashboard/sidebar/admin.html'%}
{%include 'dashboard/sidebar/student.html'%}
{%include 'dashboard/sidebar/teacher.html'%}
{%include 'dashboard/sidebar/privatetutor.html'%}
{%include 'dashboard/sidebar/school.html'%}
{%include 'dashboard/sidebar/center.html'%}
{%include 'dashboard/sidebar/editor.html'%}
{%include 'dashboard/sidebar/affiliate.html'%}
<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline" style='color:black'>
<button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
<!-- Sidebar Message -->
</ul>
<!-- End of Sidebar -->
