{%load general%}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar sidebar_replacement sidebar-dark accordion" id="accordionSidebar_replacement" style='background:rgb(28, 28, 28);background:black;'>
<!-- Divider -->
<p style='margin-top:0px;'></p>
{%if user.is_superuser%}
{%include 'dashboard/sidebar/superuser.html'%}
<hr class="sidebar-divider">
{%endif%}



{%if user.is_authenticated%}
{%include 'dashboard/sidebar/student.html'%}
<hr class="sidebar-divider">


{%include 'dashboard/sidebar/writer.html'%}
<hr class="sidebar-divider">
{%endif%}

{% comment %}
{%include 'dashboard/sidebar/general.html'%}
<hr class="sidebar-divider">
{%include 'dashboard/sidebar/collaborator.html'%}
<hr class="sidebar-divider">

{%include 'dashboard/sidebar/earning.html'%}
<hr class="sidebar-divider">
{%endcomment%}

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline" style='color:black'>
<button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
<!-- Sidebar Message -->
</ul>
<!-- End of Sidebar -->
