{% extends 'base/base.html'%}
{%load static %}
{%load general%}

{%block pagestatic%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="{%static 'user/css/main.css'%}">
<script src="{%static 'user/js/main.js'%}"></script>
{%endblock%}

{%block page_name%}
	Account
{%endblock%}
{%block title%}
	Account
{%endblock%}

{%block content%}
<div class="container-xl px-4 mt-4">
    {%definevar 'user_billing' as alert_loc%}
    {%include 'base/alert.html'%}
    {%definevar 'billing' as active_link%}
    {%include 'user/parts/_navigation.html'%}
    <div class="row">
        <div class="col-lg-4 mb-4">
            <!-- Billing card 3-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Current plan</div>
		    {%if context.cancel_later%}
		    <div class="h3 d-flex align-items-center">{{context.plan_name|field_name_to_label}}</div>
		    <a class="text-arrow-icon small" href="{%url 'user:_reactivatemembership'%}">
                        Reactivate subscription
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
		    {%elif context.plan_name%}
		    <div class="h3 d-flex align-items-center">{{context.plan_name|field_name_to_label}}</div>
		    <a class="text-arrow-icon small" href="{%url 'user:cancelsubscription'%}">
                        Cancel Subscription
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
		    {%else%}
		    -
		    {%endif%}
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
		    {%if context.cancel_later%}
		    <div class="small text-muted">Current {{context.billing_interval}}ly bill</div>
		    -
		    {%elif context.billing_interval%}
			<div class="small text-muted">Current {{context.billing_interval}}ly bill</div>
			<div class="h3">£ {{context.billing_amount}}</div>
		    {%else%}
			<div class="small text-muted">Current bill</div>
		    -
		    {%endif%}
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 2-->
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body">
		    {%if context.cancel_later%}
                    <div class="small text-muted">Membership benefits end:</div>
                    <div class="h3">{{context.billing_next|date:'Y-m-d'}}</div>
		    {%elif context.billing_next%}
                    <div class="small text-muted">Next payment due</div>
                    <div class="h3">{{context.billing_next|date:'Y-m-d'}}</div>
                    <a class="text-arrow-icon small text-secondary" href="#billing_history">
                        View billing history
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
		    {%else%}
                    <div class="small text-muted">Next payment due</div>
		    -
		    {%endif%}
                </div>
            </div>
        </div>
    </div>
    <!-- Payment methods card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Payment Methods
	    <form ass="ml-2"  action="{%url 'user:addpaymentmethod'%}" 
		    method="GET" role="form" style='display:inline-block;'>
            	<button class="btn btn-sm btn-primary" type="submit">Add Payment Method</button>
	    </form>
        </div>
        <div class="card-body px-0">
	    {%for paymethod in context.paymentmethods%}
            <!-- Payment method 1-->
            <div class="d-flex align-items-center justify-content-between px-4">
                <div class="d-flex align-items-center">
                    <i class="fab fa-cc-{{paymethod.card.brand}} fa-2x cc-color-{{paymethod.card.brand}}"></i>
                    <div class="ms-4 ml-3">
			    <div class="small">{{paymethod.card.brand}} ending in {{paymethod.card.last4}} | Added {{paymethod.created}}</div>
	    <div class="text-xs text-muted">Expires {{paymethod.card.exp_month}}/{{paymethod.card.exp_year}}</div>
                    </div>
                </div>
                <div class="ms-4 small">
	    	    {%if context.customer.default_payment_method.id == paymethod.id%}
                    <div class="" style='display:inline-block;'>Default</div>
		    {%else%}
		    <form style='display:inline-block;' 
			  method='POST' 
			  action="{%url 'user:_makedefaultpaymentmethod'%}"
		    >
			{% csrf_token %}
		        <input type='hidden' name='method_id'value='{{paymethod.id}}'>
			<input type="submit" value="Make Default" class='my_link_button' />
		    </form>
		    {%endif%}
		    <form style='display:inline-block;' 
			  method='POST' 
			  action="{%url 'user:_deletepaymentmethod'%}"
		    >
			{% csrf_token %}
		        <input type='hidden' name='method_id'value='{{paymethod.id}}'>
			<input type="submit" style='color:red;'value="| Delete" class='my_link_button link-danger' />
		    </form>
                </div>
            </div>
            <hr>
	    {%endfor%}
        </div>
    </div>
    <!-- Billing history card-->
    <div class="card mb-4" id='billing_history'>
        <div class="card-header">Billing History</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">Transaction ID</th>
                            <th class="border-gray-200" scope="col">Description</th>
                            <th class="border-gray-200" scope="col">Date</th>
                            <th class="border-gray-200" scope="col">Amount</th>
                            <th class="border-gray-200" scope="col">Charge Status</th>
                        </tr>
                    </thead>
                    <tbody>
	 	    {%for charge in context.billing_history%}
                        <tr>
			    <td><a href='{{charge.receipt_url}}' target='blank'>{{charge.id}}</a></td>
			    <td>{{charge.description}}</td>
			    <td>{{charge.created}}</td>
			    <td>£{{charge.amount}}</td>
			    <td>
				    {%if charge.status == 'succeeded'%}
				    <i class="bi bi-check-circle-fill" style='color:green;'></i>
				    {%elif charge.status == 'pending'%}
				    <i class="bi bi-circle" style='color:grey;'></i>
				    {%elif charge.status == 'failed'%}
				    <i class="bi bi-x-circle-fill" style='color:red;'></i>
				    {%endif%}
			    </td>
                        </tr>
		     {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}
