{% extends 'base/base.html'%}
{%load static %}
{%load general%}

{%block pagestatic%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="{%static 'user/css/main.css'%}">
<script src="{%static 'user/js/main.js'%}"></script>
{%endblock%}

{%block page_name%}
	Account
{%endblock%}
{%block title%}
	Account
{%endblock%}

{%block content%}
<div class="container-xl px-4 mt-4">
    {%definevar 'user_billing' as alert_loc%}
    {%include 'base/alert.html'%}
    {%definevar 'billing' as active_link%}
    {%include 'user/parts/_navigation.html'%}
    <div class="row">
        <div class="col-lg-4 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
                    <div class="small text-muted">Current monthly bill</div>
                    <div class="h3">$20.00</div>
                    <a class="text-arrow-icon small" href="#!">
                        Switch to yearly billing
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 2-->
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body">
                    <div class="small text-muted">Next payment due</div>
                    <div class="h3">July 15</div>
                    <a class="text-arrow-icon small text-secondary" href="#!">
                        View payment history
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 3-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Current plan</div>
                    <div class="h3 d-flex align-items-center">Freelancer</div>
                    <a class="text-arrow-icon small text-success" href="#!">
                        Upgrade plan
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Payment methods card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Payment Methods
	    <form ass="ml-2"  action="{%url 'user:addpaymentmethod'%}" 
		    method="GET" role="form" style='display:inline-block;'>
            	<button class="btn btn-sm btn-primary" type="submit">Add Payment Method</button>
	    </form>
        </div>
        <div class="card-body px-0">
	    {%for paymethod in context.paymentmethods%}
            <!-- Payment method 1-->
            <div class="d-flex align-items-center justify-content-between px-4">
                <div class="d-flex align-items-center">
                    <i class="fab fa-cc-{{paymethod.card.brand}} fa-2x cc-color-{{paymethod.card.brand}}"></i>
                    <div class="ms-4 ml-3">
			    <div class="small">{{paymethod.card.brand}} ending in {{paymethod.card.last4}} | Added {{paymethod.created}}</div>
	    <div class="text-xs text-muted">Expires {{paymethod.card.exp_month}}/{{paymethod.card.exp_year}}</div>
                    </div>
                </div>
                <div class="ms-4 small">
	    	    {%if context.customer.default_payment_method.id == paymethod.id%}
                    <div class="badge bg-light text-dark me-3">Default</div>
		    {%else%}
		    <form style='display:inline-block;' 
			  method='POST' 
			  action="{%url 'user:_makedefaultpaymentmethod'%}"
		    >
			{% csrf_token %}
		        <input type='hidden' name='method_id'value='{{paymethod.id}}'>
			<input type="submit" style='color:black;'value="Make Default" class='my_link_button' />
		    </form>
		    {%endif%}
		    <form style='display:inline-block;' 
			  method='POST' 
			  action="{%url 'user:_deletepaymentmethod'%}"
		    >
			{% csrf_token %}
		        <input type='hidden' name='method_id'value='{{paymethod.id}}'>
			<input type="submit" style='color:red;'value="| Delete" class='my_link_button link-danger' />
		    </form>
                </div>
            </div>
            <hr>
	    {%endfor%}
        </div>
    </div>
    <!-- Billing history card-->
    <div class="card mb-4">
        <div class="card-header">Billing History</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">Transaction ID</th>
                            <th class="border-gray-200" scope="col">Type</th>
                            <th class="border-gray-200" scope="col">Date</th>
                            <th class="border-gray-200" scope="col">Amount</th>
                            <th class="border-gray-200" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#39201</td>
			    <td> Enterprise gold subscription</td>
                            <td>06/15/2099</td>
                            <td>$29.99</td>
                            <td><span class="badge bg-light text-dark">Planned</span></td>
                        </tr>
                        <tr>
                            <td>#39201</td>
			    <td> Enterprise gold subscription</td>
                            <td>06/15/2021</td>
                            <td>$29.99</td>
                            <td><span class="badge bg-light text-dark">Pending</span></td>
                        </tr>
                        <tr>
                            <td>#38594</td>
			    <td> Enterprise gold subscription</td>
                            <td>05/15/2021</td>
                            <td>$29.99</td>
                            <td><span class="badge bg-success">Paid</span></td>
                        </tr>
                        <tr>
                            <td>#38223</td>
			    <td> Student basic subscription</td>
                            <td>04/15/2021</td>
                            <td>$29.99</td>
                            <td><span class="badge bg-success">Paid</span></td>
                        </tr>
                        <tr>
                            <td>#38125</td>
			    <td> Lesson </td>
                            <td>03/15/2021</td>
                            <td>$29.99</td>
                            <td><span class="badge bg-success">Paid</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}
