{% extends 'base/base.html'%}
{%load static %}
{%load general%}

{%block pagestatic%}
<link rel="stylesheet" href="{%static 'user/css/main.css'%}">
<script src="{%static 'user/js/main.js'%}"></script>
{%endblock%}

{%block page_name%}
	Account
{%endblock%}
{%block title%}
	Account
{%endblock%}

{%block content%}
<div class="container-xl px-4 mt-4">
    {%definevar 'user_profile' as alert_loc%}
    {%include 'base/alert.html'%}
    {%definevar 'profile' as active_link%}
    {%include 'user/parts/_navigation.html'%}
    <div class="row">
	<div class="col-xl-4">
	<!-- Profile picture card-->
	{%include 'user/forms/index_profile.html'%}
	</div>
        <div class="col-xl-8">
	{%if context.AccountDetailsForm %}
		{%definevar context.AccountDetailsForm as form%}
		{%include 'user/forms/profile_details_account.html'%}
	{%endif%}
	{%if context.AdminDetailsForm %}
		{%definevar context.AdminDetailsForm as form%}
		{%include 'user/forms/profile_details_admin.html'%}
	{%endif%}
	{%if context.StudentDetailsForm %}
		{%definevar context.StudentDetailsForm as form%}
		{%include 'user/forms/profile_details_student.html'%}
	{%endif%}
	{%if context.EducatorDetailsForm %}
		{%definevar context.EducatorDetailsForm as form%}
		{%include 'user/forms/profile_details_educator.html'%}
	{%endif%}
	{%if context.OrganisationDetailsForm %}
		{%definevar context.OrganisationDetailsForm  as form%}
		{%definevar context.group_object_Organisation as organisation%}
		{%include 'user/forms/profile_details_organisation.html'%}
	{%endif%}
	{%if context.EditorDetailsForm %}
		{%definevar context.EditorDetailsForm as form%}
		{%include 'user/forms/profile_details_editor.html'%}
	{%endif%}
	{%if context.AffiliateDetailsForm %}
		{%definevar context.AffiliateDetailsForm as form%}
		{%include 'user/forms/profile_details_affiliate.html'%}
	{%endif%}
        </div>
    </div>
</div>
{%endblock%}
