{% extends 'base/base.html'%}
{%load static %}
{%load general%}

{%block pagestatic%}
<link rel="stylesheet" href="{%static 'user/css/main.css'%}">
<script src="{%static 'user/js/main.js'%}"></script>
{%endblock%}

{%block page_name%}
	Account
{%endblock%}
{%block title%}
	Account
{%endblock%}

{%block content%}
<div class="container-xl px-4 mt-4">
    {%definevar 'user_profile' as alert_loc%}
    {%include 'base/alert.html'%}
    {%definevar 'profile' as active_link%}
    {%include 'user/parts/_navigation.html'%}
    <div class="row">
	<div class="col-xl-4">
	<!-- Profile picture card-->
	{%include 'user/forms/index_profile.html'%}
	</div>
        <div class="col-xl-8">
	{%if context.form_accountdetails %}
		{%definevar context.form_accountdetails as form%}
		{%include 'user/forms/profile_details_account.html'%}
	{%endif%}
	{%if context.form_admindetails%}
		{%definevar context.form_admindetails as form%}
		{%include 'user/forms/profile_details_admin.html'%}
	{%endif%}
	{%if context.form_studentdetails%}
		{%definevar context.form_studentdetails as form%}
		{%include 'user/forms/profile_details_student.html'%}
	{%endif%}
	{%if context.form_educatordetails%}
		{%definevar context.form_educatordetails as form%}
		{%include 'user/forms/profile_details_educator.html'%}
	{%endif%}
	{%if context.form_organisationdetails%}
		{%definevar context.form_organisationdetails as form%}
		{%definevar context.organisation as organisation%}
		{%include 'user/forms/profile_details_organisation.html'%}
	{%endif%}
	{%if context.form_editordetails%}
		{%definevar context.form_editordetails as form%}
		{%include 'user/forms/profile_details_editor.html'%}
	{%endif%}
	{%if context.form_affiliatedetails%}
		{%definevar context.form_affiliatedetails as form%}
		{%include 'user/forms/profile_details_affiliate.html'%}
	{%endif%}
        </div>
    </div>
</div>
{%endblock%}
