<div class="container">
	<div class="table-responsive-lg">
		<table class="table table-striped pricing-table">
			<thead>
				<tr>
					<th class="border-0 pb-5 h3 plan-content-title"> Features</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Starter</h6>
						<p class="font-weight-bold pricing-plan-amount">$ <span class="h1">0</span></p>
						<p class="small pricing-plan-allotment">Per user, per month</p>
						<button class="btn btn-block btn-outline-primary btn-rounded">Go <span class="d-none d-md-inline">Starter</span></button>
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Professional</h6>
						<p class="font-weight-bold pricing-plan-amount">$ <span class="h1">25</span></p>
						<p class="small pricing-plan-allotment">Per user, per month</p>
						<button class="btn btn-block btn-outline-primary btn-rounded">Go <span class="d-none d-md-inline">Professional</span></button>
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Organization</h6>
						<p class="font-weight-bold pricing-plan-amount">$ <span class="h1">50</span></p>
						<p class="small pricing-plan-allotment">Per user, per month</p>
						<button class="btn btn-block btn-outline-primary btn-rounded">Go <span class="d-none d-md-inline">Organization</span></button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row" class="border-0">Centralized teams</td>
					<td class="border-0 text-center">
						<span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill"></i></span>
					</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill"></i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
