{%load general%}
<div class='col-8 mx-auto' style='margin-bottom:30px;'>
	Our student subscription plan offers the best study experince we could create
	, this ranges from high quality and precise content, to the state of the art personalised
	paper creation tools, offering you, the student, the ability to easily control your study
	flow.
</div>
<div class="container">
	<div class="table-responsive-lg">
		<table class="table table-striped pricing-table">
			<thead>
				<tr>
					<th class="border-0 pb-5 h3 plan-content-title"> Features</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Free</h6>
						<p class="font-weight-bold pricing-plan-amount"> <span class="h1">-</span></p>
						{%if user.is_authenticated%}
							{%if user|in_groups:'Student'%}
							<p class="small pricing-plan-allotment"><i class="bi bi-check-circle-fill" style='color:green;'></i></p>
							<a id='student_free_plan' href="#" class="btn btn-block btn-outline-primary btn-rounded">-</a>
							{%else%}
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Student Account</a>
							{%endif%}
						{%else%}
						<p class="small pricing-plan-allotment">-</p>
						<a id='student_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Monthly</h6>
						<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.student_monthly_plan.unit_amount|divide:100}}</span></p>
						<p class="small pricing-plan-allotment">Per user, per month</p>
						{%if user.is_authenticated%}
							{%if user|in_groups:'Student'%}
							<button id='student_monthly_plan' class="btn btn-block btn-outline-primary btn-rounded">
		    					    <p id='student_monthly_plan_text' style='margin:0;'>Go monthly</p>
							    <div id='student_monthly_plan_spinner' class='d-none'>
								<div class="d-flex justify-content-center">
								  <div class="spinner-border spinner-border-sm" role="status">
								    <span class="sr-only">Loading...</span>
								  </div>
								</div>
							    </div>
							</button>
								<script>
									document
									.getElementById("student_monthly_plan")
									.addEventListener("click", function (evt) {
										loading_checkout(true, '#student_monthly_plan', '#student_monthly_plan_spinner', '#student_monthly_plan_text');
										CreateCheckoutSession("{{context.student_monthly_plan.id}}").then(function(data) {
										    // Call Stripe.js method to redirect to the new Checkout page
										if (data.sessionId){
										    stripe
										      .redirectToCheckout(
											{
											    sessionId: data.sessionId
											}
										      )
										}else{
											handleResult(data);
											loading_checkout(false, '#student_monthly_plan', '#student_monthly_plan_spinner', '#student_monthly_plan_text');
										}
									});
									});
								</script>
							{%else%}
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Student Account</a>
							{%endif%}
						{%else%}
						<a id='student_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Anually</h6>
						<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.student_yearly_plan.unit_amount|divide:100}}</span></p>
						<p class="small pricing-plan-allotment">Per user, per year</p>
						{%if user.is_authenticated%}
							{%if user|in_groups:'Student'%}
							<button id='student_yearly_plan' class="btn btn-block btn-outline-primary btn-rounded">
		    					    <p id='student_yearly_plan_text' style='margin:0;'>Go Yearly</p>
							    <div id='student_yearly_plan_spinner' class='d-none'>
								<div class="d-flex justify-content-center">
								  <div class="spinner-border spinner-border-sm" role="status">
								    <span class="sr-only">Loading...</span>
								  </div>
								</div>
							    </div>
							</button>
								<script>
									document
									.getElementById("student_yearly_plan")
									.addEventListener("click", function (evt) {
										loading_checkout(true, '#student_yearly_plan', '#student_yearly_plan_spinner', '#student_yearly_plan_text');
										CreateCheckoutSession("{{context.student_yearly_plan.id}}").then(function(data) {
										    // Call Stripe.js method to redirect to the new Checkout page
										if (data.sessionId){
										    stripe
										      .redirectToCheckout(
											{
											    sessionId: data.sessionId
											}
										      )
										}else{
											handleResult(data);
											loading_checkout(false, '#student_yearly_plan', '#student_yearly_plan_spinner', '#student_yearly_plan_text');
										}
									});
									});
								</script>
							{%else%}
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Student Account</a>
							{%endif%}
						{%else%}
						<a id='student_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row" class="border-0">Access to all content</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Personalised Content Selection</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Progress Tracking System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Performance Tracking System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Question Bank</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Practice tools</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Model Answers</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Downloadable PDFs</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Practice/Question History</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Flash Cards System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Spaced Repitition System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Access to Tutor Network</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
