<div class='col-8 mx-auto' style='margin-bottom:30px;'>
	{% lorem %}
	{% lorem %}
</div>
<div class="container">
	<div class="table-responsive-lg">
		<table class="table table-striped pricing-table">
			<thead>
				<tr>
					<th class="border-0 pb-5 h3 plan-content-title"> Features</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Free</h6>
						<p class="font-weight-bold pricing-plan-amount">£ <span class="h1">0</span></p>
						<p class="small pricing-plan-allotment">-</p>
						<button class="btn btn-block btn-outline-primary btn-rounded">Go Free</button>
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Monthly</h6>
						<p class="font-weight-bold pricing-plan-amount">£ <span class="h1">5</span></p>
						<p class="small pricing-plan-allotment">Per user, per month</p>
						<button class="btn btn-block btn-outline-primary btn-rounded">Go Monthly</button>
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Anually</h6>
						<p class="font-weight-bold pricing-plan-amount">£ <span class="h1">3</span></p>
						<p class="small pricing-plan-allotment">Per user, per month</p>
						<button class="btn btn-block btn-outline-primary btn-rounded">Go Anual</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row" class="border-0">Membership Auto Renew</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
