{%load general%}
<div class='col-8 mx-auto' style='margin-bottom:30px;'>
	Our educator subscription plan, offers professional private tutors and any other type of educator the 
	tools they need to manage thier existing students and find new ones, ranging from the ability to set reading tasks, 
	personalised practice papers and homework for their students, to being able to find new students using our network.
</div>
<div class="container">
	<div class="table-responsive-lg">
		<table class="table table-striped pricing-table">
			<thead>
				<tr>
					<th class="border-0 pb-5 h3 plan-content-title"> Features</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Free</h6>
						<p class="font-weight-bold pricing-plan-amount"> <span class="h1">-</span></p>
						{%if user.is_authenticated%}
							{%if user|in_groups:'PrivateTutor Teacher'%}
							<p class="small pricing-plan-allotment"><i class="bi bi-check-circle-fill" style='color:green;'></i></p>
							<a id='educator_free_plan' href="#" class="btn btn-block btn-outline-primary btn-rounded">-</a>
							{%else%}
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Educator Account</a>
							{%endif%}
						{%else%}
						<p class="small pricing-plan-allotment">-</p>
						<a id='educator_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Monthly</h6>
						<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.educator_monthly_plan.unit_amount|divide:100}}</span></p>
						<p class="small pricing-plan-allotment">Per account, per month</p>
						{%if user.is_authenticated%}
							{%if user|in_groups:'PrivateTutor Teacher'%}
							<button id='educator_monthly_plan' class="btn btn-block btn-outline-primary btn-rounded">
		    					    <p id='educator_monthly_plan_text' style='margin:0;'>Go monthly</p>
							    <div id='educator_monthly_plan_spinner' class='d-none'>
								<div class="d-flex justify-content-center">
								  <div class="spinner-border spinner-border-sm" role="status">
								    <span class="sr-only">Loading...</span>
								  </div>
								</div>
							    </div>
							</button>
								<script>
									document
									.getElementById("educator_monthly_plan")
									.addEventListener("click", function (evt) {
										loading_checkout(true, '#educator_monthly_plan', '#educator_monthly_plan_spinner', '#educator_monthly_plan_text');
										CreateCheckoutSession("{{context.educator_monthly_plan.id}}").then(function(data) {
										    // Call Stripe.js method to redirect to the new Checkout page
										if (data.sessionId){
										    stripe
										      .redirectToCheckout(
											{
											    sessionId: data.sessionId
											}
										      )
										}else{
											handleResult(data);
											loading_checkout(false, '#educator_monthly_plan', '#educator_monthly_plan_spinner', '#educator_monthly_plan_text');
										}
									});
									});
								</script>
							{%else%}
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Educator Account</a>
							{%endif%}
						{%else%}
						<a id='educator_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Yearly</h6>
						<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.educator_yearly_plan.unit_amount|divide:100}}</span></p>
						<p class="small pricing-plan-allotment">Per account, per year</p>
						{%if user.is_authenticated%}
							{%if user|in_groups:'PrivateTutor Teacher'%}
							<button id='educator_yearly_plan' class="btn btn-block btn-outline-primary btn-rounded">
		    					    <p id='educator_yearly_plan_text' style='margin:0;'>Go yearly</p>
							    <div id='educator_yearly_plan_spinner' class='d-none'>
								<div class="d-flex justify-content-center">
								  <div class="spinner-border spinner-border-sm" role="status">
								    <span class="sr-only">Loading...</span>
								  </div>
								</div>
							    </div>
							</button>
								<script>
									document
									.getElementById("educator_yearly_plan")
									.addEventListener("click", function (evt) {
										loading_checkout(true, '#educator_yearly_plan', '#educator_yearly_plan_spinner', '#educator_yearly_plan_text');
										CreateCheckoutSession("{{context.educator_yearly_plan.id}}").then(function(data) {
										    // Call Stripe.js method to redirect to the new Checkout page
										if (data.sessionId){
										    stripe
										      .redirectToCheckout(
											{
											    sessionId: data.sessionId
											}
										      )
										}else{
											handleResult(data);
											loading_checkout(false, '#educator_yearly_plan', '#educator_yearly_plan_spinner', '#educator_yearly_plan_text');
										}
									});
									});
								</script>
							{%else%}
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Educator Account</a>
							{%endif%}
						{%else%}
						<a id='educator_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row" class="border-0">Access to all content</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Student Content Management System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Student Progress Tracking System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Student Performance Tracking System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Access to student network</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Create Supervised Student Accounts</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-x-circle-fill text-danger"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
