{%extends 'user/registration/base.html'%}
{%block pagename%}
JoinSuccess
{%endblock%}
{%load static%}
{%load general%}
{%block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="{%static 'user/css/main.css'%}">
<script src="{%static 'user/js/main.js'%}"></script>
<!-- Outer Row -->
<div class="row justify-content-center">
<div class="col-xl-10 col-lg-12 col-md-9">
<div class="card o-hidden border-0 shadow-lg my-5">
<div class="card-body p-0">
<!-- Nested Row within Card Body -->
<div class="row">
<div class="col-lg-6 d-none d-lg-block bg-login-image" style='background:Black;'></div>
<div class="col-lg-6">
<div class="p-5">
	<div class="text-center">
		<h1 class="h4 text-gray-900 mb-4">Welcome to the club!</h1>
	</div>
	Your membership has been activated. Here are the details: <br><br>
	{%if context.payment_session%}
	<div>
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Current Plan:</div>
		        <p class='ml-3 mb-0'>Process Status: Success</p>
			<p class='ml-3 mb-0'>Type: {{context.payment_session.mode}}</p> 
			<p class='ml-3 mb-0'>Plan: {{context.payment_session.subscription.plan.nickname|field_name_to_label}}</p>  
			<p class='ml-3 mb-0'>Paid: £{{context.payment_session.subscription.plan.amount}}</p> 
                </div>
            </div>
        </div>
	{%else%}
	We are loading the result, please reload the page in a few seconds, if nothing appears
	after a couple of tries then you should get in contact with us.
	{%endif%}
	<hr>
	<a href="{%url 'dashboard:index'%}" class="btn btn-info btn-user btn-block">
		Dashboard
	</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{%endblock%}
