{% extends 'base/base.html'%}
{%load static%}
{%load general%}

{%block pagestatic%}
	<link rel="stylesheet" href="{%static 'user/css/main.css'%}">
	<script src="{%static 'user/js/main.js'%}"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{%endblock%}
{%block page_name%}
	Join
{%endblock%}
{%block title%}
Join
{%endblock%}

{%block meta%}
<meta name="description" content="
Wheather you're a student, teacher, private tutor or school, there is a place for you at PracticePractice, see what we offer and become a member!, join us.
">
{%endblock%}

{%block content%}
<script>
var DOMAIN = window.location.origin;

var stripe = Stripe("{{ context.publishable_key }}");

// Handle any errors from Checkout
var handleResult = function (result) {
if (result.error) {
  var displayError = document.getElementById("error-message");
  displayError.textContent = result.error;
}
};

// Create a Checkout Session with the selected plan ID
var CreateCheckoutSession = function(price_id) {
   let resource = "{%url 'user:_create_checkout_session'%}"
   let data = {
       'price_id': price_id,
   };
   let options = {
	  method: "POST",
	  headers: {
	    "Content-Type": "application/json",
	    "X-CSRFToken":  "{{csrf_token}}",
	  },
	  body: JSON.stringify(data),  // ... body section if you want to pass the product or price_id to the backend
	}

  return fetch(resource, options).then(function(result) {
		return result.json();
	});
};

var loading_checkout = function(isLoading, button, spinner, button_text) {
      if (isLoading) {
	// Disable the button and show a spinner
	document.querySelector(button).disabled = true;
	document.querySelector(spinner).classList.remove("d-none");
	document.querySelector(button_text).classList.add("d-none");
      } else {
	document.querySelector(button).disabled = false;
	document.querySelector(spinner).classList.add("d-none");
	document.querySelector(button_text).classList.remove("d-none");
      }
};
// Setup event handler to create a Checkout Session when button is clicked
</script>
		<section class="py-5">
            <div class="container">
                <h2 class="text-center pb-3 mb-4">Simple Pricing for Your Needs</h2>
		<div id='error-message' style='text-align:center; color:red;'></div>
                <nav class="nav nav-pills pricing-tab py-3 justify-content-center" style='margin-bottom:30px;'>
                    <a class="nav-item nav-link active" data-toggle="tab" href="#studentpricing" id="studentpricingtab"><i class="bi bi-person"></i> Student</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#educatorpricing" id="educatorpricingtab"><i class="bi bi-person-video"></i> Educator</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#organisationpricing" id="organisationpricingtab"><i class="bi bi-building"></i>  Organisation</a>
                </nav>
                <div class="tab-content" id="pricingTab">
                    <div class="tab-pane fade active show" id="studentpricing" role="tabpanel" aria-labelledby="studentpricingtab">
                        <div class="row">
							{%include 'user/join_student_options.html'%}
						</div>
                    </div>
                    <div class="tab-pane fade" id="educatorpricing" role="tabpanel" aria-labelledby="educatorpricingtab">
                        <div class="row">
							{%include 'user/join_educator_options.html'%}
						</div>
                    </div>
                    <div class="tab-pane fade" id="organisationpricing" role="tabpanel" aria-labelledby="organisationpricingtab">
						<div class="row">
							{%include 'user/join_organisation_options.html'%}
						</div>
                    </div>
                </div>
            </div>
        </section>
		{%include 'user/join_testomonials.html'%}
		{%include 'user/join_FAQ.html'%}
{%endblock%}
