{%load general%}
<div class='col-8 mx-auto' style='margin-bottom:30px;'>
	Our organisation subscription plan, offers schools and professional tuition centers and any other type of educational organisation the 
	tools they need to manage thier existing students and find new ones, ranging from the ability 
	create and manage classes, to being being able set homework and track their student's progess. This 
	subscription automatically provides all educators and students within the organistion with the relevant premium tools they may need
	in their individual accounts.
</div>
<div class="container">
	<div class="table-responsive-lg">
		<table class="table table-striped pricing-table">
			<thead>
				<tr>
					<th class="border-0 pb-5 h3 plan-content-title"> Features</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Demo</h6>
						{%if user.is_authenticated%}
							{%if user|in_groups:'School TuitionCenter'%}
							<p class="small pricing-plan-allotment"><i class="bi bi-check-circle-fill" style='color:green;'></i></p>
							<a id='educator_free_plan' href="#" class="btn btn-block btn-outline-primary btn-rounded">-</a>
							{%else%}
							<p class="font-weight-bold pricing-plan-amount"><span class="h1">-</span></p>
							<p class="small pricing-plan-allotment">Please obtain a verified organisation account first</p>
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Organisation Account</a>
							{%endif%}
						{%else%}
						<p class="small pricing-plan-allotment">-</p>
						<a id='educator_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Monthly limited</h6>
						{%if user.is_authenticated%}
							{%if user|in_groups:'School TuitionCenter'%}
							<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.organisation_monthly_limited_plan.unit_amount|divide:100}}</span></p>
							<p class="small pricing-plan-allotment">Per organisation, per month</p>
							<button id='organisation_monthly_limited_plan' class="btn btn-block btn-outline-primary btn-rounded">
		    					    <p id='organisation_monthly_limited_plan_text' style='margin:0;'>Go yearly</p>
							    <div id='organisation_monthly_limited_plan_spinner' class='d-none'>
								<div class="d-flex justify-content-center">
								  <div class="spinner-border spinner-border-sm" role="status">
								    <span class="sr-only">Loading...</span>
								  </div>
								</div>
							    </div>
							</button>
								<script>
									document
									.getElementById("organisation_monthly_limited_plan")
									.addEventListener("click", function (evt) {
										loading_checkout(true, '#organisation_monthly_limited_plan', '#organisation_monthly_limited_plan_spinner', '#organisation_monthly_limited_plan_text');
										CreateCheckoutSession("{{context.organisation_monthly_limited_plan.id}}").then(function(data) {
										    // Call Stripe.js method to redirect to the new Checkout page
										if (data.sessionId){
										    stripe
										      .redirectToCheckout(
											{
											    sessionId: data.sessionId
											}
										      )
										}else{
											handleResult(data);
											loading_checkout(false, '#organisation_monthly_limited_plan', '#organisation_monthly_limited_plan_spinner', '#organisation_monthly_limited_plan_text');
										}
									});
									});
								</script>
							{%else%}
							<p class="font-weight-bold pricing-plan-amount"><span class="h1">-</span></p>
							<p class="small pricing-plan-allotment">Please obtain a verified organisation account first</p>
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Organisation Account</a>
							{%endif%}
						{%else%}
						<a id='educator_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Monthly Unlimited</h6>
						{%if user.is_authenticated%}
							{%if user|in_groups:'School TuitionCenter'%}
							<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.organisation_monthly_plan.unit_amount|divide:100}}</span></p>
							<p class="small pricing-plan-allotment">Per organisation, per month</p>
							<button id='organisation_monthly_plan' class="btn btn-block btn-outline-primary btn-rounded">
		    					    <p id='organisation_monthly_plan_text' style='margin:0;'>Go yearly</p>
							    <div id='organisation_monthly_plan_spinner' class='d-none'>
								<div class="d-flex justify-content-center">
								  <div class="spinner-border spinner-border-sm" role="status">
								    <span class="sr-only">Loading...</span>
								  </div>
								</div>
							    </div>
							</button>
								<script>
									document
									.getElementById("organisation_monthly_plan")
									.addEventListener("click", function (evt) {
										loading_checkout(true, '#organisation_monthly_plan', '#organisation_monthly_plan_spinner', '#organisation_monthly_plan_text');
										CreateCheckoutSession("{{context.organisation_monthly_plan.id}}").then(function(data) {
										    // Call Stripe.js method to redirect to the new Checkout page
										if (data.sessionId){
										    stripe
										      .redirectToCheckout(
											{
											    sessionId: data.sessionId
											}
										      )
										}else{
											handleResult(data);
											loading_checkout(false, '#organisation_monthly_plan', '#organisation_monthly_plan_spinner', '#organisation_monthly_plan_text');
										}
									});
									});
								</script>
							{%else%}
							<p class="font-weight-bold pricing-plan-amount"><span class="h1">-</span></p>
							<p class="small pricing-plan-allotment">Please obtain a verified organisation account first</p>
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Organisation Account</a>
							{%endif%}
						{%else%}
						<a id='educator_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
					<th class="text-center border-0 pb-5">
						<h6 class="lead font-weight-bold pricing-plan-title">Yearly Unlimited</h6>
						{%if user.is_authenticated%}
							{%if user|in_groups:'School TuitionCenter'%}
							<p class="font-weight-bold pricing-plan-amount">£<span class="h1">{{context.organisation_yearly_plan.unit_amount|divide:100}}</span></p>
							<p class="small pricing-plan-allotment">Per organisation, per year</p>
							<button id='organisation_yearly_plan' class="btn btn-block btn-outline-primary btn-rounded">
		    					    <p id='organisation_yearly_plan_text' style='margin:0;'>Go yearly</p>
							    <div id='organisation_yearly_plan_spinner' class='d-none'>
								<div class="d-flex justify-content-center">
								  <div class="spinner-border spinner-border-sm" role="status">
								    <span class="sr-only">Loading...</span>
								  </div>
								</div>
							    </div>
							</button>
								<script>
									document
									.getElementById("organisation_yearly_plan")
									.addEventListener("click", function (evt) {
										loading_checkout(true, '#organisation_yearly_plan', '#organisation_yearly_plan_spinner', '#organisation_yearly_plan_text');
										CreateCheckoutSession("{{context.organisation_yearly_plan.id}}").then(function(data) {
										    // Call Stripe.js method to redirect to the new Checkout page
										if (data.sessionId){
										    stripe
										      .redirectToCheckout(
											{
											    sessionId: data.sessionId
											}
										      )
										}else{
											handleResult(data);
											loading_checkout(false, '#organisation_yearly_plan', '#organisation_yearly_plan_spinner', '#organisation_yearly_plan_text');
										}
									});
									});
								</script>
							{%else%}
							<p class="font-weight-bold pricing-plan-amount"><span class="h1">-</span></p>
							<p class="small pricing-plan-allotment">Please obtain a verified organisation account first</p>
							<a id='' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Organisation Account</a>
							{%endif%}
						{%else%}
						<a id='educator_free_plan' href="{%url 'user:register'%}"class="btn btn-block btn-outline-primary btn-rounded">Sign Up</a>
						{%endif%}
					</th>
				</tr>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row" class="border-0">Access to all content</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-circle text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Organisation Management System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-circle text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Organisation Progress Tracking System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-circle text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Organisation Performance Tracking System</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-circle text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Organisation Statistical Reports</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-circle text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Create Classes</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-circle text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-warning"></i> Max 10</span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Create Teacher Accounts</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-circle text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-warning"></i> Max 10</span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
				<tr>
					<td scope="row" class="border-0">Create Supervised Student Accounts</td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-circle text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-warning"></i> Max 50</span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
					<td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="bi bi-check-circle-fill text-success"></i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
