{% extends 'base/base.html'%}
{%load static%}
{%load general%}

{%block pagestatic%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="{%static 'user/css/main.css'%}">
<script src="{%static 'user/js/main.js'%}"></script>
{%endblock%}
{%block page_name%}
	Account
{%endblock%}
{%block title%}
	Account
{%endblock%}

{%block content%}
<div class="container-xl px-4 mt-4">
{%definevar 'user_settings' as alert_loc%}
{%include 'base/alert.html'%}
{%definevar 'settings' as active_link%}
{%include 'user/parts/_navigation.html'%}
<div class="row">
	<div class="col-lg-8">
	<!-- Email notifications preferences card-->
	<div class="card card-header-actions mb-4">
	<div class="card-header">
	Email Notifications
	</div>
	<div class="card-body">
		{%definevar context.form_emailchoice as form%}
		{%include 'user/forms/emailchoice.html'%}
	</div>
</div>
</div>
<div class="col-lg-4">
<!-- Notifications preferences card-->
<div class="card">
<div class="card-header">Appearance</div>
	<div class="card-body">
		{%definevar context.form_appearancechoice as form%}
		{%include 'user/forms/appearancechoice.html'%}
	</div>
</div>
<br>
<div class="card">
<div class="card-header">Language</div>
	<div class="card-body">
		{%definevar context.form_languagechoice as form%}
		{%include 'user/forms/languagechoice.html'%}
	</div>
</div>
</div>
</div>
</div>
{%endblock%}
