<hr class='sidebar-divider' style='border-width:2px;'>
 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Course Type Pricing</h1>
      <p class="lead">Each course on PracticePractice follows one of the following pricing standards, once you buy a course you own it forever! <br>Note: <a href='{%url 'dashboard:student_performance'%}'><strong class='text-primary'>ChatGPT monthly charge depends on your usage, you can see your usage and our rate here.</strong></a></p>
    </div>

    <div class="container">
	<a type= 'button' class='btn btn-info mb-2 d-flex justify-content-center' href='{%url 'content:marketcourse' context.course.id%}'> Buy this course</a>
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Basic</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">£10</h1>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Intermediate</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">£20</h1>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Advanced</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">£30</h1>
          </div>
        </div>
      </div>
    </div>
</div>
