{%load general %}

<div id='custompractice'>
	<div class="mb-4">
		<div class="card-body">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h5 class="h4 mb-1 text-primary font-weight-bold">
					Create Custom Test
					</h5><br>
				</div>
				<div style='padding:10px;'>
					<p>
					Create a test, select modules, chapters, number of questions,and the difficulty of the question.
					</p>
					<!-- Button trigger modal -->
					<!-- Modal -->
				</div>
			</div>
		</div>
	</div>
</div>

