{%load general %}

<div id='custompractice'>
	<div class="mb-4">
		<div class="card-body">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h5 class="h4 mb-1 text-primary font-weight-bold">
					Create Custom Test
					</h5><br>
				</div>
				<div style='padding:10px;'>
					<p>
					Create a test, select modules, chapters, number of questions,and the difficulty of the question.
					</p>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customtest_modal">
						Create Custom Test
					</button>
					<hr class="sidebar-divider">
					<p>
					Create a mock exam; a random test with 10 questions of varying difficulties is made.
					</p>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exam_modal">
						Create Exam
					</button>

					<!-- Modal -->
					<div class="modal fade" id="customtest_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-body" style='padding:0px;'>
						      {%include "content/items/custompractice-testmaker.html"%}
					      </div>

					      <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick= "controller.C_get_practice_paper()">Create</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="exam_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Create Exam</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					      </div>
					      <div class="modal-body">
						...
					      </div>
					      <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Create</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

