{%load general %}
<div class="modal fade" id="customtest_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style='padding:0px;'>
	      {%include "content/items/custompractice-testmaker.html"%}
      </div>

      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" onclick= "controller.C_get_practice_paper()">Create</button>
      </div>
    </div>
  </div>
</div>




<div id='paperhistory'>
	<div class="mb-4">
		<div class="card-body">
			<div class="card shadow mb-4 border-0">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between border">
					<h5 class="h4 mb-1 text-primary font-weight-bold">
					Custom Tests:
					<button type="button" class="ml-2 btn btn-primary" data-toggle="modal" data-target="#customtest_modal">
						Create Custom Test
					</button>
					</h5>
				</div>
			        <div class="card mb-4" id='billing_history'>
			            <div class="card-body p-0">
			                <!-- Billing history table-->
			                <div class="table-responsive table-billing-history">
			            	<table class="table mb-0 my_table_theme">
			            	    <thead>
			            		<tr>
			            		    <th class="">Type</th>
			            		    <th class="">Completed</th>
			            		    <th class="">Date</th>
			            		</tr>
			            	    </thead>
			            	    <tbody>
						{%for test in context.testhistory%}
							{%if test|dbobjmeta:'model_name' == 'userpaper'%}
							<tr>
								<td><a type="button" class="btn btn-info" href="/study/content/customtest/{{context.course.id|hashid}}/{{test.id|hashid}}"> Paper</a></td>
							    <td>
								    {%if test.pap_completion%}
								    <i class="bi bi-check-circle-fill" style='color:green;'></i>
								    {%else%}
								    <i class="bi bi-x-circle-fill" style='color:red;'></i>
								    {%endif%}
							    </td>
							    <td>{{test.pap_creation_time|date:'d-m-Y'}}</td>
							</tr>
							{%elif test|dbobjmeta:'model_name' == 'lesson_quiz'%}
							<tr>
								<td><a type="button" class="btn btn-info" href="/study/content/coursequiz/{{context.course.id|hashid}}/{{test.id|hashid}}"> Quiz</a></td>
							    <td>
								    {%if test.completed%}
								    <i class="bi bi-check-circle-fill" style='color:green;'></i> {{test.percentage_score}}%
								    {%else%}
								    <i class="bi bi-x-circle-fill" style='color:red;'></i>
								    {%endif%}
							    </td>
							    <td>{{test.created_at|date:'d-m-Y'}}</td>
							</tr>
							{%endif%}
						{%endfor%}
			            	    </tbody>
			            	</table>
			                </div>
			            </div>
			        </div>
			</div>
		</div>
	</div>
</div>
