{%load general %}
<div id='practicehistory'>
	<div class="mb-4">
		<div class="card-body">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h5 class="h4 mb-1 text-primary font-weight-bold">
					Question Marking History
					</h5>
				</div>
			        <div class="card mb-4" id='billing_history'>
			            <div class="card-body p-0">
			                <!-- Billing history table-->
			                <div class="table-responsive table-billing-history">
			            	<table class="table mb-0">
			            	    <thead>
			            		<tr>
			            		    <th class="border-gray-200" scope="col">Question</th>
			            		    <th class="border-gray-200" scope="col">Module</th>
			            		    <th class="border-gray-200" scope="col">Chapter</th>
			            		    <th class="border-gray-200" scope="col">Difficulty</th>
			            		    <th class="border-gray-200" scope="col">Attempt Number</th>
			            		    <th class="border-gray-200" scope="col">Mark</th>
			            		</tr>
			            	    </thead>
			            	    <tbody>
						{%for question in context.questionhistory%}
			            		<tr>
						    <td><a type="button" class="btn btn-info" href="/study/content/notes/xjBpDBZn"> Open</a></td>
						    <td>{{question.question.q_moduel|field_name_to_label}}</td>
						    <td>{{question.question.q_chapter|field_name_to_label}}</td>
						    <td>{{question.question.q_difficulty}}</td>
						    <td>{{question.track_attempt_number}}</td>
						    {%if question.question.q_type == 'MultipleChoice'%}
			            		    <td>
							    {%if question.track_mark_boolean%}
			            			    <i class="bi bi-check-circle-fill" style='color:green;'></i>
							    {%else%}
							    <i class="bi bi-x-circle-fill" style='color:red;'></i>
							    {%endif%}
			            		    </td>
						    {%else%}
						    <td>{{question.track_mark}}/{{question.question.q_total_marks}}</td>
						    {%endif%}
			            		</tr>
						{%endfor%}
			            	    </tbody>
			            	</table>
			                </div>
			            </div>
			        </div>
			</div>
		</div>
	</div>
</div>
