{%load general %}
	<div id='qchapter_nav'>
		<div class="mb-4">
			<div class="card-body">
				<div class="card shadow mb-4">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h5 class="h4 mb-1 text-primary font-weight-bold">
							All chapters
							<a type="button" class="btn btn-success" style='margin:auto;'href="{%url 'dashboard:student_performance' context.course.id %}">
							MyPerformance
							</a>
						</h5>
					</div>
					{%for module in content%}
					<div class="accordion mb-1" id="Module_{{module}}" style='padding:5px;'>
					  <div class="card">
						  <div class="card-header" id="heading-{{module}}" style='background:#000000;color:white;'>
					      <h2 class="mb-0">
							<button class="btn btn-block text-left" style='color:white;' type="button" data-toggle="collapse" data-target="#collapse-{{module}}" aria-expanded="true" aria-controls="collapse-{{module}}">
							<i class="bi bi-arrow-bar-right"></i> Module {{forloop.counter}} - {{module|field_name_to_label}}
						</button>
					      </h2>
					    </div>

					    <div id="collapse-{{module}}" class="collapse" aria-labelledby="heading-{{module}}" data-parent="#Module_{{module}}">
					      <div class="card-body" style='padding:10px;'>
							{%for chapter in content|index:module|index:'content'%}
							      <div class="card-body" style='padding:10px;font-size:12px;'>
								      <a href='{%url 'AI:index' context.course.id module chapter%}' style='text-decoration:none;'><span class='font-weight-bold ml-1'><i class="bi bi-arrow-bar-right"></i> Chapter {{forloop.counter}} - {{chapter|field_name_to_label}} <i class="fa fa-duotone fa-robot" name="GPT" unselectable="on" aria-hidden="true"></i></span></a><br>
								      <a type= 'button' class='text-success' href="{%url 'content:practice' context.course.id module chapter%}">Questions</a><br>
								    <a type= 'button' class='text-warning' href="{%url 'content:notearticle' context.course.id module chapter%}">Raw</a>
								    <br>
							      </div>
							{%endfor%}
					      </div>
					    </div>
					  </div>
					</div>
					{%endfor%}
				</div>
			</div>
		</div>
	</div>
