{%load static %}
{%load general %}
<div id='summarystatistics'>
	<div class="mb-4">
		<div class="card-body">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h5 class="h4 mb-1 text-primary font-weight-bold">
					Summary Statistics	
					</h5>
				</div>
				<div class="card-body">
					<div>
						<div class="chart-area">
							<h4 style='display:inline-block;'>
							| Total Questions: 5000 |
							</h4>
							<h4 style='display:inline-block;'>
							| Answered: 1050 |
							</h4><br>
							<h4 style='display:inline-block;'>
							| Seen: 1050 |
							</h4>
							<h4 style='display:inline-block;'>
							| Unseen: 1050 |
							</h4>
						</div>
						<hr class="sidebar-divider">
						<div class="chart-area">
							<canvas id="myAreaChart"></canvas>
						</div>
						<hr class="sidebar-divider">
						<div class="chart-pie pt-4 pb-2">
							<canvas id="myPieChart"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'dashboard/vendor/jquery/jquery.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'dashboard/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'dashboard/js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'dashboard/vendor/chart.js/Chart.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'dashboard/js/demo/chart-area-demo.js'%}"></script>
    <script src="{%static 'dashboard/js/demo/chart-pie-demo.js'%}"></script>
