{%load static %}
{%load general%}

<div class='AI_main_window'>
	<div class='AI_window_chat' id='AI_window_chat_id'>
	<div style='height: 0px;' id='main_chat_container'>
		<div id='main_chat_scroll_container'>
			<div class='AI_chat_text AI_text_ai'>
				<div class='AI_text_wrap'>
					<div class='AI_text_image'>
						<i class="bi bi-robot"></i>
					</div>
					<div class='AI_text_text' id='AI_text_introduction'>
						<span class='blink'style='display:inline-block;width: 5px;height:12px;background:var(--text-color-1);'>
							 
						</span>
					</div>
					<script>
					window.onload = function() {
					  util.write('AI_text_introduction', '');
					};
					</script>
				</div>
			</div>
			<div class='AI_chat_text AI_text_user'>
				<div class='AI_text_wrap'>
					<div class='AI_text_image'>
						<i class="bi bi-send-fill"style='color: var(--text-color-1);'></i>
					</div>
					<div class='AI_text_text'>
						<textarea class="form-control bg-transparent mb-3 AI_user_text_area" style="color: var(--text-color-1);">I have a form and an iframe, the form submits with the iframe as the target, I want to detect when a response is given to the target and get its value reset the chat right here please</textarea>
						<div class='AI_window_typing'>
							<div style='margin:auto;'>
							<button class='btn btn-success'>
								Save & Submit
							</button>
							<button class='btn btn-secondary'>
								Cancel
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='AI_chat_text AI_text_user'>
				<div class='AI_text_wrap'>
					<div class='AI_text_image'>
						<i class="bi bi-send-fill"style='color: var(--text-color-1);'></i>
					</div>
					<div class='AI_text_text'>
						<textarea class="form-control bg-transparent mb-3 AI_user_text_area" style="color: var(--text-color-1);">I have a form and an iframe, the form submits with the iframe as the target, I want to detect when a response is given to the target and get its value reset the chat right here please</textarea>
						<div class='AI_window_typing'>
							<div style='margin:auto;'>
							<button class='btn btn-success'>
								Save & Submit
							</button>
							<button class='btn btn-secondary'>
								Cancel
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='AI_chat_text AI_text_user'>
				<div class='AI_text_wrap'>
					<div class='AI_text_image'>
						<i class="bi bi-send-fill"style='color: var(--text-color-1);'></i>
					</div>
					<div class='AI_text_text'>
						<textarea class="form-control bg-transparent mb-3 AI_user_text_area" style="color: var(--text-color-1);">I have a form and an iframe, the form submits with the iframe as the target, I want to detect when a response is given to the target and get its value reset the chat right here please</textarea>
						<div class='AI_window_typing'>
							<div style='margin:auto;'>
							<button class='btn btn-success'>
								Save & Submit
							</button>
							<button class='btn btn-secondary'>
								Cancel
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='AI_chat_text AI_text_user'>
				<div class='AI_text_wrap'>
					<div class='AI_text_image'>
						<i class="bi bi-send-fill"style='color: var(--text-color-1);'></i>
					</div>
					<div class='AI_text_text'>
						<textarea class="form-control bg-transparent mb-3 AI_user_text_area" style="color: var(--text-color-1);">I have a form and an iframe, the form submits with the iframe as the target, I want to detect when a response is given to the target and get its value reset the chat right here please</textarea>
						<div class='AI_window_typing'>
							<div style='margin:auto;'>
							<button class='btn btn-success'>
								Save & Submit
							</button>
							<button class='btn btn-secondary'>
								Cancel
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='AI_chat_text AI_text_user'>
				<div class='AI_text_wrap'>
					<div class='AI_text_image'>
						<i class="bi bi-send-fill"style='color: var(--text-color-1);'></i>
					</div>
					<div class='AI_text_text'>
						<textarea class="form-control bg-transparent mb-3 AI_user_text_area" style="color: var(--text-color-1);">I have a form and an iframe, the form submits with the iframe as the target, I want to detect when a response is given to the target and get its value reset the chat right here please</textarea>
						<div class='AI_window_typing'>
							<div style='margin:auto;'>
							<button class='btn btn-success'>
								Save & Submit
							</button>
							<button class='btn btn-secondary'>
								Cancel
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='AI_chat_text AI_text_user'>
				<div class='AI_text_wrap'>
					<div class='AI_text_image'>
						<i class="bi bi-send-fill"style='color: var(--text-color-1);'></i>
					</div>
					<div class='AI_text_text'>
						<textarea class="form-control bg-transparent mb-3 AI_user_text_area" style="color: var(--text-color-1);">I have a form and an iframe, the form submits with the iframe as the target, I want to detect when a response is given to the target and get its value reset the chat right here please</textarea>
						<div class='AI_window_typing'>
							<div style='margin:auto;'>
							<button class='btn btn-success'>
								Save & Submit
							</button>
							<button class='btn btn-secondary'>
								Cancel
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div style='margin: auto;'>
		<button class='sidebar_button lesson_button mt-2' id='previous_topic_button' style='width:auto; padding:10px;display:inline-block;'>
			<i class="bi bi-arrows-fullscreen mr-2"></i> Previous topic
		</button>
		<button class='sidebar_button lesson_button mt-2 ml-3 mr-3' id='toggle-sidebar-btn' style='width:auto; padding:10px;display:inline-block;'>
			<i class="bi bi-arrows-fullscreen mr-2"></i> Show menu	
		</button>
		<button class='sidebar_button lesson_button mt-2' id='next_topic_button' style='width:auto; padding:10px;display:inline-block;'>
			<i class="bi bi-arrows-fullscreen mr-2"></i> Next topic
		</button>
	</div>
</div>
<script>
	const toggleSidebarBtn = document.querySelector('#toggle-sidebar-btn');
	const toggleSidebarBtn_2 = document.querySelector('#toggle-sidebar-btn-2');

	toggleSidebarBtn.addEventListener('click', function() {
		document.body.classList.toggle('show-sidebar');
	});
	toggleSidebarBtn_2.addEventListener('click', function() {
		document.body.classList.toggle('show-sidebar');
	});
</script>
