{%load static %}
{%load general%}
{%for lesson in context.lessons%}
{%include 'AI/items/modal_lesson_part.html'%}
{%endfor%}
<div class='AI_side_bar' id='AI_side_bar'>
	<div class='AI_side_lessons_wrapper'>
		<div style='margin:auto; padding: 10px;'>
			<h1 style='margin:auto; color:var(--text-color-2); padding:10px;'>
				{{context.lesson.moduel|field_name_to_label}}: {{context.lesson.chapter|field_name_to_label}}
			</h1>
		</div>
		<div class='AI_side_lessons mt-5'>
			{%for part in context.lesson_parts%}
			<a class='sidebar_button part_button disabled' data-toggle="modal" data-target="#{{part.id|hashid}}_part_modal">
				{{part.topic|field_name_to_label}}
			</a>
			{%endfor%}
		</div>
	</div>
	<div class='AI_side_options'>
	<hr class="sidebar-divider">
	<a class='sidebar_button lesson_button'>
	    {%definevar 'AI_window' as alert_loc%}
	    {%include 'base/alert.html'%}
	</a>
	<a class='sidebar_button lesson_button mb-2' style='padding: 10px;' href='{%url 'content:notes' context.course.id%}'>
		<i class="bi bi-arrow-bar-left"> </i>Go back
	</a>
	<button class='sidebar_button lesson_button' style='padding: 10px;' id='toggle-sidebar-btn-2'>
		<i class="bi bi-arrows-fullscreen mr-2"></i> Hide menu
	</button>
	</div>
</div>
