{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}
{%block page_name%}
Earning
{%endblock%}
{%block content%}
<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Content Row -->
	<div class="row">

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								Estimated Earnings This Month:
							</div>
							<div class="h5 mb-0 font-weight-bold text-white-800">£ {{context.estimated_earnings}}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-white-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
								Number of active coure subscriptions this month
							</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-white-800">{{context.total_month_active_course_subscriptions}}</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-user-graduate fa-2x text-white-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
								Total Number Of Course Subscriptions
							</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-white-800">{{context.total_course_subscriptions}}</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-user-graduate fa-2x text-white-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
								My Affiliate Code</div>
							<div class="h5 mb-0 font-weight-bold text-white-800">{{user.id|hashid}}</div>
						</div>
						<div class="col-auto">
							<i class="bi bi-megaphone"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Content Row -->

	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Significant Clicks</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-area">
						<canvas id="clicks_chart"></canvas>
						{%definevar 'clicks_chart' as canvas_id %}
						{%definevar context.labels as plot_labels %}
						{%definevar context.clicks_dataset as plot_data %}
						{%include 'dashboard/plots/plot_multi_line.html'%}
					</div>
				</div>
			</div>
		</div>

		<!-- Pie Chart -->
		<div class="col-xl-4 col-lg-5">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Coruse CLicks</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-pie pt-4 pb-2">
						<canvas id="brak_by_course_pie"></canvas>
						{%definevar 'brak_by_course_pie' as canvas_id %}
						{%definevar context.total_course_clicks|index:0 as plot_labels %}
						{%definevar context.total_course_clicks|index:1 as plot_data %}
						{%include 'dashboard/plots/plot_pie.html'%}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
