aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
alembic==1.10.3
amqp==5.1.1
anyio==3.6.2
apprise==1.3.0
argcomplete==3.0.5
asgi-lifespan==2.1.0
asgiref==3.4.1
async-timeout==4.0.2
asyncpg==0.27.0
attrs==22.2.0
awscli==1.29.9
beautifulsoup4==4.12.2
billiard==3.6.4.0
black @ git+https://github.com/psf/black@80de2372e4ec385c082c38f365414ac3622a4010
bleach==6.0.0
boto3==1.28.9
botocore==1.31.9
cachetools==5.3.0
celery==5.2.7
certifi==2021.10.8
cffi==1.15.0
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.2.1
colorama==0.4.4
coolname==2.2.0
courlan==0.9.0
croniter==1.3.14
cryptography==36.0.2
dataclasses-json==0.5.7
datamodel-code-generator==0.17.2
dateparser==1.1.8
Deprecated==1.2.13
distlib==0.3.4
dj-stripe==2.6.1
Django==4.0.1
django-appconf==1.0.5
django-braces==1.15.0
django-ckeditor==6.5.1
django-dbbackup==4.0.2
django-js-asset==2.0.0
django-multiselectfield==0.1.12
django-paypal==2.0
django-smtp-ssl==1.0
django-storages==1.13.1
django-utils-six==2.0
django-view-breadcrumbs==2.2.7
dnspython==2.3.0
docker==6.0.1
docutils==0.16
duckduckgo-search==2.8.5
email-validator==1.3.1
fake-useragent==1.1.3
fastapi==0.95.0
filelock==3.6.0
flake8==4.0.1
frozenlist==1.3.3
fsspec==2023.4.0
genson==1.2.2
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
greenlet==2.0.2
griffe==0.27.0
h11==0.14.0
h2==4.1.0
hashids==1.3.1
hpack==4.0.0
htmldate==1.4.2
httpcore==0.17.0
httplib2==0.22.0
httpx==0.24.0
hyperframe==6.0.1
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.12.0
inflect==5.6.2
isort==5.12.0
jellyfish==0.11.2
Jinja2==3.1.2
jmespath==1.0.1
jsonfield==3.1.0
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jsonschema-spec==0.1.4
jusText==3.0.0
kombu==5.2.4
kubernetes==26.1.0
langchain==0.0.137
langcodes==3.3.0
lazy-object-proxy==1.9.0
linkify-it-py==2.0.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.3.4
markdown-it-py==2.2.0
markdownify==0.11.6
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mccabe==0.6.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==0.4.3
nest-asyncio==1.5.6
networkx==3.1
numpy==1.22.0
oauthlib==3.2.2
openai==0.27.1
openapi-schema-pydantic==1.2.4
openapi-schema-validator==0.3.4
openapi-spec-validator==0.5.1
orjson==3.8.10
packaging==21.3
pandas==1.5.0
pathable==0.4.3
pathspec==0.10.3
paypalrestsdk==1.13.1
pendulum==2.1.2
pexpect==4.8.0
platformdirs==2.5.1
pluggy==1.0.0
prance==0.22.2.22.0
prefect==2.10.3
prompt-toolkit==3.0.32
protobuf==4.22.1
psycopg2-binary==2.9.3
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.7
pyflakes==2.4.0
Pygments==2.15.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
pyrsistent==0.19.3
PySnooper==1.1.1
python-dateutil==2.8.2
python-decouple==3.5
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0.1
rcssmin==1.1.1
readchar==4.0.5
redis==4.3.4
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.4
rjsmin==1.2.1
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
segtok==1.5.11
simpleeval==0.9.13
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a33
sqlitedict==2.1.0
sqlmodel==0.0.8
sqlparse==0.4.2
starlette==0.26.1
stripe==4.1.0
tabulate==0.9.0
tenacity==8.2.2
text-unidecode==1.3
textual==0.19.1
tiktoken==0.3.3
tld==0.13
toml==0.10.2
tomli==2.0.1
tox==3.24.5
tqdm==4.65.0
trafilatura==1.5.0
typed-ast==1.5.4
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.4.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
ulid-py==1.1.0
uritemplate==4.1.1
urllib3==1.26.9
uvicorn==0.21.1
vine==5.0.0
virtualenv==20.14.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.1
wikipedia==1.4.0
wrapt==1.14.1
xxhash==3.2.0
yake==0.4.8
yarl==1.8.2
zipp==3.8.1
