aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
asgiref==3.4.1
async-timeout==4.0.2
attrs==22.2.0
awscli==1.27.8
backports.zoneinfo==0.2.1
billiard==3.6.4.0
black @ git+https://github.com/psf/black@80de2372e4ec385c082c38f365414ac3622a4010
boto3==1.26.8
botocore==1.29.8
celery==5.2.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cryptography==36.0.2
Deprecated==1.2.13
distlib==0.3.4
dj-stripe==2.6.1
Django==4.0.1
django-appconf==1.0.5
django-braces==1.15.0
django-ckeditor==6.5.1
django-dbbackup==4.0.2
django-js-asset==2.0.0
django-multiselectfield==0.1.12
django-paypal==2.0
django-smtp-ssl==1.0
django-storages==1.13.1
django-utils-six==2.0
django-view-breadcrumbs==2.2.7
docutils==0.16
filelock==3.6.0
flake8==4.0.1
frozenlist==1.3.3
hashids==1.3.1
idna==3.3
importlib-metadata==4.12.0
jmespath==1.0.1
jsonfield==3.1.0
kombu==5.2.4
Markdown==3.3.4
mccabe==0.6.1
multidict==6.0.4
mypy-extensions==0.4.3
numpy==1.22.0
openai==0.27.1
packaging==21.3
pandas==1.5.0
pathspec==0.10.3
paypalrestsdk==1.13.1
pexpect==4.8.0
platformdirs==2.5.1
pluggy==1.0.0
prompt-toolkit==3.0.32
psycopg2-binary==2.9.3
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-decouple==3.5
pytz==2022.1
PyYAML==5.4.1
rcssmin==1.1.1
redis==4.3.4
requests==2.27.1
rjsmin==1.2.1
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
stripe==4.1.0
toml==0.10.2
tomli==2.0.1
tox==3.24.5
tqdm==4.65.0
typing_extensions==4.4.0
urllib3==1.26.9
vine==5.0.0
virtualenv==20.14.0
wcwidth==0.2.5
wrapt==1.14.1
yarl==1.8.2
zipp==3.8.1
