{%extends 'registration/base.html'%}
{%block pagename%}
Delete Account
{%endblock%}
{%load general%}

{%block content%}
<!-- Outer Row -->
<div class="row justify-content-center">

	<div class="col-xl-10 col-lg-12 col-md-9">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block bg-password-image" style='background:Black;'></div>
					<div class="col-lg-6">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-2">You're about to finish</h1>
								<p class="mb-4">
								Enter your login details to delete your account permanently.
								</p>
							</div>
							<form class="user px-3 py-3"  action="{%url 'user:_deleteaccount_2'%}" method="POST" role="form">
								{% csrf_token %}
								{%definevar 'deleteaccount2' as alert_loc%}
								{%include 'base/alert.html'%}
								<input type="hidden" class="form-control form-control-user" name="uidb64" value='{{context.uidb64}}'>
								<input type="hidden" class="form-control form-control-user" name="token" value='{{context.token}}'>
								<div class="form-group">
						  			<input type="text" class="form-control form-control-user mb-2" name="username" placeholder="Username/Email">
						  			<input type="text" class="form-control form-control-user" name="password" placeholder="Password">
								</div>
								 <button type="submit" class="btn btn-danger btn-user btn-block">Delete Account</button>
								<hr>
								<a href="{%url 'content:index'%}" class="btn btn-success btn-user btn-block">
									Cancel	
								</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
{%endblock%}
