{%extends 'registration/base.html'%}
{%block pagename%}
Password reset
{%endblock%}
{%load general%}

{%block content%}
<!-- Outer Row -->
<div class="row justify-content-center">

	<div class="col-xl-10 col-lg-12 col-md-9">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block bg-password-image" style='background:Black;'></div>
					<div class="col-lg-6">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-2">Create New Password</h1>
								<p class="mb-4">You're almost done, create and confirm your new password here.
								</p>
							</div>
							{%if user.is_authenticated == False %}
							<form class="user px-3 py-3"  action="{%url 'user:_pwdreset'%}" method="POST" role="form">
								{% csrf_token %}
								{%definevar 'second_pwdreset_form' as alert_loc%}
								{%include 'base/alert.html'%}

								<input type="hidden" class="form-control form-control-user" name="uidb64" value='{{context.uidb64}}'>
								<input type="hidden" class="form-control form-control-user" name="token" value='{{context.token}}'>
								<div class="form-group">
						  			<input type="text" class="form-control form-control-user" name="password" placeholder="Enter your new Password">
								</div>
								<div class="form-group">
						  			<input type="text" class="form-control form-control-user" name="password_conf" placeholder="Confirm your Password">
								</div>
								 <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
								<hr>
								<a href="{%url 'content:index'%}" class="btn btn-google btn-user btn-block">
									Home 
								</a>
							</form>
							{%else%}
							You must be logged out before you can reset your password
							<form class="user px-3 py-3">
				  				<a class="btn btn-google btn-user btn-block" href="{%url 'user:_logout'%}">
									<i class="bi bi-box-arrow-in-left text-danger"></i> Logout</a>
								</li>
								<a href="{%url 'content:index'%}" class="btn btn-google btn-user btn-block">
									Home 
								</a>
							</form>
							{%endif%}
							<hr>
							<div class="text-center">
								<a class="small" href="{% url 'user:register'%}">Create an Account!</a>
							</div>
							<div class="text-center">
								<a class="small" href="{% url 'user:login'%}">Already have an account? Login!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
{%endblock%}
