{% extends 'base/base.html'%}
{%load static%}

{%block page_name%}
	Content
{%endblock%}

{%block title%}
	Content
{%endblock%}

{%block content%}




<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js'></script>
<style>
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.child{
	background:grey;
	padding:20px;
	margin:20px;
	text-align: center;
	cursor: pointer;
	width: 150px;
}
</style>
<div >
	<ol id='right' style='display:inline-block;background:silver;min-height:50px'>
		<li class='child'>
			<span class='handle'>+</span>first
		</li >
		<li class='child'>
			<span class='handle'>+</span>second
		</li>
		<li class='child'>
			<span class='handle'>+</span>third
		</li>
		<li class='child'>
			<span class='handle'>+</span>fourth
		</li>
		<li class='child'>
			<span class='handle'>+</span>fif
		</li>
	</ol>
	<ol id='left' style='display:inline-block;background:silver;min-height:50px'>
	</ol>
</div>
<script>
dragula([document.getElementById('left'), document.getElementById('right')], {
  moves: function (el, container, handle) {
    return handle.classList.contains('handle');
  },
  copy: function (el, source) {
    return source === document.getElementById(left)
  },
  accepts: function (el, target) {
    return target !== document.getElementById(left)
  },
});
</script>











	<div class="card text-center w-75 mb-5" style='margin:auto;border:2px solid black;'>
	  <img class="card-img-top" src="{%static 'base/img/Home.jpg'%}" alt="Card image cap" style="height:150px;object-fit:cover;">
	  <div class="card-body">
	    <h5 class="card-title">Notes</h5>
	    <h5 class="card-title">Universal Specification</h5>
	    <p class="card-text">This includes all of the notes we have for all subjects and specifications.</p>
	    <a href="{%url 'content:notes'%}" class="btn btn-primary">Study</a>
	  </div>
	</div>



	<div class="card text-center w-75 mb-5" style='margin:auto;border:2px solid black;'>
	  <img class="card-img-top" src="{%static 'base/img/maths.jpg'%}" alt="Card image cap" style="height:150px;object-fit:cover;">
	  <div class="card-body">
	    <h5 class="card-title">Practice Questions</h5>
	    <h5 class="card-title">Universal Question Bank</h5>
	    <p class="card-text">Questions split by topic and difficulty, to target your weakest points.</p>
	    <a href="{% url 'content:questions'%}" class="btn btn-primary">Practice</a>
	  </div>
	</div>


	<div class="card text-center w-75 mb-5" style='margin:auto;border:2px solid black;'>
	  <img class="card-img-top" src="{%static 'base/img/Physics.jpg'%}" alt="Card image cap" style="height:150px;object-fit:cover;">
	  <div class="card-body">
	    <h5 class="card-title">Papers</h5>
	    <h5 class="card-title">Past Papers</h5>
	    <p class="card-text">Relevant Past Papers from the most popular exam boards.</p>
	    <a href="{% url 'content:papers'%}" class="btn btn-primary">Practice</a>
	  </div>
	</div>
{%endblock%}
