{% extends 'base/base.html'%}
{%load general %}
{%load static %}

{%block page_name%}
	CourseStudy
{%endblock%}

{%block title%}
	CourseStudy
{%endblock%}

{%block content%}
{%if context.coursesubscription == False%}
	{%include 'content/items/course_buy.html'%}
{%else%}
{%definevar context.content as content%}
<h1 class='mb-2'>
	{{context.course.course_name|field_name_to_label}}
</h1>
<div id='qbank_container'>
	{%definevar 'questionbank' as alert_loc%}
	{%include 'base/alert.html'%}
	<div id ='left_container'>
		<div id ='first_row'>
		{%include 'content/items/paperhistory.html'%}
		</div>
	</div>

	<div id='right_container'>
	{%include 'content/items/qchapter_nav.html'%}
	</div>
</div>
{%endif%}
{%endblock%}
