{% extends 'base/base.html'%}
{%load static%}
{%load general%}

{%block page_name%}
Course Page
{%endblock%}

{%block content%}
{%definevar 'marketcourse' as alert_loc%}
{%include 'base/alert.html'%}

{%definevar context.course as course%}
{%include 'content/items/course_review_modal.html'%}

<div style='min-height: 100vh;'>
	<div class = 'market_course_wrapper' style='border-radius: 15px 15px 0px 0px'>
		<div class = 'market_course_card' style='max-width: 40em;padding: 10px;'>
			<h1 class='font-weight-bold'><i class="bi bi-book"></i> {{course.course_name}}</h1>
			<p> {{course.course_summary}}</p>
			{%definevar context.versions|index:0 as latest_version%}
			<div class="" style=''><strong><i class="bi bi-bar-chart-line"></i> Level:</strong> {{course.course_level}}</div>
			<div> <i class="bi bi-hammer"></i> <strong>Created by:</strong> 
				{{course.user.first_name}}
				{{course.user.last_name}}
				{%for contributor in course.course_contributors%}
				{{contributor}}
				{%endfor%}
			</div>
			<div> <i class="bi bi-clock-history"></i> <strong>Last Update:</strong> {{latest_version.version_updated_at|date:"M d, Y"}}</div>
		</div>
	</div>


	<div style=''>
		<div>
			<div class="marketcourse_middle" id='marketcourse_middle' >
				<div style='max-width: 40em;padding:15px;' class='mt-3 mb-3' id='marketcourse_learningobjective'>
					<h1 class='font-weight-bold' style='margin:auto;' > <i class="bi bi-bullseye"></i> Course Learning Objectives </h1>
					<div class='mt-2' id='marketcourse_middle_objectives' style=''>
						{%for idd,objective in course.course_learning_objectives.items%}
						<p class='mr-5'><i class="bi bi-check2-circle text-info mr-2"></i> {{objective}}</p>
						{%endfor%}
					</div>
					<div style='font-size: 12px;' class='mb-1'>
						<strong><i class="bi bi-lightning-fill"></i> Skills You'll gain:</strong>
						{%for idd, skill in course.course_skills.items%}
						<span class='mb-1 course_skill_span'>{{skill}}</span>
						{%endfor%}
					</div>
				</div>

				<div class="market_course_card card mt-3" id='marketcourse_coursecard'>
					{%if course.course_pic_status%}
					<img class="card-img-top" src="{{context.CDN_URL}}users/{{course.user.id}}/courses/{{course.id}}/course_thumbnail_{{course.course_pic_ext}}" alt="Card image cap">
					{%else%}
					<img class="card-img-top" src="{%static "base/svg/undraw_teaching_re_g7e3.svg"%}" alt="Card image cap">
					{%endif%}
					<div class="card-body">
						<div class="marketcourse_card_bottom">
							<div> <i class="bi bi-star-fill" style='color:gold;'></i> {{context.avg_reviews}}/5.0 (<a href='{%url 'content:coursereviews' course.id%}'>{{context.total_reviews}} reviews</a>) {{context.total_learners}} learners
							</div>
							<hr class="sidebar-divider mb-3">
							{%if user.is_authenticated == False%}
							<a type= 'button' class='btn btn-secondary mb-2' href='{%url 'content:content'%}'>Signup to entroll</a>
							{%elif context.course_subscription_status == False%}
							<form class="px-3 py-3"  action="{%url 'content:_course_subscribe'%}" method="POST" role="form">
								{%csrf_token%}
								<input name='course_id' value='{{course.id}}' type='hidden'>
								<button type= 'submit' class='btn btn-info mb-2' > Entroll Now</button>
							</form>
							{%else%}
							<a type= 'button' class='btn btn-success mb-2' href='{%url 'content:content'%}'>Study</a>
							<a type= 'button' class='btn btn-success mb-2' data-toggle="modal" data-target="#GiveReviewModal">Give/Update review</a>
							{%endif%}
						</div>
					</div>
				</div>


				<div style='margin:auto; padding:15px;' class='mb-3 mt-5' id='marketcourse_courseoutline'>
					<h1 class='font-weight-bold' style='margin:auto;' > <i class="bi bi-journal-text"></i> Course Outline </h1>
					<div class='mt-2' style=''>
						{%definevar context.ordered_content as content%}
						{%include 'dashboard/general/items/outline_item.html'%}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
