{% extends 'base/base.html'%}
{%load general %}
{%load static %}

{%block page_name%}
	Notes
{%endblock%}

{%block title%}
{{context.title|field_name_to_label}} - {{context.sampl_object.p_level|field_name_to_label}} {{context.sampl_object.p_subject|field_name_to_label}} {{context.sampl_object.p_moduel|field_name_to_label}} Revision
{%endblock%}

{%block meta%}
<meta name="description" content="
{{context.title|field_name_to_label}} {{context.sampl_object.p_level|field_name_to_label}} {{context.sampl_object.p_subject|field_name_to_label}} revision, looking at {{context.sampl_object.p_moduel|field_name_to_label}}, including definitions, examples, formulara, practice questions and worked solutions, all in one place!
">
{%if context.spec.spec_board != 'Universal'%}
<meta name="robots" content="noindex">
{%endif%}
{%endblock%}

{%block content%}
{%include 'content/mathjax.html'%}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>


{%definevar context.spec as spec%}
{%definevar context.sampl_object as sample%}

<div class="container col-9 text-justify note_title_rapper" style='padding:5px;'>
	<h1 class = "font-weight-bold notes_title_module" style=''>
	{{context.sampl_object.p_moduel|field_name_to_label}}
	</h1>
	{%if context.previous != None%}
	<a class="chapter_nav_link" 
		href="{% url 'content:notearticle' context.course.id context.sampl_object.p_moduel context.previous%}" 
		style=''>
		<i class="bi bi-arrow-bar-left"></i> {{context.previous|field_name_to_label}}
	</a>
	{%else%}
	<a class="chapter_nav_link" 
		href="#" 
		style=''>
		End
	</a>
	{%endif%}
	{%if context.next != None%}
	<a class="ml-3 chapter_nav_link" 
		href="{% url 'content:notearticle' context.course.id context.sampl_object.p_moduel context.next%}" 
		style=''>
		<i class="bi bi-arrow-bar-right"></i>{{context.next|field_name_to_label}}
	</a>
	{%else%}
	<a class="ml-3 chapter_nav_link" 
		href="#" 
		style=''>
		End
	</a>
	{%endif%}
	<br>
	<a class="chapter_nav_link" 
	   href="{% url 'content:practice' context.course.id sample.p_moduel sample.p_chapter%}" 
		style=''>
		<i class="bi bi-star-fill"></i> Practice Questions
	</a>
</div>





<div class="container col-9 text-justify note_container" style=''>



	<h1 class = "font-weight-bold note_title_chapter" style=''>
		{{context.title|field_name_to_label}}
	</h1>
	{%for topic in context.article%}
	<h2>
		{{topic|field_name_to_label}}
	</h2>
	<div class='ml-1 note_point_wrapper' style=''>
        {%for point in context.article|index:topic%}
	    <div class='point_div ml-1 mb-2' style=''>
		    {{point.p_content|ToMarkdown:point.id|safe}}
	    </div>
        {%endfor%}
	</div>
	<div class='note_bottom_border' style=''></div>
	{%endfor%}
</div>




<div class="container col-9 text-justify" style='padding:5px;border:1px solid black;'>
	{%if context.previous != None%}
	<a class="chapter_nav_link" 
		href="{% url 'content:notearticle' context.course.id context.sampl_object.p_moduel context.previous%}" 
		style=''>
		<i class="bi bi-arrow-bar-left"></i> {{context.previous|field_name_to_label}}
	</a>
	{%else%}
	<a class="chapter_nav_link" 
		href="#" 
		style=''>
		End
	</a>
	{%endif%}
	{%if context.next != None%}
	<a class="ml-3 chapter_nav_link" 
		href="{% url 'content:notearticle' context.course.id context.sampl_object.p_moduel context.next%}" 
		style=''>
		<i class="bi bi-arrow-bar-right"></i>{{context.next|field_name_to_label}}
	</a>
	{%else%}
	<a class="ml-3 chapter_nav_link" 
		href="#" 
		style=''>
		End
	</a>
	{%endif%}
	<br>
	<a class="chapter_nav_link" 
		href="#" 
		style=''>
		<i class="bi bi-star-fill"></i> Practice Questions
	</a>
</div>
{%endblock%}
