{% extends 'base/base.html'%}
{%load general %}
{%block page_name%}
	Revision Notes
{%endblock%}

{%block title%}
Revision Notes Filter and Search
{%endblock%}

{%block meta%}
<meta name="description" content="
Find the revision notes you want, exam boards include AQA, Edexcel, OCR and more. With detailed examples, videos and practice questions for each set of notes all in the same place!
">
{%endblock%}

{%block content%}
{%definevar context.notes as information%}
{%definevar 'Chapter' as A_tag%}

<section class="py-5">
    <div class="container">
	<h2 class="text-center pb-3 mb-4">Filter to find the exact content you want </h2>
	<p class="text-center pb-3 mb-4">
	</p>
	<div id='error-message' style='text-align:center; color:red;'></div>
	{%for module in information%}
	<div class="accordion mb-1" id="Module_{{module}}">
	  <div class="card course_outline_card">
		  <div class="card-header course_outline_cell" id="heading-{{module}}" style=''>
	      <h2 class="mb-0">
			<button class="btn btn-block text-left" style='' type="button" data-toggle="collapse" data-target="#collapse-{{module}}" aria-expanded="true" aria-controls="collapse-{{module}}">
				<i class="bi bi-arrow-bar-right course_outline_icon"></i> 
				<span id='course_outline_span'>
					Module {{forloop.counter}} - {{module|field_name_to_label}}
				</span>
		</button>
	      </h2>
	    </div>

	    <div id="collapse-{{module}}" class="collapse course_outline_collapse" aria-labelledby="heading-{{module}}" data-parent="#Module_{{module}}">
	      <div class="card-body" style='padding:10px;'>
			{%for chapter in information|index:module%}
			    <span class='font-weight-bold ml-5' id='course_outline_span'><i class="bi bi-arrow-bar-right course_outline_icon"></i> 
				    Chapter {{forloop.counter}} - {{chapter|field_name_to_label}} 
				    <a type= 'button' class='' href="{%url 'AI:index' context.course.id module chapter%}"><i class="fa-solid fa-robot ml-1 mr-2" style=''></i></a>
				    <a type= 'button' class='' href="{%url 'content:notearticle' context.course.id module chapter%}"><i class="fa-solid fa-book"></i></a>
			    </span><br>
				
			{%endfor%}
	      </div>
	    </div>
	  </div>
	</div>
	{%endfor%}
    </div>
</section>



{%endblock%}
