{% extends 'base/base.html'%}
{%load general %}
{%load static %}
{% load mathjax %}

{%block page_name%}
	My Home
{%endblock%}

{%block title%}
	Content
{%endblock%}

{%block content%}
{% mathjax_scripts %}
<style>
.MathJax{
	margin-left:5px;
	margin-right:5px;
}
.MathJax_Display{
	overflow-x: scroll;
}
</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>





{%definevar context.questions as information%}
{%definevar 'Question' as A_tag%}



<section class="py-5 " style='margin-bottom:250px;'>
    <div class="container">
	<h2 class="text-center pb-3 mb-4">Question Number</h2>
	<div id='error-message' style='text-align:center; color:red;'></div>

	<nav class="nav nav-pills pricing-tab py-3 justify-content-center" style='margin-bottom:30px;'>
	    {%for A in information%}
	    <a class="nav-item nav-link" data-toggle="tab" href="#ref-{{A}}" id="id-{{A}}">{{A}}</a>
	    {%endfor%}
	</nav>

	<div class="tab-content" id="pricingTab">
        <hr class="sidebar-divider bg-dark">
            {%for A in information%}
	    <div class="tab-pane fade" id="ref-{{A}}" role="tabpanel" aria-labelledby="id-{{A}}">
			<div class="tab-content" id="pricingTab">
			    {%for B in information|index:A%}
				<div class="container col-9 text-justify" style='border-left:1px solid black;'>
					<div class='ml-1' style='border-left: 1px solid grey;'>
					    <div class='ml-1 mb-3' style='border-left: 2px dashed silver; padding-left:5px;'>
					    {{B.q_content|ToMarkdownQuestion:B|safe}}
					    </div>
					</div>
					<h5 style='border-bottom: 1px dashed silver;'></h5>
				</div>
			    {%endfor%}
			</div>
	    </div>
            {%endfor%}
	</div>

    </div>
</section>
{%endblock%}
