{% extends 'base/base.html'%}
{%load general %}
{%load static %}

{%block page_name%}
Point editor
{%endblock%}

{%block title%}
Editor
{%endblock%}


{%block content%}
{%definevar 'editorpoint' as alert_loc%}
{%include 'base/alert.html'%}
<script src="{%static 'content/js/editingcontroller.js'%}"></script>
{%include 'content/mathjax.html'%}

<script>
var object_id = "{{context.point.id}}";
var object_type = "Point";
</script>


{{ccontext.url}}
{{ccontext.point.p_videos.all}}






{%include 'content/items/GPT_item.html'%}
{%include 'content/items/editor_items.html'%}

<a type="button" style='display:block; margin:auto;width:200px;font-size:16px;' class="btn btn-info mb-2" href='{%url 'content:noteedit' context.spec.id context.point.p_moduel context.point.p_chapter%}#point_{{context.point.id}}'>
<i class="bi bi-arrow-bar-left"></i> Go back
</a>

{%definevar 'editor_form' as form_id%}
{%definevar 'editor_frame' as frame_id%}
{%definevar 'editor_saving_indicator' as indicator_id%}
<div class='spec_organiser_container_notice' id='spec_organiser_container_notice'>
	Please Use a desktop on chrome to see the editor, or zoom out.
</div>
<form id='{{form_id}}' target="{{frame_id}}" class="user px-3 py-3 editing_form"  action="{%url 'content:_savepointedit'%}" 
	method="POST" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type='hidden' value='{{context.point.id}}' name='point_id'/>
    {{ context.editormedia}}
    {{ context.editorrender}}
    <button type='submit' class='btn btn-primary' id='save_content_button'>Save</button> <span id="{{indicator_id}}"> all saved</span>
</form>
<iframe style="" name="{{frame_id}}" id="{{frame_id}}" hidden='hidden'></iframe>
{%include 'content/items/smart_save.html'%}
{%include 'content/items/auto_save.html'%}

{%endblock%}
