{% extends 'base/base.html'%}
{%load general %}
{%load static %}

{%block page_name%}
Point editor
{%endblock%}

{%block title%}
Editor
{%endblock%}


{%block content%}
{%definevar 'editorpoint' as alert_loc%}
{%include 'base/alert.html'%}
<script src="{%static 'content/js/editingcontroller.js'%}"></script>
{%include 'content/mathjax.html'%}

<script>
var object_id = "{{context.point.id}}";
var object_type = "Point";
</script>


{{ccontext.url}}
{{ccontext.point.p_videos.all}}






{%include 'content/items/GPT_item.html'%}
{%include 'content/items/editor_items.html'%}
<div class="card-body">
	<div class="card shadow">
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h5 class="h4 mb-1 text-primary font-weight-bold">
				<a href='{%url 'dashboard:spectopic' context.spec.spec_level context.spec.spec_subject context.spec.spec_board context.spec.spec_name context.point.p_moduel context.point.p_chapter%}'>
					<i class="bi bi-plus-square"></i>
				</a>
				<a href='
{%if 'contribution' in context.url%}
{%url 'content:contribution_noteedit' context.task.id %}#point_{{context.point.id}}
{%else%}
{%url 'content:noteedit' context.spec.id context.point.p_moduel context.point.p_chapter%}#point_{{context.point.id}}
{%endif%}
			'>
{{context.point.p_topic|field_name_to_label}}: {{context.point.p_title|field_name_to_label}}
			</a>
			</h5>
		</div>
	</div>
</div>



{%definevar 'editor_form' as form_id%}
{%definevar 'editor_frame' as frame_id%}
{%definevar 'editor_saving_indicator' as indicator_id%}
<div class='spec_organiser_container_notice' id='spec_organiser_container_notice'>
	Please Use a desktop on chrome to see the editor, or zoom out.
</div>
<form id='{{form_id}}' target="{{frame_id}}" class="user px-3 py-3 editing_form"  action="{%url 'content:_savepointedit'%}" 
	method="POST" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type='hidden' value='{{context.point.id}}' name='point_id'/>
    {{ context.editormedia}}
    {{ context.editorrender}}
    <button type='submit' class='btn btn-primary' id='save_content_button'>Save</button> <span id="{{indicator_id}}"> all saved</span>
</form>
<iframe style="" name="{{frame_id}}" id="{{frame_id}}" hidden='hidden'></iframe>
{%include 'content/items/smart_save.html'%}
{%include 'content/items/auto_save.html'%}

<div style='padding:10px;border:1px dashed grey;'>
{{context.point.p_content|ToMarkdown:context.point.id|safe}}
</div>

{%endblock%}
