{% extends 'base/base.html'%}
{%load general %}
{%load static %}

{%block page_name%}
	Prctice
{%endblock%}

{%block title%}
{{context.title|field_name_to_label}} - {{context.sampl_object.q_level|field_name_to_label}} {{context.sampl_object.q_subject|field_name_to_label}} {{context.sampl_object.q_moduel|field_name_to_label}} Questions
{%endblock%}

{%block meta%}
<meta name="description" content="
{{context.title|field_name_to_label}} {{context.sampl_object.q_level|field_name_to_label}} {{context.sampl_object.q_subject|field_name_to_label}} practice questions, looking at {{context.sampl_object.q_moduel|field_name_to_label}}, including worked solutions, all in one place!
">
{%endblock%}

{%block content%}
<script>
function write(elemID, text, delay_lower=30, delay_higher=70, char_lower=10, char_higher=15) {
  let element = document.getElementById(elemID);
  let i = 0;
  function type() {
    let charCount = Math.floor(Math.random() * (char_higher - char_lower + 1)) + char_lower;
    let delay = Math.floor(Math.random() * (delay_higher - delay_lower + 1)) + delay_lower;
    
    let shouldPause = Math.random() < 0.1;
    if (shouldPause) {
      delay += 40;
    }
    if (i < text.length) {
      element.innerHTML = text.slice(0, i + charCount) + `
      <span class='blink'style='display:inline-block;width: 5px;height:12px;background:var(--text-color-1);'>
      </span>`;
      i += charCount;
      MathJax.typeset()
      setTimeout(type, delay);
    }
  }
  type();
}
class xhttp {
	open_port(url) {
		this.xhttp = new XMLHttpRequest();
		this.xhttp.open('POST', url, true);
		this.xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	}
}
class view {
	//loading
}
//coommunicates with php and gets a result to be displayed as a view
class model extends xhttp {
	M_precieved_difficulty(course_id, question_id,precieved_difficulty){
		//opening the port using xhttp
		this.open_port("{%url 'content:_subjective_mark_question'%}");
		this.xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");    
		//prepairing query
		var query = 'course_id=' + course_id + '&question_id=' + question_id + 
			'&precieved_difficulty=' + precieved_difficulty;
		//sending query to model
		this.xhttp.send(query);
	}
	M_show_answer(course_id, question_id){
		//opening the port using xhttp
		this.open_port("{%url 'content:_show_answer'%}");
		this.xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");    
		//prepairing query
		var query = 'course_id=' + course_id + '&question_id=' + question_id
		//sending query to model
		this.xhttp.send(query);
	}
	M_mark_question(course_id, question_id, n_marks){
		//opening the port using xhttp
		this.open_port("{%url 'content:_mark_question'%}");
		this.xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");    
		//prepairing query
		var query = 'course_id=' + course_id + '&question_id=' + question_id +
				'&n_marks=' + n_marks 

		//sending query to model
		this.xhttp.send(query);
	}
}
class controller extends model{
	//construct
	constructor(view) {
		super();
		this.view = view;

	}
	C_precieved_difficulty(course_id, question_id, precieved_difficulty){
		const utility = this.util

		var loading = function(isLoading) {
		      if (isLoading) {
			// Disable the button and show a spinner
		        document.querySelector(`#markbutton_${question_id}_${precieved_difficulty}`).disabled = true;
		        document.querySelector(`#marking_view_${question_id}_${precieved_difficulty}`).classList.add('d-none');
		        document.querySelector(`#spinner_and_wait_${question_id}_${precieved_difficulty}`).classList.remove('d-none');
		      } else {
		        document.querySelector(`#markbutton_${question_id}_${precieved_difficulty}`).disabled = false;
		        document.querySelector(`#marking_view_${question_id}_${precieved_difficulty}`).classList.remove('d-none');
		        document.querySelector(`#spinner_and_wait_${question_id}_${precieved_difficulty}`).classList.add('d-none');
		      }
		};
		loading(true)
		this.M_precieved_difficulty(course_id, question_id, precieved_difficulty)
		this.xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var txt = this.responseText;
				var json = JSON.parse(txt);
				setTimeout(function (){
					if (json.error){
						loading(false)
					}else{
						loading(false)
						for (let i = 1; i < 4; i++){
							document.querySelector(`#markbutton_${question_id}_${i}`).remove();
						}
						if (json.video_html){
							document.querySelector(`body`).innerHTML += json.video_html;
							document.querySelector(`#vidbutton_information_window_${question_id}`).innerHTML = json.button_html;
							var scriptElement = document.createElement('script');
							scriptElement.textContent = json.script_html;
							document.querySelector(`body`).appendChild(scriptElement);
						}
						write(
							`information_window_${question_id}`,
							json.answer_html,
							5,
							20,
							30,
							50
						)

					}
				}, 1000);
			}
		}
	}
	C_show_answer(course_id, question_id){
		const utility = this.util

		var loading = function(isLoading) {
		      if (isLoading) {
			// Disable the button and show a spinner
		        document.querySelector(`#showanswer_${question_id}`).disabled = true;
		        document.querySelector(`#marking_view_${question_id}`).classList.add('d-none');
		        document.querySelector(`#spinner_and_wait_${question_id}`).classList.remove('d-none');
		      } else {
		        document.querySelector(`#showanswer_${question_id}`).disabled = false;
		        document.querySelector(`#marking_view_${question_id}`).classList.remove('d-none');
		        document.querySelector(`#spinner_and_wait_${question_id}`).classList.add('d-none');
		      }
		};
		loading(true)
		this.M_show_answer(course_id, question_id)
		this.xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var txt = this.responseText;
				var json = JSON.parse(txt);
				setTimeout(function (){
					if (json.error){
						loading(false)
					}else{
						loading(false)
						document.querySelector(`#showanswer_${question_id}`).remove();
						if (json.video_html){
							document.querySelector(`#vidbutton_information_window_${question_id}`).innerHTML = json.button_html;
							document.querySelector(`body`).innerHTML += json.video_html;
							var scriptElement = document.querySelector(`#my_modal_script`);
							scriptElement.textContent += json.script_html;
							eval(scriptElement.textContent)
						}
						write(
							`information_window_${question_id}`,
							json.answer_html,
							5,
							20,
							30,
							50
						)

					}
				}, 1000);
			}
		}
	}
	C_mark_question(course_id, question_id){
		const utility = this.util

		var loading = function(isLoading) {
		      if (isLoading) {
			// Disable the button and show a spinner
		        document.querySelector(`#qmarkanswer_${question_id}`).disabled = true;
		        document.querySelector(`#q_marking_view_${question_id}`).classList.add('d-none');
		        document.querySelector(`#marking_spinner_and_wait_${question_id}`).classList.remove('d-none');
		      } else {
		        document.querySelector(`#qmarkanswer_${question_id}`).disabled = false;
		        document.querySelector(`#q_marking_view_${question_id}`).classList.remove('d-none');
		        document.querySelector(`#marking_spinner_and_wait_${question_id}`).classList.add('d-none');
		      }
		};
		const selectElement = document.getElementById(`marking_selection_menu_${question_id}`);
		const n_marks = selectElement.value;
		loading(true)
		if (n_marks < 0){
			setTimeout(function (){
				loading(false)
			}, 1000);
		}else{
			this.M_mark_question(course_id, question_id, n_marks)
			this.xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var txt = this.responseText;
					var json = JSON.parse(txt);
					setTimeout(function (){
						if (json.error){
							loading(false)
						}else{
							loading(false)
							document.querySelector(`#markingwrapper_${question_id}`).remove();
							write(
								`marking_information_window_${question_id}`,
								json.marking_information,
								5,
								20,
								30,
								50
							)
						}
					}, 1000);
				}
			}
		}
	}
}
view = new view();
Controller = new controller(view);
</script>
{%if context.coursesubscription == False%}
	{%include 'content/items/course_buy.html'%}
{%else%}
	{%include 'content/mathjax.html'%}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>





	{%definevar context.questions as information%}
	{%definevar 'Question' as A_tag%}

	<div class="mb-4">
		<div class="card-body">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h5 class="h4 mb-1 text-primary font-weight-bold">
					Practice	
					</h5>
				</div>
				<section class="py-5 " style='margin-bottom:250px;'>
				    <div class="container">
					<h1 class="text-center pb-3 mb-4" style='font-size:24px;'>
						{{context.sampl_object.q_chapter|field_name_to_label}}
					</h1>
					<p class="text-center pb-3 mb-4" style='font-size:12px;'>
					{{context.sampl_object.q_level|field_name_to_label}} Chapter questions, on {{context.sampl_object.q_moduel|field_name_to_label}}.<br><br>
						<a type= 'button' class='btn btn-info mb-2' href="{%url 'content:notearticle' context.course.id context.module context.chapter%}"> Chapter Notes</a>
						<a type= 'button' class='btn btn-info mb-2' href="{%url 'content:coursestudy' context.course.id%}"> More Questions</a>
					</p>
					<div id='error-message' style='text-align:center; color:red;'></div>

					<nav class="nav nav-pills pricing-tab py-3 justify-content-center" style='margin-bottom:30px;'>
					    {%for A in information%}
					    <a class="nav-item nav-link" data-toggle="tab" href="#ref-{{A}}" id="id-{{A}}">{{A|DifficultyToLabel|safe}}</a>
					    {%endfor%}
					</nav>

					<div class="tab-content" id="pricingTab">
					<hr class="sidebar-divider bg-dark">
					    {%for A in information%}
					    <div class="tab-pane fade" id="ref-{{A}}" role="tabpanel" aria-labelledby="id-{{A}}">
						    <h2 style='font-size:16px;'>{{A_tag}}s difficulty {{A}}: </h2>
							<div class="row">
								<nav class="nav nav-pills pricing-tab py-3 justify-content-center" style='margin:auto;margin-bottom:30px;'>
								    {%for B in information|index:A%}
								    <a class="nav-item nav-link mr-1 mb-1" data-toggle="tab" href="#ref-{{A}}-{{B}}" 
									id="id-{{A}}-{{B}}" style='border: 1px solid black;'>{{forloop.counter}}</a>
								    {%endfor%}
								</nav>
							</div>
							<div class="tab-content" id="pricingTab">
							    {%for B in information|index:A%}
							    <div class="tab-pane fade" id="ref-{{A}}-{{B}}" 
								role="tabpanel" aria-labelledby="id-{{A}}-{{B}}">
									<div class="card-body">
										<div class="card shadow mb-4">
											<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
												<h5 class="h4 mb-1 text-primary font-weight-bold">
													Question {{forloop.counter}}
												</h5>
											</div>
											<section class="py-5 ">
												<div class="container col-9 text-justify" style='border-left:1px solid black;'>
													<div class='ml-1' style='border-left: 1px solid grey;'>
													    <div class='ml-1 mb-3' style='border-left: 2px dashed silver; padding-left:5px;'>
													    {{B.q_content|ToMarkdownQuestion:B.id|safe}}
													    {% definevar context.question_tracks|index:B.id as q_track%}
													    <div style='text-align:right;'>
															[{{B.q_marks}}] <br>
															{%if q_track%}
															Attempts: {{q_track.track_attempt_number}} <br>
															Last Score: [{{ q_track.track_mark }}/{{ q_track.total_marks}}] 
															({{q_track.track_mark|get_percent:q_track.total_marks}}%)<br>
															{%endif%}
													    </div>
													    </div>
													</div>
													<div class='mb-3'style='border-bottom: 1px dashed silver;margin-bottom:5px;'></div>
													{%if context.question_tracks|index:B.id%}
														<button class='btn btn-primary-outline' style='border: 1px dashed var(--text-color-1); color:var(--text-color-1);' id='showanswer_{{B.id}}' onclick='Controller.C_show_answer("{{context.course.id}}", "{{B.id}}")'>
														<div id='marking_view_{{B.id}}' class=''>
																Show Answer
														</div>
														<div id='spinner_and_wait_{{B.id}}' class='d-none'>
															<div class="d-flex justify-content-center">
															  <div class="spinner-border spinner-border-sm" role="status">
															    <span class="sr-only">Loading...</span>
															  </div>
															</div>
														</div>
														</button>
													{%else%}
														{% for i in '123'|make_list %}
														<button class='btn btn-primary-outline' style='border: 1px dashed var(--text-color-1); color:var(--text-color-1);' id='markbutton_{{B.id}}_{{forloop.counter}}' onclick='Controller.C_precieved_difficulty("{{context.course.id}}", "{{B.id}}", "{{forloop.counter}}")'>
																<div id='marking_view_{{B.id}}_{{forloop.counter}}' class=''>
																	{%if forloop.counter == 1%}
																	Easy
																	{%elif forloop.counter == 2%}
																	Ok
																	{%elif forloop.counter == 3%}
																	Hard
																	{%endif%}
																</div>
																<div id='spinner_and_wait_{{B.id}}_{{forloop.counter}}' class='d-none'>
																	<div class="d-flex justify-content-center">
																	  <div class="spinner-border spinner-border-sm" role="status">
																	    <span class="sr-only">Loading...</span>
																	  </div>
																	</div>
																</div>
														</button>
														{% endfor %}
													{%endif%}
													<br>
													<span id='vidbutton_information_window_{{B.id}}'></span>
													<span id='information_window_{{B.id}}'></span>
													<span id='marking_information_window_{{B.id}}'></span>
												</div>
											</section>
										</div>
									</div>
							    </div>
							    {%endfor%}
							</div>
					    </div>
					    {%endfor%}
					</div>

				    </div>
				</section>
			</div>
		</div>
	</div>
<script id='my_modal_script'></script>
{%endif%}








{%endblock%}
