{% extends 'base/base.html'%}
{%load general %}
{%load static %}

{%block page_name%}
Question editor
{%endblock%}

{%block title%}
Editor
{%endblock%}


{%block content%}
{%definevar 'editorquestion' as alert_loc%}
{%include 'base/alert.html'%}
{%include 'content/mathjax.html'%}
{%include 'content/items/GPT_item.html'%}
{%include 'content/items/editor_items.html'%}


<script>
var object_id = "{{context.question.id}}";
var object_type = "Question";
</script>
{%definevar context.spec as spec%}
{%definevar context.question as question%}

<div class="card-body">
	<div class="card shadow">
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h5 class="h4 mb-1 text-primary font-weight-bold">
				<a href='{%url 'dashboard:spectopic' spec.spec_level spec.spec_subject spec.spec_board spec.spec_name question.q_moduel question.q_chapter%}'>
					{{context.question.q_chapter|field_name_to_label}}: Difficulty {{question.q_difficulty}}, Number {{question.q_number}}
				</a>
			</h5>
		</div>
	</div>
</div>


<div class='spec_organiser_container_notice' id='spec_organiser_container_notice'>
	Please Use a desktop on chrome to see the editor, or zoom out.
</div>

<form class="user px-3 py-3 editing_form"  action="{%url 'content:_savequestionedit'%}" 
	method="POST" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ context.editormedia}}
    {{ context.editorrender}}
</form>

<div style='border:1px solid black;'>
{{context.question.q_content|ToMarkdownQuestion:context.question|safe}}
</div>

{%endblock%}
