:root{
	--main-bg-color: #1e2024;
	--second-bg-color: #414141;
	--third-bg-color: #151515;
	--color-1: #454545;
	--color-2: #727495;
	--color-3: #3F4492;
	--text-color-1: #FFFFFF;
	--text-color-2: #e3e3e3;
	--text-color-3: #B7B7B7;
}


/* General Conetent*/
body{
	background: var(--second-bg-color);
}


/* Inputs and fields */
.form-control{
}
.form-control .active{
}
.card{
	background: var(--main-bg-color);
	border: 2px solid var(--text-color-2);
}
.card-header{
	background: var(--second-bg-color);
	color: var(--text-color-1);
}
.card-body{
	background: var(--main-bg-color);
	color: var(--text-color-2);
}
.modal-content{
	background: var(--first-bg-color);
	color: var(--text-color-2);
}
.modal-header{
	background: var(--second-bg-color);
	color: var(--text-color-1);
}
.modal-header button{
	color: var(--text-color-1);
}
.modal-body{
	background: var(--second-bg-color) !important;
	color: var(--text-color-2);
}
.modal-footer{
	background: var(--third-bg-color) !important;
}
.my_course_card{
	background: var(--thrid-bg-color);
	border: 2px solid var(--text-color-2);
}
.my_course_card:hover{
	box-shadow: 0 5px 15px var(--text-color-2);
	border: 1px solid var(--text-color-1);
}
.card-img-top{
	border-radius: 15px 15px 0px 0px;
	border-bottom: 3px solid var(--text-color-1);
}

.navbar{
	background: var(--second-bg-color);
	color: var(--text-color-1);
	border-bottom: 1px solid var(--text-color-1);
	border-top: 1px solid var(--text-color-1);
}

.navbar-brand{
	color: var(--text-color-1);
}

.navbar-brand:hover{
	color: var(--text-color-2);
}

.nav_bar_menu_icon{
	color: var(--text-color-1) !important;
}

.nav-link{
	color: var(--text-color-1);
}

.nav-link:hover{
	color: var(--text-color-2);
}

.dropdown-menu{
	background:var(--second-bg-color);
}

.dropdown-menu li:hover{
	background:var(--second-bg-color);
}

.dropdown-item{
	color: var(--text-color-1);
}
 
.dropdown-item li:hover{
	background:var(--second-bg-color);
}

.submenu{
}

.submenu li:hover{
	background:var(--second-bg-color);
}

.PageWallpaper{
	border-top: 1px solid var(--text-color-1);
	border-bottom: 1px solid var(--text-color-1);
}

.subjectmain{
	background: var(--main-bg-color);
	color: var(--text-color-1);
}

.subjectmain:hover{
}

#breadcrumb_wrap{
	background: var(--main-bg-color);
	color: var(--text-color-1);
}

.breadcrumb{
	background: var(--main-bg-color);
}

.breadcrumb-item{
	color: var(--text-color-1) !important;
}

.breadcrumb-item a{
	color: var(--text-color-1) !important;
}

.crumb-content-separator{
	background: var(--text-color-1);
}

#content{
	background: var(--main-bg-color);
	color: var(--text-color-1);
}
.prog-nav-item{
	background: var(--main-bg-color);
	color: var(--text-color-1);
	border: 1px solid var(--text-color-1);
}



/* user settings pages */
.nav{
	border-bottom: 1px solid var(--text-color-1);
}



/* content */
.note_container{
	border-left:1px solid var(--text-color-1);
}
.chapter_nav_link{
	color: var(--text-color-1);
	border-bottom: 1px solid var(--text-color-1);
}
.note_title_rapper{
	border-left: 1px solid var(--text-color-1);
}
.notes_title_module{
	border-bottom: 1px solid var(--text-col-1) !important;
}
.note_title_chapter{
	border-bottom: 1px solid var(--text-color-1);
}
.note_point_wrapper{
	border-left: 1px solid var(--text-color-1);
}
.point_div{
	background: var(--main-bg-color);
	color: var(--text-color-1) !important;
	border-left: 2px dashed var(--text-color-1);
	padding-left:5px;
}
.note_bottom_border{
	border-bottom: 1px dashed var(--text-color-1);
}

/* practice page */
.my_table_theme{
	background: var(--main-bg-color);
	color: var(--text-color-1) !important;
}


/* footer*/
.footer_container .col .nav{
	border-bottom: none;
}


/* Dashboard my courses*/
.market_course_wrapper{
	background: var(--main-bg-color);
	border: 2px solid var(--text-color-1);
}
.market_course_card{
	border-radius: 15px 15px 0px 0px;
}

#marketcourse_learningobjective{
	border:1px solid var(--text-color-1);
}
.marketcourse_card_bottom{
	color: var(--text-color-1);
}
#marketcourse_courseoutline{
	border: 1px solid var(--text-color-1);
}
.course_outline_cell{
	background:var(--third-bg-color);
	color:var(--text-color-2);
}
#course_outline_span{
	color: var(--text-color-1);
}
.course_outline_icon{
	color: var(--text-color-1);
}
.course_outline_collapse div{
	background:var(--main-bg-color);
	color:var(--text-color-1);
}





/* Notes */

/* Editor */
.editormd-toolbar-container{
	background:var(--third-bg-color) !important;
	color:var(--text-color-1) !important;
}
.editormd-menu li a{
	border: 0px solid white !important;
	color: var(--text-color-1) !important;
}
.editormd-menu li a:hover{
	border: none !important;
	background:var(--second-bg-color) !important;
	color: var(--text-color-1) !important;
}
.CodeMirror-gutter{
	background: var(--third-bg-color) !important; 
}
.CodeMirror-gutter-wrapper{
	background: var(--third-bg-color) !important; 
}
.CodeMirror-scroll{
	background: var(--second-bg-color) !important; 
}
.CodeMirror-linenumber{
	color:var(--text-color-1) !important;
}
.editormd-preview-container{
	background:var(--main-bg-color) !important;
	color:var(--text-color-1) !important;
}
.CodeMirror-lines{
	background:var(--second-bg-color) !important;
	color:var(--text-color-2) !important;
}
.CodeMirror-activeline-background{
	background:var(--second-bg-color) !important;
	color:var(--text-color-2) !important;
}
.CodeMirror-gutters{
	border: 1px solid var(--third-bg-color) !important;
}
.editormd-preview-theme-default{
	background: var(--main-bg-color) !important;
}





.sidebar-divider{
	background: var(--text-color-2);
}


