@media only screen and (max-width: 450px){
	#login_link_nav{
		display: block;
	}
	#login_link_nav{
		display: block;
	}
	.content_main {
	width: 100%;
	max-width: 100%;
	padding: 5px;
	}
	#courseplace_wrapper{
		grid-template-columns: 1fr;
	}
	#qbank_container{
		display:grid;
		grid-template-columns: 1fr ;
		grid-template-rows: auto auto;
		grid-template-areas: 'left''right';
	}
	#right_container{
		grid-area: right;
	}
	#left_container{
		grid-area: left;
	}
	#first_row{
		display:grid;
		grid-template-columns: 1fr ;
		grid-template-rows: auto auto;
		grid-template-areas: 'right''left';
	}
	#login_button_nav{
		display: none;
	}
	#login_link_nav{
		display: block;
	}
	#accordionSidebar{
		display:none;
	}
	#accordionSidebar_replacement{
		display:flex;
		width: 100%;
	}
	#accordionSidebar_replacement .nav-link{
		margin: auto;
	}
	#mycourse_cardbody{
		display:grid;
		grid-template-columns: 1fr;
	}
	#marketcourse_middle{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
		' left '
		'right '
		' bottom ';
	}
	#marketcourse_middle_objectives{
		display:grid;
		grid-template-columns: 1fr 1fr;
	}
	#spec_organiser_container{
		display: none;
	}
	#spec_organiser_container_notice{
		display: block;
	}
	.editing_form{
		display:none;
	}
	.editing_form_notice{
		display: block;
	}
}
@media only screen and (min-width: 451px) and (max-width: 1199px){
	#login_link_nav{
		display: none;
	}
	#qbank_container{
		display:grid;
		grid-template-columns: 1fr ;
		grid-template-rows: auto auto;
		grid-template-areas: 'left''right';
	}
	#right_container{
		grid-area: right;
	}
	#left_container{
		grid-area: left;
	}
	#first_row{
		display:grid;
		grid-template-columns: 1fr ;
		grid-template-rows: auto auto;
		grid-template-areas: 'right''left';
	}
	.content_main {
	width: 100%;
	max-width: 100%;
	padding: 5px;
	}
	.bd-placeholder-img-lg {
	font-size: 3.5rem;
	}
	#courseplace_wrapper{
		grid-template-columns: 1fr 1fr;
	}
	#accordionSidebar{
		display:flex;
	}
	#accordionSidebar_replacement{
		display:none;
	}
	#mycourse_cardbody{
		display:grid;
		grid-template-columns: 1fr;
	}
	#marketcourse_middle{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
		' left '
		'right '
		' bottom ';
	}
	#marketcourse_middle_objectives{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-gap:10px;
	}
	#spec_organiser_container{
		display: none;
	}
	#spec_organiser_container_notice{
		display: block;
	}
	.editing_form{
		display:none;
	}
	.editing_form_notice{
		display: block;
	}
}
	
@media only screen and (min-width: 1200px){
	#accordionSidebar{
		display:flex;
	}
	#accordionSidebar_replacement{
		display:none;
	}
	#login_link_nav{
		display: none;
	}
	#login_button_nav{
		display: block;
	}
	#login_link_nav{
		display: none;
	}
	.content_main {
	width: 100%;
	max-width: 80%;
	padding: 5px;
	}
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
	#courseplace_wrapper{
		grid-template-columns: 1fr 1fr 1fr;
	}
	#mycourse_cardbody{
		display:grid;
		grid-template-columns: 1fr 1fr;
	}
	#marketcourse_middle{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: 
		' left right '
		' bottom bottom ';
	}
	#marketcourse_middle_objectives{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-gap:10px;
	}
	#spec_organiser_container{
		display: block;
	}
	#spec_organiser_container_notice{
		display: none;
	}
	.editing_form{
		display:block;
	}
	.editing_form_notice{
		display:none;
	}
}
