/* Whole website: general stylings */
.PageWallpaper{
    padding: 0;
    margin: 0;
    height: 90px;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size: 100%;
    background-position: center bottom;
    opacity: 0.9;
    transition: opacity .25s ease-in-out;
    width: 100%;
    margin:auto;
	margin-top: 0px;
}
.PageWallpaper:hover{
    opacity: 1;
}











/* styling for the wallpaper */
.subjectmain{
    font-size:10px;
    background: white;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    box-shadow: 3px 3px grey;
    transition: 0.55s;
}.subjectmain:hover{
    box-shadow: 3px 3px white;
    background: black;
    color: white;
}
.breadcrumb{
	background:white;
	margin-bottom:0px;
}

@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}
.badge {
  margin-left: 5px;
  font-size: 10px;
  padding: 4px 4px;
  border-radius: 50%;
  background: white;
  color: black;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {

}
@media only screen and (max-width: 1450px) {
  .content_main {
	  width: 100%;
	  max-width: 100%;
	  padding: 5px;
  }
  .content_main .container{
	  width: 100%;
	  max-width: 100%;
	  padding: 5px;
  }
}




.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.spec_organiser_container
{
    display: table-row;
    margin:auto;
}

.list
{
    display: table-cell;
    width: auto;
    background: #eee;
    border: 1px solid black;
    height: 100%;
    list-style-type: none;
    background: white;
}
.child{
	background:black;
	padding:10px;
	text-align: left;
	margin:20px;
	cursor: pointer;
	width: auto;
	color:white;
	border-radius: 15px;
}
.courseplace_wrapper{
	width:95%;
	margin:auto;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.my_course_card{
}
.my_course_card:hover{
	transform: scale(1.01, 1.01);
	transition: transform 0.3s ease-in-out;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  	transition: box-shadow 0.3s ease-in-out;
	border: 1px solid black;
}
