.PageWallpaper{
    padding: 0;
    margin: 0;
    height: 150px;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size: 100%;
    background-position: center bottom;
    opacity: 0.9;
    transition: opacity .25s ease-in-out;
    -webkit-box-shadow: 4px 4px 20px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px -13px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 20px -13px rgba(0,0,0,0.75);
    width: 95%;
    margin:auto;
	margin-top: 5px;
	margin-bottom: 50px;
}
.PageWallpaper:hover{
    opacity: 1;
}
.subjectmain{
    background: white;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    box-shadow: 3px 3px grey;
    transition: 0.55s;
}.subjectmain:hover{
    box-shadow: 3px 3px white;
    background: black;
    color: white;
}
