:root{
	--main-bg-color: #1e2024;
	--second-bg-color: #414141;
	--third-bg-color: #151515;
	--color-1: #454545;
	--color-2: brown;
	--color-3: #010542;
	--text-color-1: white;
	--text-color-2: #e3e3e3;
	--text-color-3: brown;
}
