{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}
{%block page_name%}
Content Management
{%endblock%}
{%block content%}
<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-4 text-gray-800">Content</h1>
	<div class="card border-dark">

	  <div class="card-header bg-primary text-white">
	    Sync Content
	  </div>


	  <div class="card-body">
	    <h5 class="card-title">Sync Notes</h5>
	    <p class="card-text">Sync the notes of the universal specification</p>
	    <form class="user px-3 py-3"  action="{%url 'content:_syncnotes'%}" method="POST" role="form">
		    {%csrf_token%}
		    <button type='submit' class="btn btn-primary">Sync Notes</button>
	    </form>
	    {%definevar 'syncnotes_form' as alert_loc%}
	    {%include 'base/alert.html'%}
	  </div>
	  <div class="dropdown-divider bg-dark"></div>


	  <div class="card-body">
	    <h5 class="card-title">Sync Questions</h5>
	    <p class="card-text">Sync the questions of the universal specification</p>
	    <form class="user px-3 py-3"  action="{%url 'content:_syncquestions'%}" method="POST" role="form">
		    {%csrf_token%}
		    <button type='submit' class="btn btn-primary">Sync Questions</button>
	    </form>
	    {%definevar 'syncquestions_form' as alert_loc%}
	    {%include 'base/alert.html'%}
	  </div>
	  <div class="dropdown-divider bg-dark"></div>


	  <div class="card-body">
	    <h5 class="card-title">Sync Videos</h5>
	    <p class="card-text">Sync the videos of the universal specification</p>
	    <form class="user px-3 py-3"  action="{%url 'content:_syncvideos'%}" method="POST" role="form">
		    {%csrf_token%}
		    <button type='submit' class="btn btn-primary">Sync Videos</button>
	    </form>
	    {%definevar 'syncvideos_form' as alert_loc%}
	    {%include 'base/alert.html'%}
	  </div>
	</div><br>



	<h1 class="h3 mb-4 text-gray-800">Video Health</h1>
	<div class="card border-dark">

	  <div class="card-header bg-primary text-white">
		Check Video Health
	  </div>


	  <div class="card-body">
	    <h5 class="card-title">Check</h5>
	    <p class="card-text">Check the health of videos making sure they all exist</p>
	    <form class="user px-3 py-3"  action="{%url 'content:_checkvideohealth'%}" method="POST" role="form">
		    {%csrf_token%}
		    <button type='submit' class="btn btn-primary">Check health</button>
	    </form>
	    {%definevar 'videohealth_form' as alert_loc%}
	    {%include 'base/alert.html'%}
	    {%for video in context.bad_videos%}
	    {{video.v_link}}<br>
	    {%endfor %}
	  </div>
	  <div class="dropdown-divider bg-dark"></div>
	</div>

</div>
{%endblock%}
