{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}
{%block page_name%}
Manage Collaborations
{%endblock%}
{%block content%}
<div class="mb-4">
	<div class="card-body">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h5 class="h4 mb-1 text-primary font-weight-bold">
					Collaboration Manager
				</h5>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-primary-400"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">Actions:</div>
						<a type="button" class="dropdown-item" data-toggle="modal" data-target="#AddCollabModal">
							Add Collaborator
						</a>
					</div>
				</div>
					
			</div>
			    <div class="card-body">
				<h3 class="h6 mb-1 text-primary font-weight-bold">
					Your Contributions
				</h3>
				{%for contributer in context.MyContributions%}
				{%definevar context.MyContributions|index:contributer as collab_list%}
					<div class="card mb-4 ml-4">
						<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h5 class="h6 mb-1 text-secondary font-weight-bold">
								{{collab_list.0.orchistrator.first_name|title}}
								{{collab_list.0.orchistrator.last_name|title}}
							</h5>
						</div>
						    <div class="card-body">
							    <div class='ml-1 mb-3' style='border-left: 1px solid black;padding-left: 5px;'>
							    {%for collab_item in collab_list%}
								<a 
								href='#'
								class="mb-1 btn btn-primary
								">
								{{collab_item.specification}}
								</a><br>
							    {%endfor%}
							    </div>
						    </div>
					</div>
				{%endfor%}
			    </div>
		</div>
	</div>
</div>
{%endblock%}
