{%load general%}
<div class="modal fade" id="collaboration_view_{{collab_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="exampleModalLabel">Manage Collaboration</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body">
		<h5 class="modal-title" id="exampleModalLabel">Collaboration status:</h5>
		<label class='ml-3' name=''>Initial invitation acceptance:</label>
	      	{% if collab_item.initial_invite_acceptance%}
		<i class="bi bi-check-circle-fill text-success"></i>
		{%else%}
		<i class="bi bi-x-circle-fill text-danger"></i>
		{%endif%}
		<br>

		{%if collab_item.collaborator_type != '3' %}
			<label class='ml-3' name=''>Condition created:</label>
			{% if collab_item.condition_created%}
			<i class="bi bi-check-circle-fill text-success"></i><br>
				{%if collab_item.collaborator_type == '1'%}
				<div class='ml-5'>
				$ {{collab_item.rate_per_point}} per point.<br>
				$ {{collab_item.rate_per_question}} per question.
				</div>
				{%elif collab_item.collaborator_type == '2'%}
				<div class='ml-5'>
				Course earning percentage split: {{collab_item.percentage_split}} %<br>
				</div>
				{%endif%}
			{%else%}
			<i class="bi bi-x-circle-fill text-danger"></i>
			{%endif%}
			<br>

			<label class='ml-3' name=''>Condition acceptance:</label>
			{% if collab_item.condition_acceptance%}
			<i class="bi bi-check-circle-fill text-success"></i>
			{%else%}
			<i class="bi bi-x-circle-fill text-danger"></i>
			{%endif%}
			<br>
		{%endif%}

		<label class='ml-3' name=''>Active:</label>
	      	{% if collab_item.active%}
		<i class="bi bi-check-circle-fill text-success"></i>
		{%else%}
		<i class="bi bi-x-circle-fill text-danger"></i>
		{%endif%}
		<br>

		<hr class="sidebar-divider mb-3">
		<h5 class="modal-title" id="exampleModalLabel">Conditions:</h5>
		{%if collab_item.collaborator_type == '1'%}
			{%if collab_item.condition_created != True%}
			<form class="ml-3 px-3 py-3"  action="{%url 'content:_collab_freelancer_conditions'%}" method="POST" role="form">
				{%csrf_token%}
				<input 
					type='hidden' 
					name='collaboration_id' 
					class="form-control"
					value='{{collab_item.id|hashid}}'
				/>
				<label for="Point_rate">Rate per Point ($):</label>
				<input class="form-control" type="number" min='0' name='Point_rate' step=".01" value='{{collab_item.rate_per_point}}' />
				<label for="Question_rate" class='mt-2'>Rate per Question ($):</label>
				<input class="form-control" type="number" min='0' name='Question_rate' step=".01" value='{{collab_item.rate_per_question}}'/>

				<button type= 'submit' class='btn btn-primary mb-2 mt-3' style='float-right'>Set Conditions</button>
			</form>
			{%else%}
			The conditions for this collaboration has been set.
			{%endif%}
		{%elif collab_item.collaborator_type == '2'%}
			{%if collab_item.condition_created != True%}
			<form class="ml-3 px-3 py-3"  action="{%url 'content:_collab_partner_conditions'%}" method="POST" role="form">
				{%csrf_token%}
				<input 
					type='hidden' 
					name='collaboration_id' 
					class="form-control"
					value='{{collab_item.id|hashid}}'
				/>
				<label for="Point_rate">Percentage split (%):</label>
				<input class="form-control" type="number" min='1' name='Percentage-split' step="1" max='99' />

				<button type= 'submit' class='btn btn-primary mb-2 mt-3' style='float-right'>Set Conditions</button>
			</form>
			{%else%}
			The conditions for this collaboration has been set.
			{%endif%}
		{%elif collab_item.collaborator_type == '3'%}
		<p>No conditions for volenteers</p>
		</form>
		{%endif%}
		<hr class="sidebar-divider mb-3">
      </div>
    </div>
  </div>
</div>
