{%load general%}
<div class="modal fade" id="collaboration_view_{{collab_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="exampleModalLabel">Manage Collaboration</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body">
		<form class="px-3 py-3"  action="{%url 'content:_assign_collaborator_spec'%}" method="POST" role="form">
			{%csrf_token%}
			{{collaboration_user}}
			<input 
				type='hidden' 
				name='collaborator_id' 
				value='{{collaboration_user.id|hashid}}'
			/>
			<label for="Specifications">Choose a Specification:</label>
			<select name="spec_id" id="Specifications" class="form-control">
			  {%for spec in valid_specs%}
			  <option value="{{spec.id|hashid}}">
				{{spec.spec_level}} -
				{{spec.spec_subject}} -
				{{spec.spec_board}} -
				{{spec.spec_name}}
			  </option>
			  {%endfor%}
			</select><br>
			<label for="Collaborator_username">Give Collaborator's type:</label>
			<select name="Collaborator_type" id="collaborator_type_select" class="form-control">
			  <option value="1">
				Freelancer
			  </option>
			  <option value="2">
				Partner
			  </option>
			  <option value="3">
				Volenteer
			  </option>
			</select><br>
			<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Assign</button>
		</form>
      </div>
    </div>
  </div>
</div>
