{%load general%}
<div class="modal fade" id="CourseInformationModal_{{course.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Course Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form class="px-3 py-3"  action="{%url 'content:_updatecourseinformation'%}" 
			    method="POST" role="form" enctype="multipart/form-data">
			{%csrf_token%}


			<input 
				type='hidden' 
				name='course_id' 
				value='{{course.id}}'
			/>


			<label for="new_name">Give a New Course Name: </label>
			<input 
				type='text' 
				name='new_name' 
			        class='form-control'
				placeholder='Rename Course'
				value='{{course.course_name}}'
			/><br>

			<label class="form-label" for="customFile">Give a course thumbnail.</label>
			<input type="file" id="customFile" name='course_thmbnail' /><br><br>


			<label for="course_level">Select a Course Level:</label>
			<select name="course_level" id="course_level" class='form-control'>
			  <option value="Beginner"
				  {%if course.course_level == 'Beginner'%}
				  selected
				  {%endif%}
			  >
			  	Beginner
			  </option>
			  <option value="Intermediate"
				  {%if course.course_level == 'Intermediate'%}
				  selected
				  {%endif%}
			  >
			  	Intermediate
			  </option>
			  <option value="Advanced"
				  {%if course.course_level == 'Advanced'%}
				  selected
				  {%endif%}
			  >
			  	Advanced
			  </option>
			</select>
			<br>
			<br>
			<button type= 'submit' class='btn btn-primary mb-2' > Update </button><br><br>
		</form>
      </div>
    </div>
  </div>
</div>
