{%load general%}
<div class="modal fade" id="CourseInformationModal_{{course.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Course Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form class="px-3 py-3"  action="{%url 'content:_updatecourseinformation'%}" 
			    method="POST" role="form" enctype="multipart/form-data">
			{%csrf_token%}


			<input 
				type='hidden' 
				name='course_id' 
				value='{{course.id}}'
			/>


			<label for="new_name">Give a New Course Name: </label>
			<input 
				type='text' 
				name='new_name' 
			        class='form-control'
				placeholder='Rename Course'
				value='{{course.course_name}}'
			/><br>

			<label class="form-label" for="customFile">Give a course thumbnail.</label>
			<input type="file" id="customFile" name='course_thmbnail' /><br><br>


			<label for="course_level">Select a Course Level:</label>
			<select name="course_level" id="course_level" class='form-control'>
			  <option value="Beginner"
				  {%if course.course_level == 'Beginner'%}
				  selected
				  {%endif%}
			  >
			  	Beginner
			  </option>
			  <option value="Intermediate"
				  {%if course.course_level == 'Intermediate'%}
				  selected
				  {%endif%}
			  >
			  	Intermediate
			  </option>
			  <option value="Advanced"
				  {%if course.course_level == 'Advanced'%}
				  selected
				  {%endif%}
			  >
			  	Advanced
			  </option>
			</select>

			<div class="mt-4 custom-control custom-switch">
				<input name='regenerate_summary' type="checkbox" class="custom-control-input" id="customSwitch1_{{course.id|hashid}}" 
			  >
			  <label class="custom-control-label" for="customSwitch1_{{course.id|hashid}}">Toggle to regenerate course summary using AI.</label>
			</div>

			<div class="mt-4 custom-control custom-switch">
				<input name='publication_status' type="checkbox" class="custom-control-input" id="customSwitch2_{{course.id|hashid}}"
				{%if course.course_publication%}
				checked
				{%endif%}
			  >
			  <label class="custom-control-label" for="customSwitch2_{{course.id|hashid}}">
				{%if course.course_publication%}
				<a class="text-success">Published</a>
				{%else%}
				<a class="text-danger">Unpublished</a>
				{%endif%}
			  </label>
			</div>
			{%if course.course_up_to_date%}
			<label for="">Latest updates: </label>
			<a class="text-success">Up to date</a><br>
			{%else%}
			<br><label for="">Latest updates: </label>
			<a class="text-warning">New changes made (course update needed)</a><br>
			<label for="version_name">Version name (Anything):</label>
			<input 
				type='text' 
				name='version_name' 
			        class='form-control mb-3'
			        id='version_name'
				placeholder='Version Name'
			        value='New Update'
			/>
			<label for="version_note">Give a version Note (Anything):</label>
	    		<textarea class="form-control mb-2" id="message-text" name='version_note' rows='10'>A short description of the new updates.</textarea>
			{%endif%}
			<button type= 'submit' class='btn btn-primary mb-2' > Update </button><br><br>
		</form>
      </div>
    </div>
  </div>
</div>
