<div class="modal fade" id="RenameCourseModal_{{course.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form class="list user px-3 py-3"  action="{%url 'content:_createcourse'%}" method="POST" role="form">
			{%csrf_token%}
			<label for="new_name">Give a New Course Name</label>
			<input 
				type='text' 
				name='new_name' 
				placeholder='Rename Course'
				value='{{course.course_name}}'
			/>
			<br><br>
			<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Create </button>
		</form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="UpdateSummaryModal_{{course.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Course Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_updatecoursesummary'%}" method="POST" role="form">
		{%csrf_token%}
          <div class="form-group">
	    <input type='hidden' name='course_id' value='{{course.id}}'/>
            <label for="message-text" class="col-form-label">Course Summary:</label>
	    <textarea class="form-control mb-2" id="message-text" name='course_summary' rows='25'>{{course.course_summary}}</textarea>
	    <button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Save </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 



<div class="modal fade" id="PublishVersion_{{course.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form class="list user px-3 py-3"  action="{%url 'content:_createcourse'%}" method="POST" role="form">
			{%csrf_token%}
			<label for="">Give a New Course Name</label>
			<br><br>
			<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Create </button>
		</form>
      </div>
    </div>
  </div>
</div>
