{%load general%}



{%if context.is_AI_member is false%}
{%definevar 'text-secondary' as lock_text%}
{%definevar '<i class="bi bi-file-lock2"></i>' as lock_icon%}
{%else%}
{%definevar '' as lock_text%}
{%definevar '' as lock_icon%}
{%endif%}



{%for module in content%}
<div class="accordion mb-1" id="Module_{{module}}">
  <div class="card course_outline_card">
	  <div class="card-header course_outline_cell" id="heading-{{module}}" style=''>
      <h2 class="mb-0">
	        <button class="btn btn-block text-left" style='' type="button" data-toggle="collapse" data-target="#collapse-{{module}}" aria-expanded="true" aria-controls="collapse-{{module}}">
			<i class="bi bi-arrow-bar-right course_outline_icon"></i> <span id='course_outline_span'>Module {{forloop.counter}} - {{module|field_name_to_label}}</span>
	</button>
      </h2>
    </div>

    <div id="collapse-{{module}}" class="collapse course_outline_collapse" aria-labelledby="heading-{{module}}" data-parent="#Module_{{module}}">
      <div class="card-body" style='padding:10px;'>
		<i class="bi bi-file-lock2 mr-1 ml-2 text-secondary"></i> Login or a normal subscription is required to unlock this type of contnet.<br>
		<i class="bi bi-file-lock2 ml-2 text-secondary"></i><i class="bi bi-file-lock2 mr-1 text-secondary"></i> A subscription (*With AI*) is required to unlock all content <br><br>
	        {%for chapter in content|index:module|index:'content'%}
		      <a class='{{lock_text}}' href='{%url 'AI:index' course.id module chapter%}' style='text-decoration:none;'>
			      <span class='font-weight-bold'>
				      <i class="bi bi-book-fill"></i>
				      AI Tutor| {{chapter|field_name_to_label}} {{lock_icon}}{{lock_icon}}
								      <a type= 'button' class='text-info' href="{%url 'content:practice' course.id module chapter%}">
									      <i class="bi bi-patch-question-fill"></i>
									      Questions 
									      {%if not user.is_authenticated%}
									      {{lock_icon}}(login)
									      {%endif%}
								      </a><br>
			      </span>
		      </a><br>
		{%endfor%}
      </div>
    </div>
  </div>
</div>
{%endfor%}
