{%load general%}

<div class='d-flex justify-content-center'>
<button class="mb-2 btn text-left text-primary" type="button" data-toggle="modal" data-target="#CrateModuelModal">
	New
</button>
<button class="mb-2 btn text-left text-primary" type="button" data-toggle="modal" data-target="#RemovedModal">
	Removed
</button>

<button class="mb-2 btn text-left text-danger" type="button" data-toggle="modal" data-target="#DeleteModuleModal">
Delete
</button>
<button class="mb-2 btn text-left text-danger" type="button" data-toggle="modal" data-target="#BinModal">
Bin
</button>
</div>
<br>


<ol id='modules_list'>
{%for module in all_modules%}
{%if module in content%}
<div class="accordion mb-1" id="Module_{{module}}">
  <div class="card course_outline_card">
    <div class="card-header course_outline_cell" id="heading-{{module}}" style=''>
		<span class='' style='display:inline-block;cursor:pointer;'>
			<input type='hidden' name='ordered_modules[]' value='{{module}}'/>
			<span class='handle mr-2 ml-2'style='font-size:25px;'>
				+
			</span>
		</span>
	        <button class="btn text-left" style='display:inline-block;' type="button" data-toggle="collapse" data-target="#collapse-{{module}}" aria-expanded="true" aria-controls="collapse-{{module}}">
			<i class="bi bi-arrow-bar-right course_outline_icon"></i> <span id='course_outline_span'>Module - {{module|field_name_to_label}}</span>
		</button>
		<button class="btn text-left text-primary" type="button" data-toggle="modal" data-target="#RenameModuleModal_{{module}}">
			Rename
		</button>
		<button class="btn text-left text-danger" type="button" onclick="controller.C_remove_module('{%url 'content:_removemodule'%}', '{%url 'content:_restoremodule'%}', '{{csrf_token}}', '{{spec.id}}','{{module}}')">
			Remove
		</button>
    </div>

    <div id="collapse-{{module}}" class="collapse course_outline_collapse" aria-labelledby="heading-{{module}}" data-parent="#Module_{{module}}">
      <div class="card-body" style='padding:10px;'>
	      <button class="btn text-left text-primary" type="button" data-toggle="modal" data-target="#CrateChapter_{{module}}">
		New
	</button>
	<button class="btn text-left text-primary" type="button" data-toggle="modal" data-target="#RemoveChapter_{{module}}">
		Removed
	</button>

	<button class="btn text-left text-danger" type="button" data-toggle="modal" data-target="#DeleteChapter_{{module}}">
	Delete
	</button>
	<button class="btn text-left text-danger" type="button" data-toggle="modal" data-target="#BinnedChapter_{{module}}">
	Bin
	</button>
	      <ol id='chapter_list_{{module}}'>

	        {%if module in content%}
			{%for chapter in content|index:module|index:'content'%}
			<div class='' style='cursor:pointer;' id='module_chapter_{{module}}_{{chapter}}'>
					<input type='hidden' name='ordered_chapters[]' value='{{chapter}}'/>
					<span class='chapter_handle mr-2 ml-5'style='font-size:25px;'>
						+
					</span>
					<span class='font-weight-bold ml-2' id='course_outline_span'><i class="bi bi-arrow-bar-right course_outline_icon"></i> 
						<a href='{%url 'dashboard:spectopic' context.spec.spec_level context.spec.spec_subject context.spec.spec_board context.spec.spec_name module chapter%}'>Chapter - {{chapter|field_name_to_label}}</a>
					</span>
					<button class="btn text-left text-primary" type="button" data-toggle="modal" data-target="#RenameChapterModal_{{module}}_{{chapter}}">
						Rename
					</button>
					<button class="btn text-left text-danger" type="button" onclick="controller.C_remove_chapter('{%url 'content:_removechapter'%}', '{%url 'content:_restorechapter'%}','{%url 'content:noteedit' context.spec.id module chapter%}','{{csrf_token}}', '{{spec.id}}', '{{module}}','{{chapter}}')">
				Remove
				</button>
			</div>
			{%endfor%}
		{%else%}
		{{module}}
		{%endif%}
		</ol>
			<script>
			dragula([document.getElementById('chapter_list_{{module}}')], {
			  moves: function (el, container, handle) {
			    return handle.classList.contains('chapter_handle');
			  },
			}).on('drop', function (el, container, handle) {
					let elements = container.querySelectorAll('input[name="ordered_chapters[]"]');
					let currentOrder = Array.from(elements).map(input => input.value);
					controller.C_update_chapter_list("{%url 'content:_orderchapters'%}", '{{csrf_token}}', '{{spec.id}}', '{{module}}', currentOrder);
			});
			</script>
      </div>
    </div>
  </div>
</div>
{%endif%}
{%endfor%}
</ol>
<script>
dragula([document.getElementById('modules_list')], {
  moves: function (el, container, handle) {
    return handle.classList.contains('handle');
  },
}).on('drop', function (el, container, handle) {
		let elements = container.querySelectorAll('input[name="ordered_modules[]"]')
		let currentOrder = Array.from(elements).map(input => input.value);
		controller.C_update_module_list("{%url 'content:_ordermoduels'%}", '{{csrf_token}}', '{{spec.id}}', currentOrder);
});

</script>
