{%load general%}
<div class="modal fade" id="GenerateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Generate using AI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<textarea
		       class ='form-control mb-3'
			name='Prompt' 
			placeholder='Prompt...'
		       value=''
		>Job list</textarea>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'>Start Job</button>
	</form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="CrateTopicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_createtopic'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='moduel' value='{{context.module}}'/>
		<input type='hidden' name='chapter' value='{{context.chapter}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
		        class ='form-control mb-3'
			type='text' 
			name='new_topic' 
			placeholder='New Topic'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Create New Topic</button>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RemovedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Removed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='remove_topic_div'>
		  {%for topic in context.removed_items%}
		  <div class="card course_outline_card mb-2" id='Remove_topic_{{topic}}'>
			    <div class="card-header course_outline_cell" id="heading-{{topic}}" style=''>
					<button class="btn text-left">
						<i class="bi bi-arrow-bar-right course_outline_icon"></i> <span id='course_outline_span'>Topic - {{topic|field_name_to_label}}</span>
						<button class="btn text-left text-primary" type="button" onclick="controller.C_restore_topic('{%url 'content:_restoretopic'%}', '{%url 'content:_removetopic'%}','{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}', '{{topic}}')">
						Restore
					</button>
			    </div>
			  </div>
		  {%endfor%}
	</form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="DeleteTopicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_deletetopic'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='chapter' value='{{chapter}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>

		<label for="Topics">Choose a topic:</label>
		<select class ='form-control mb-3' name="delete_topic" id="Topics" class='mb-3'>
		  {%for topic in context.topics%}
		  <option value="{{topic}}">
			{{topic|field_name_to_label}}
		  </option>
		  {%endfor%}
		</select> <br>
		<button type= 'submit' class='btn btn-danger mb-2' style='float-right'> Delete Topic</button>
	</form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="BinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  {%for topic in context.deleted_topics%}
		  <div class="card course_outline_card mb-2" id='deleted_topic_{{topic}}'>
			    <div class="card-header course_outline_cell" id="heading-{{topic}}" style=''>
					<button class="btn text-left">
						<i class="bi bi-arrow-bar-right course_outline_icon"></i> <span id='course_outline_span'>Topic - {{topic|field_name_to_label}}</span>
					</button>
					<button class="btn text-left text-primary" type="button" onclick="controller.C_undelete_topic('{%url 'content:_undeletetopic'%}', '{%url 'content:_removetopic'%}', '{%url 'content:_restoretopic'%}','{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}', '{{topic}}')">
						Restore
					</button>
					<button class="btn text-left text-danger" type="button" onclick="controller.C_erase_topic('{%url 'content:_erasetopic'%}', '{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}', '{{topic}}')">
						Erase
					</button>
			    </div>
			  </div>
		  {%endfor%}
	</form>
      </div>
    </div>
  </div>
</div>
