{%load general %}
<div class="modal fade" id="RenameModuleModal_{{module}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="px-3 py-3"  action="{%url 'content:_renamemodule'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
		       	class ='form-control mb-3'
			type='text' 
			name='new_name' 
			placeholder='Rename Module'
		        value='{{module|field_name_to_label}}'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Rename </button>
	</form>
      </div>
    </div>
  </div>
</div>
{%for chapter in context.module_chapters|index:module%}
<div class="modal fade" id="RenameChapterModal_{{module}}_{{chapter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="px-3 py-3"  action="{%url 'content:_renamechapter'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='chapter' value='{{chapter}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
		       	class ='form-control mb-3'
			type='text' 
			name='new_name' 
			placeholder='Rename Chapter'
		       value='{{chapter|field_name_to_label}}'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Rename </button>
	</form>
      </div>
    </div>
  </div>
</div>
{%endfor%}
<div class="modal fade" id="CrateChapter_{{module}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_createchapter'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
		       class ='form-control mb-3'
			type='text' 
			name='new_chapter' 
			placeholder='New Chapter'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float:right;'> Create New Chapter</button>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteChapter_{{module}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_deletechapter'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>

		<label for="Modules">Choose a Chapter:</label>
		<select class ='form-control mb-3' name="delete_chapter" id="Modules" class='mb-3'>
		  {%for chap in context.module_chapters|index:module%}
		  <option value="{{chap}}">
			{{chap|field_name_to_label}}
		  </option>
		  {%endfor%}
		</select>
		<button type= 'submit' class='btn btn-danger mb-2' style='float:right;'> Delete Chapter</button>
	</form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="RemoveChapter_{{module}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Removed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='remove_chapters_div_{{module}}'>
		  {%for chapter in context.removed_module_chapters|index:module%}
			<div class='' style='cursor:pointer;' id='Remove_chapter_{{module}}_{{chapter}}'>
					<span class='font-weight-bold ml-2' id='course_outline_span'><i class="bi bi-arrow-bar-right course_outline_icon"></i> <a href="{%url 'content:noteedit' context.spec.id module chapter%}">Chapter - {{chapter|field_name_to_label}}</a></span>
					<button class="btn text-left text-primary" type="button" onclick="controller.C_restore_chapter('{%url 'content:_restorechapter'%}', '{%url 'content:_removechapter'%}','{%url 'content:noteedit' context.spec.id module chapter%}', '{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}')">
						Restore
					</button>
			</div>
		  {%endfor%}
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="BinnedChapter_{{module}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  {%for chapter in context.deleted_module_chapters|index:module%}
		  <div class="card course_outline_card mb-2" id='deleted_chapter_{{module}}_{{chapter}}'>
			    <div class="card-header course_outline_cell" id="heading-{{chapter}}" style=''>
					<button class="btn text-left">
						<i class="bi bi-arrow-bar-right course_outline_icon"></i> <span id='course_outline_span'>Chapter - {{chapter|field_name_to_label}}</span>
					</button>
					<button class="btn text-left text-primary" type="button" onclick="controller.C_undelete_chapter('{%url 'content:_undeletechapter'%}', '{%url 'content:_removechapter'%}', '{%url 'content:_restorechapter'%}', '{%url 'content:noteedit' context.spec.id module chapter%}', '{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}')">
						Restore
					</button>
					<button class="btn text-left text-danger" type="button" onclick="controller.C_erase_chapter('{%url 'content:_erasechapter'%}', '{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}')">
						Erase
					</button>
			    </div>
			  </div>
		  {%endfor%}
      </div>
    </div>
  </div>
</div>

