{%load general%}
<div class="modal fade" id="AddCollabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Collaborator to a specification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form class="px-3 py-3"  action="{%url 'content:_add_collaborator'%}" method="POST" role="form">
			{%csrf_token%}
			<label for="Collaborator_email">Give Collaborator's Email:</label>
			<input 
				type='text' 
				name='Collaborator_email' 
			        class='form-control'
				placeholder='Email'
			/><br>
			<label for="Collaborator_username">Give Collaborator's type:</label>
			<select name="Collaborator_type" id="collaborator_type_select" class="form-control">
			  <option value="1">
				Freelancer
			  </option>
			  <option value="2">
				Partner
			  </option>
			  <option value="3">
				Volenteer
			  </option>
			</select><br>

			<label for="Specifications">Choose a Specification:</label>
			<select name="spec_id" id="Specifications" class="form-control">
			  {%for spec in context.raw_specs%}
			  <option value="{{spec.id|hashid}}">
				{{spec.spec_level}} -
				{{spec.spec_subject}} -
				{{spec.spec_board}} -
				{{spec.spec_name}}
			  </option>
			  {%endfor%}
			</select><br>
			<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Invite Collaborator</button>
		</form>
      </div>
    </div>
  </div>
</div>
<script>
function insertAfter(referenceNode, newNode) {
	referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}
</script>


<div class="modal fade" id="CrateSpecModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Specification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      	Please use alphanumeric names only, those inputs are only seen by you and your collaborators for organisation purposes.
		<form class="px-3 py-3"  action="{%url 'content:_createspec'%}" method="POST" role="form">
			{%csrf_token%}
			<label for="spec_level">Spcification Level:</label>
			<input 
				type='text' 
				name='spec_level' 
			        class='form-control mb-3'
				placeholder='Spec Level'
			/>
			<label for="spec_subject">Spcification Subject:</label>
			<input 
				type='text' 
				name='spec_subject' 
			        class='form-control mb-3'
				placeholder='Spec Subject'
			/>
			<label for="spec_board">Spcification Board:</label>
			<input 
				type='text' 
				name='spec_board' 
			        class='form-control mb-3'
				placeholder='Spec Board'
			/>
			<label for="spec_name">Spcification Name:</label>
			<input 
				type='text' 
				name='spec_name' 
			        class='form-control mb-3'
				placeholder='Spec Name'
			/><br><br>
			<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Create </button>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteSpecificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Specification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form class="px-3 py-3"  action="{%url 'content:_deletespec'%}" method="POST" role="form">
			{%csrf_token%}
			<label for="Specifications">Choose a Specification:</label>

			<select name="spec_id" id="Specifications">
			  {%for spec in context.raw_specs%}
			  <option value="{{spec.id}}">
				{{spec.spec_level}} -
				{{spec.spec_subject}} -
				{{spec.spec_board}} -
				{{spec.spec_name}}
			  </option>
			  {%endfor%}
			</select>
			<button type= 'submit' class='btn btn-danger mb-2' style='float-right'> Delete </button>
		</form>
      </div>
    </div>
  </div>
</div>

