{%load general %}

<div class="modal fade" id="RenameTopicModal_{{topic}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="px-3 py-3"  action="{%url 'content:_renametopic'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='chapter' value='{{chapter}}'/>
		<input type='hidden' name='topic' value='{{topic}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
		       class ='form-control mb-3'
			type='text' 
			name='new_name' 
			placeholder='Rename Topic'
		       value='{{topic|field_name_to_label}}'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Rename </button>
	</form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="PromptTopicModal_{{topic}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prompt Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		{% definevar context.t_prompts|index:topic|index:0 as t_prompt%}
		<textarea
		       class ='form-control mb-3'
			name='Prompt' 
			placeholder='Prompt...'
			id='text_t_prompt_{{t_prompt.id}}'
		       value=''
		>{{t_prompt.prompt}}</textarea>
		<button class="btn btn-primary" type="button" onclick="controller.C_save_prompt_topic('{%url 'AI:_saveprompttopic'%}', '{{csrf_token}}', '{{t_prompt.id}}')">
		Save Prompt
		</button>
		<span class='ml-3' id='t_saving_indicator_{{t_prompt.id}}'> all saved</span>
	</form>
      </div>
    </div>
  </div>
</div>



{%for point in context.topic_points|index:topic%}
<div class="modal fade" id="RenamePointModal_{{topic}}_{{point}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="px-3 py-3"  action="{%url 'content:_renamepoint'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='chapter' value='{{chapter}}'/>
		<input type='hidden' name='topic' value='{{topic}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input type='hidden' name='p_id' value='{{point}}'/>
		<input 
		       class ='form-control mb-3'
			type='text' 
			name='new_name' 
			placeholder='Rename Point'
		       value=''
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Rename </button>
	</form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="PromptPointModal_{{topic}}_{{point}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prompt Point</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		{% definevar context.p_prompts|index:topic|index:point as p_prompt%}
		<textarea
		       class ='form-control mb-3'
			name='Prompt' 
			placeholder='Prompt...'
			id='text_p_prompt_{{p_prompt.id}}'
		       value=''
		>{{p_prompt.prompt}}</textarea>
		<button class="btn btn-info" type="button" onclick="controller.C_save_prompt_point('{%url 'AI:_savepromptpoint'%}', '{{csrf_token}}', '{{p_prompt.id}}')">
		Generate
		</button>
		<span class='ml-3' id='p_saving_indicator_{{p_prompt.id}}'> all saved</span>
	</form>
      </div>
    </div>
  </div>
</div>
{%endfor%}

<div class="modal fade" id="CratePoint_{{topic}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Point</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_createpoint'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='chapter' value='{{chapter}}'/>
		<input type='hidden' name='topic' value='{{topic}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
		       class ='form-control mb-3'
			type='text' 
			name='new_point' 
			placeholder='New Point'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float:right;'>Create New Point</button>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeletePoint_{{topic}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Point</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_deletepoint'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='moduel' value='{{module}}'/>
		<input type='hidden' name='chapter' value='{{chapter}}'/>
		<input type='hidden' name='topic' value='{{topic}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>

		<label for="Modules">Choose a Chapter:</label>
		<select class ='form-control mb-3' name="delete_point" id="Modules" class='mb-3'>
		  {%for chap in context.topic_points|index:topic%}
		  <option value="{{chap}}">
			{{chap|p_unique_to_title}}
		  </option>
		  {%endfor%}
		</select>
		<button type= 'submit' class='btn btn-danger mb-2' style='float:right;'> Delete Point</button>
	</form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="RemovePoint_{{topic}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Removed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='remove_points_div_{{topic}}'>
		  {%for point in context.removed_topic_points|index:topic%}
			<div class='' style='cursor:pointer;' id='Remove_point_{{topic}}_{{point}}'>
					<span class='font-weight-bold ml-2' id='course_outline_span'><i class="bi bi-arrow-bar-right course_outline_icon"></i> <a href="{%url 'content:noteedit' context.spec.id module chapter%}">Point - {{point|p_unique_to_title|field_name_to_label}}</a></span>
					<button class="btn text-left text-primary" type="button" onclick="controller.C_restore_point('{%url 'content:_restorepoint'%}', '{%url 'content:_removepoint'%}','{%url 'content:noteedit' context.spec.id module chapter%}', '{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}', '{{topic}}', '{{point}}', '{{point|p_unique_to_title}}')">
						Restore
					</button>
			</div>
		  {%endfor%}
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="BinnedPoint_{{topic}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  {%for point in context.deleted_topic_points|index:topic%}
		  <div class="" id="deleted_point_{{topic}}_{{point}}" style=''>
				<button class="btn text-left">
					<i class="bi bi-arrow-bar-right course_outline_icon"></i> <span id='course_outline_span'>Point - {{point|p_unique_to_title}}</span>
				</button>
				<button class="btn text-left text-primary" type="button" onclick="controller.C_undelete_point('{%url 'content:_undeletepoint'%}', '{%url 'content:_removepoint'%}', '{%url 'content:_restorepoint'%}', '{%url 'content:noteedit' context.spec.id module chapter%}', '{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}', '{{topic}}', '{{point}}', '{{point|p_unique_to_title}}')">
					Restore
				</button>
				<button class="btn text-left text-danger" type="button" onclick="controller.C_erase_point('{%url 'content:_erasepoint'%}', '{{csrf_token}}', '{{spec.id}}','{{module}}', '{{chapter}}', '{{topic}}', '{{point}}')">
					Erase
				</button>
		    </div>
		  {%endfor%}
      </div>
    </div>
  </div>
</div>

