<div class="modal fade" id="CrateSpecModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Specification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	        Alpha Numeric Only
		<form class="list user px-3 py-3"  action="{%url 'content:_createspec'%}" method="POST" role="form">
			{%csrf_token%}
			<input 
				type='text' 
				name='spec_level' 
				placeholder='Spec Level'
			/>
			<input 
				type='text' 
				name='spec_subject' 
				placeholder='Spec Subject'
			/><br>
			<input 
				type='text' 
				name='spec_board' 
				placeholder='Spec Board'
			/>
			<input 
				type='text' 
				name='spec_name' 
				placeholder='Spec Name'
			/><br><br>
			<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Create </button>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteSpecificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Specification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form class="list user px-3 py-3"  action="{%url 'content:_deletespec'%}" method="POST" role="form">
			{%csrf_token%}
			<input 
				type='text' 
				name='spec_level' 
				placeholder='Spec Level'
			/>
			<input 
				type='text' 
				name='spec_subject' 
				placeholder='Spec Subject'
			/><br>
			<input 
				type='text' 
				name='spec_board' 
				placeholder='Spec Board'
			/>
			<input 
				type='text' 
				name='spec_name' 
				placeholder='Spec Name'
			/><br><br>
			<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Delete </button>
		</form>
      </div>
    </div>
  </div>
</div>

