<div class="modal fade" id="InheritModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inherit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="list user px-3 py-3"  action="{%url 'content:_inheritfromspec'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
			type='text' 
			name='inheritance_parent' 
			placeholder='Inherit from ?'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Inherit </button>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RenameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="list user px-3 py-3"  action="{%url 'content:_renamespec'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
			type='text' 
			name='new_name' 
			placeholder='Rename specification'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Rename </button>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CrateModuelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Moduel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="list user px-3 py-3"  action="{%url 'content:_createmoduel'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
			type='text' 
			name='new_module' 
			placeholder='New Module'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Create New Moduel</button>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteModuleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="list user px-3 py-3"  action="{%url 'content:_deletemoduel'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
			type='text' 
			name='delete_moduel' 
			placeholder='Absolute Name of Moduel'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float-right'> Delete Moduel</button>
	</form>
      </div>
    </div>
  </div>
</div>
