{%load general %}
<div class="modal fade" id="CrateModuelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Moduel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_createmoduel'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>
		<input 
		       class ='form-control mb-3'
			type='text' 
			name='new_module' 
			placeholder='New Module'
		/>
		<button type= 'submit' class='btn btn-primary mb-2' style='float:right;'> Create New Moduel</button>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteModuleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form class="user px-3 py-3"  action="{%url 'content:_deletemoduel'%}" method="POST" role="form">
		{%csrf_token%}
		<input type='hidden' name='level' value='{{spec.spec_level}}'/>
		<input type='hidden' name='subject' value='{{spec.spec_subject}}'/>
		<input type='hidden' name='board' value='{{spec.spec_board}}'/>
		<input type='hidden' name='name' value='{{spec.spec_name}}'/>

		<label for="Modules">Choose a Module:</label>
		<select class ='form-control mb-3' name="delete_moduel" id="Modules" class='mb-3'>
		  {%for mod in context.modules%}
		  <option value="{{mod}}">
			{{mod|field_name_to_label}}
		  </option>
		  {%endfor%}
		</select>
		<button type= 'submit' class='btn btn-danger mb-2' style='float:right;'> Delete Moduel</button>
	</form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="BinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  {%for module in context.deleted_moduels%}
			  <div class="card course_outline_card mb-2">
			    <div class="card-header course_outline_cell" id="heading-{{module}}" style=''>
					<button class="btn text-left">
						<i class="bi bi-arrow-bar-right course_outline_icon"></i> <span id='course_outline_span'>Module - {{module|field_name_to_label}}</span>
					</button>
					<button class="btn text-left text-primary" type="button">
						Restore
					</button>
					<button class="btn text-left text-danger" type="button">
						Erase
					</button>
			    </div>
			  </div>
		  {%endfor%}
	</form>
      </div>
    </div>
  </div>
</div>
