{%load static %}
{%load general%}
<form class="user px-3 py-3"  action="{%url 'user:_updatepassword'%}" method="POST" role="form">
    {% csrf_token %}
    <!-- Form Group (current password)-->
	<div class="mb-3">
	    {{ form.password_current.errors }}
	    <label class="small mb-1" for="{{ form.password_current.id_for_label }}">Current Password</label><br>
	    {{ form.password_current }}
	</div>
    <!-- Form Group (new password)-->
	<div class="mb-3">
	    {{ form.password_new.errors }}
	    <label class="small mb-1" for="{{ form.password_new.id_for_label }}">New Password</label><br>
	    {{ form.password_new}}
	</div>
    <!-- Form Group (confirm password)-->
	<div class="mb-3">
	    {{ form.password_conf.errors }}
	    <label class="small mb-1" for="{{ form.password_conf.id_for_label }}">Confirm Password</label><br>
	    {{ form.password_conf}}
	</div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
