{%load static %}
{%load general%}
<form class="user px-3 py-3"  action="{%url 'user:_pwdreset_form'%}" method="POST" role="form">
	{% csrf_token %}
	{%definevar 'pwdreset_form' as alert_loc%}
	{%include 'base/alert.html'%}
	<div class="form-group">
	    {{ form.username.errors }}
	    <label for="{{ form.username.id_for_label }}">Username</label><br>
	    {{ form.username }}
	</div>
	 <button type="submit" class="btn btn-primary btn-user btn-block">Request Reset</button>
	<hr>
	<a href="{%url 'content:index'%}" class="btn btn-google btn-user btn-block">
		Home 
	</a>
</form>
