{%load static %}
{%load general%}

{%if user|in_groups:'Editor'%}
<!-- Organisation Details -->
<div class="card mb-4">
<div class="card-header">Editor Details</div>
<div class="card-body">
	<form class="user px-3 py-3"  action="{%url 'user:_editordetails'%}" 
		method="POST" role="form" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
	    {{ form.writing_subjects.errors }}
	    <label for="{{ form.writing_subjects.id_for_label }}">{{form.writing_subjects.label}}</label><br>
	    {{ form.writing_subjects}}
	</div>
	<label class='h6'>Documentation: (one file at a time per option)</label><br>

	<div class="form-group ml-3">
	    {{ form.certification.errors }}
	    <label>{{form.certification.label}}</label><br>
	    {{ form.certification }}
	</div>
	<div class="form-group ml-3">
	    {{ form.example_work.errors }}
	    <label>{{form.example_work.label}}</label><br>
	    {{ form.example_work}}
	</div>
	<!-- Save changes button-->
	<button class="btn btn-primary" type="submit">Save changes</button>
    </form>
</div>
</div>
{%endif%}
