{%load static %}
{%load general%}

{%if user|in_groups:'Affiliate'%}
<!-- Organisation Details -->
<div class="card mb-4">
<div class="card-header">Affiliate Details</div>
<div class="card-body">
	<form class="user px-3 py-3"  action="{%url 'user:_affiliatedetails'%}" method="POST" role="form">
	{% csrf_token %}
	<div class="form-group">
	    {{ form.platform_url.errors }}
	    <label for="{{ form.platform_url.id_for_label }}">{{form.platform_url.label}}</label><br>
	    {{ form.platform_url }}
	</div>
	<!-- Save changes button-->
	<button class="btn btn-primary" type="submit">Save changes</button>
    </form>
</div>
</div>
{%endif%}
