{%load static %}
{%load general%}
<script>
class util{

	getColor(value) {
	  // Ensure the input value is within the range of 0 to 100
	  value = Math.max(0, Math.min(100, value));

	  // Calculate the proportion of green and red based on the input value
	  let red = 255 - Math.floor(value * 255 / 100);
	  let green = Math.floor(value * 255 / 100);

	  // Return the RGB values as a string "rgb(R, G, B)"
	  return `rgb(${red}, ${green}, 0)`;
	}
	AI_window_error(message){
		var element = '<button id="loading_spinner" type="button" disabled><i class="bi bi-exclamation-diamond text-danger"></i><br>'+message+'</button>';
		return element;
	}
	scrollToBottom(divId, duration=1500) {
	//this.util._scrollToBottom('AI_window_chat_id', 1500); 
	  const div = document.getElementById(divId);
	  const scrollTop = div.scrollTop;
	  const scrollHeight = div.scrollHeight;
	  const distance = scrollHeight - scrollTop;
	  const startTime = Date.now();
	  
	  function easeInOutQuad(t, b, c, d) {
	    t /= d / 2;
	    if (t < 1) return c / 2 * t * t + b;
	    t--;
	    return -c / 2 * (t * (t - 2) - 1) + b;
	  }
	  
	  function scroll() {
	    const currentTime = Date.now();
	    const time = Math.min(1, (currentTime - startTime) / duration);
	    const ease = easeInOutQuad(time, 0, 1, 1);
	    div.scrollTop = scrollTop + (distance * ease);
	    if (time < 1) requestAnimationFrame(scroll);
	  }
	  
	  requestAnimationFrame(scroll);
	}


	createChatTextHtml(who, input, textId) {
		var blinker = '';
		var image = 'bi bi-send-fill';
		if (who == 'ai'){
			blinker = `<span class='blink' style='display:inline-block;width: 5px;height:12px;background:var(--text-color-1);'></span>`;
			image = 'bi bi-robot';
		}
		return `<div class='AI_chat_text AI_text_${who}'>
			    <div class='AI_text_wrap'>
			      <div class='AI_text_image'>
				<i class="${image}"></i>
			      </div>
			      <div class='AI_text_text' id='${textId}'>
			      ${blinker}
			      ${input}
			      </div>
			    </div>
			  </div>`;
	}
	quiz_to_html(quiz, quiz_id, pointId, localOrderId) {
		var html = '';
		for (var key in quiz) {
			if (quiz.hasOwnProperty(key)) {
				var question = quiz[key].question;
				var choices = quiz[key].choices;
				var explanation = quiz[key].answer.answer;

				html += `
				<div class="question form-check quiz_div p-3 mb-3" style='border-left: 1px dotted var(--text-color-3)'>
       				<h5 class='quiz_question_indicator'>Question ${key} </h5>
				<p class='quiz_question_paragraph ml-1'>${question}</p>
				<ul id="quiz_question_choices_${quiz_id}_${key}">`;
				for (var choiceKey in choices) {
					if (choices.hasOwnProperty(choiceKey)) {
						var choice = choices[choiceKey];
						html += `
						<li class="form-check quiz_question_li p-1 mb-1">
					       <input class="form-check-input quiz_question_radio" type="radio" name="question_${quiz_id}_${key}" value="${choiceKey}" id='question_${quiz_id}_${key}_${choiceKey}'>
       						<label class="form-check-label quiz_question_label" for="question_${quiz_id}_${key}_${choiceKey}" id='question_label_${quiz_id}_${key}_${choiceKey}'>
						${choiceKey}) ${choice}
						</label>
						</li>`;
					}
				}
				html += `
				</ul>
				<button class='btn btn-primary-outline' style='border: 1px dashed var(--text-color-1); color:var(--text-color-1);' id='markbutton_${quiz_id}_${key}' onclick='Controller.C_mark_quiz_question("${quiz_id}", "${key}", "${pointId}")'>
					<div id='marking_view_${quiz_id}_${key}' class=''>
						<i class="fa-solid fa-marker"></i> Mark
					</div>
					<div id='spinner_and_wait_${quiz_id}_${key}' class='d-none'>
						<div class="d-flex justify-content-center">
						  <div class="spinner-border spinner-border-sm" role="status">
						    <span class="sr-only">Loading...</span>
						  </div>
						</div>
					</div>
				</button>
       				<div class='mt-2' id='quiz_solution_${quiz_id}_${key}'>
       				</div>
				</div>`;
					//<h6 class='quiz_question_indicator'>Solution to Q ${key}: </h6>
					//<p class="explanation">${explanation}</p>
			}
		}
		return html;
	}

	transform_test_object_to_htmlform(function_name, function_response_object, point_id, local_order_id, part_id, streamed=true){
		var hide_questions = 'd-none'
		if (streamed){
			hide_questions = ''
		}
		var my_arguments = function_response_object
		const q_introduction = my_arguments.quiz_introduction
		const quiz_id = my_arguments.quiz_id
		const full_quiz = my_arguments.quiz
		var quiz_html = this.quiz_to_html(full_quiz, quiz_id, part_id, local_order_id)
		const quiz_html_form = `
	       <div id='quiz_form_${point_id}_${local_order_id}'>
       			<h3>
				Multiple choice quiz
       			</h3>
       			<div>
			       <div class= 'mb-2' id='final_score_${quiz_id}'>
       				</div>
       				${q_introduction}
			       <br><button class='btn btn-secondary mt-3 mb-1' style='color:var(--text-color-1)'id='' onclick='Controller.C_toggle_quiz("quiz_container_${point_id}_${local_order_id}")'>
				       <i class="bi bi-magic"></i> Show/Hide
				</button>
       			</div>
		       <div class='mt-4 p-3 ${hide_questions}' style='border-top: 2px solid var(--text-color-1);' id='quiz_container_${point_id}_${local_order_id}'>
       				${quiz_html}
       			</div>
		</div>
			`;
		return quiz_html_form;	
	}

	unwrapChat(chat, introduction) {
		var output = "";
		var live = false;
		var element = '';
		var text = '';
		//
		if (introduction === false){
		}else{
			output += this.createChatTextHtml('ai', '', 'AI_text_introduction');
			live = true;
			element = 'AI_text_introduction';
			text += introduction;
		}
		return [output, live, element, text]
	}

	write(elemID, text, delay_lower=30, delay_higher=70, char_lower=10, char_higher=15) {
	  let element = document.getElementById(elemID);
	  let i = 0;
	  function type() {
	    let charCount = Math.floor(Math.random() * (char_higher - char_lower + 1)) + char_lower;
	    let delay = Math.floor(Math.random() * (delay_higher - delay_lower + 1)) + delay_lower;
	    
	    let shouldPause = Math.random() < 0.1;
	    if (shouldPause) {
	      delay += 40;
	    }
	    if (i < text.length) {
	      element.innerHTML = text.slice(0, i + charCount) + `
	      <span class='blink'style='display:inline-block;width: 5px;height:12px;background:var(--text-color-1);'>
	      </span>`;
	      i += charCount;
	      MathJax.typeset()
	      setTimeout(type, delay);
	    }
	  }
	  type();
	}
}
class xhttp {
	open_port(url) {
		this.xhttp = new XMLHttpRequest();
		this.xhttp.open('POST', url, true);
		this.xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	}
}
//

class view {
	//loading
	//
	constructor(){
		this.spinner = '<button id="loading_spinner" type="button" disabled><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span><br>Loading...</button>';
	}
	alert_loading() {
		alert('loading');
	};
	alert_load_lesson() {
		var s = document.getElementById('main_chat_scroll_container');
		s.innerHTML = this.spinner; 
	};
}
//coommunicates with server and gets a result to be displayed as a view
class model extends xhttp {
	//
	M_next_point(course_version_id, part_id, point_id) {
		//opening the port using xhttp
			this.open_port("{%url 'AI:_next_point'%}");
		this.xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");    
		//prepairing query
		var query = 'course_version_id='+ course_version_id +'&part_id=' + part_id + '&point_id=' + point_id;
		//sending query to model
		this.xhttp.send(query);
	}
	M_init_prompt(part_id, point_id, global_order_id, local_order_id, user_prompt){
		//opening the port using xhttp
		this.open_port("{%url 'AI:_ask_from_book'%}");
		this.xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");    
		//prepairing query
		var query = 'part_id=' + part_id + '&point_id=' + point_id + 
				'&global_order_id=' + global_order_id + 
				'&local_order_id=' + local_order_id + 
				'&user_prompt=' + user_prompt;
		//sending query to model
		this.xhttp.send(query);
	}
	M_catch_chat_completion(
		part_id,
		point_id,
		global_order_id,
		local_order_id,
		prompt_tokens,
		completion_tokens,
		total_tokens,
		user_prompt,
		ai_response,
		ai_function_response,
		ai_function_name,
	){
		//opening the port using xhttp
		this.open_port("{%url 'AI:_catch_chat_completion'%}");
		this.xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");    
		//prepairing query
		var query = 'part_id=' + part_id + '&point_id=' + point_id + '&global_order_id=' + global_order_id 
			+'&local_order_id=' + local_order_id + '&prompt_tokens=' + prompt_tokens + '&completion_tokens=' 
			+ completion_tokens + '&total_tokens=' + total_tokens+ 
		'&user_prompt=' + user_prompt + '&ai_response=' + ai_response +
		'&ai_function_response=' + ai_function_response +'&ai_function_name=' + ai_function_name;
		//sending query to model
		this.xhttp.send(query);
	}
	M_mark_quiz_question(lesson_part_id, quiz_id, question_number, selectedValue){
		//opening the port using xhttp
		this.open_port("{%url 'AI:_mark_quiz_question'%}");
		this.xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");    
		//prepairing query
		var query = 'lesson_part_id=' + lesson_part_id + 
			'&quiz_id=' + quiz_id + '&question_number=' + question_number 
			+ '&user_answer=' + selectedValue;
		//sending query to model
		this.xhttp.send(query);
	}
}

//used by the user, tells the model to do something. this class is both a controller and a view
class controller extends model {
	//construct
	constructor(util, view) {
		super();
		this.util = util;
		this.view = view;
	}
	//add new spec moduel
	C_ask_from_book(book_item_id, global_order_id, local_order_id, point_id, part_id) {
		const element = document.getElementById(book_item_id);
		// Create a new element
		const newElement = document.createElement("div");
		if ($(`#ask_${point_id}_${local_order_id}`).length == 0){
			newElement.innerHTML = `
				<div class='AI_chat_text AI_text_user chat_thread_${point_id}' id='ask_${point_id}_${local_order_id}'>
					<div class='AI_text_wrap'>
						<div class='AI_text_image'>
							<i class="bi bi-send-fill"style='color: var(--text-color-1);'></i>
						</div>
						<div class='AI_text_text' id='ask_content_${point_id}_${local_order_id}'>
							<textarea class="form-control bg-transparent mb-3 AI_user_text_area" id='user_input_${point_id}_${local_order_id}'style="color: var(--text-color-1);">Hello, can you assist me today ?</textarea>
							<p class='d-none' id='display_user_input_${point_id}_${local_order_id}'></p>
							<div class='AI_window_typing'>
								<div style='margin:auto;'>
								<button 
									class='btn btn-success'
									id='submit_${point_id}_${local_order_id}'
								     onclick='Controller.C_init_prompt("${global_order_id}", "${point_id}", "${part_id}", "${local_order_id}")'
								>
									<p id='button_text_${point_id}_${local_order_id}' style='margin:0;'>Prompt <i class="bi bi-send"></i></p>
									<div id='spinner_and_wait_${point_id}_${local_order_id}' class='d-none'>
										<div class="d-flex justify-content-center">
										  <div class="spinner-border spinner-border-sm" role="status">
										    <span class="sr-only">Loading...</span>
										  </div>
										</div>
									</div>
								</button>
								<button class='btn btn-secondary d-none' id='cancel_edit_prompt_${point_id}_${local_order_id}' onclick='Controller.C_cancel_edit_prompt("${point_id}", "${local_order_id}")'>
									Go back
								</button>
								<button class='btn btn-secondary' id='cancel_prompt_${point_id}_${local_order_id}' onclick='Controller.C_cancel_ask("ask_${point_id}_${local_order_id}", "ask_button_${point_id}")'>
									Cancel
								</button>
								<button class='btn btn-info d-none' style='float:right;' id='edit_prompt_${point_id}_${local_order_id}' onclick='Controller.C_edit_prompt("${point_id}", "${local_order_id}")'>
									<i class="bi bi-pencil-square"></i>
								</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				`;

			// Insert the new element below the specified element
			element.insertAdjacentElement("afterend", newElement);
			document.querySelector(`#ask_button_${point_id}`).classList.add("d-none");
		}
		//listen for the repsponse from the server script
	}
	C_ask_from_thread(book_item_id, global_order_id, local_order_id, point_id, part_id) {
		const element = document.getElementById(book_item_id);
		// Create a new element
		const newElement = document.createElement("div");
		if ($(`#ask_${point_id}_${local_order_id}`).length == 0){
			newElement.innerHTML = `
				<div class='AI_chat_text AI_text_user chat_thread_${point_id}' id='ask_${point_id}_${local_order_id}'>
					<div class='AI_text_wrap'>
						<div class='AI_text_image'>
							<i class="bi bi-send-fill"style='color: var(--text-color-1);'></i>
						</div>
						<div class='AI_text_text' id='ask_content_${point_id}_${local_order_id}'>
							<textarea class="form-control bg-transparent mb-3 AI_user_text_area" id='user_input_${point_id}_${local_order_id}'style="color: var(--text-color-1);">Hello, can you assist me today ?</textarea>
							<p class='d-none' id='display_user_input_${point_id}_${local_order_id}'></p>
							<div class='AI_window_typing'>
								<div style='margin:auto;'>
								<button 
									class='btn btn-success'
									id='submit_${point_id}_${local_order_id}'
									onclick='Controller.C_init_prompt("${global_order_id}", "${point_id}", "${part_id}", "${local_order_id}")'
								>
									<p id='button_text_${point_id}_${local_order_id}' style='margin:0;'>Prompt <i class="bi bi-send"></i></p>
									<div id='spinner_and_wait_${point_id}_${local_order_id}' class='d-none'>
										<div class="d-flex justify-content-center">
										  <div class="spinner-border spinner-border-sm" role="status">
										    <span class="sr-only">Loading...</span>
										  </div>
										</div>
									</div>
								</button>
								<button class='btn btn-secondary d-none' id='cancel_edit_prompt_${point_id}_${local_order_id}' onclick='Controller.C_cancel_edit_prompt("${point_id}", "${local_order_id}")'>
									Go back
								</button>
								<button class='btn btn-secondary' id='cancel_prompt_${point_id}_${local_order_id}' onclick='Controller.C_cancel_ask("ask_${point_id}_${local_order_id}", "ask_button_${point_id}_${Number(local_order_id)-1}")'>
									Cancel
								</button>
								<button class='btn btn-info d-none' style='float:right;' id='edit_prompt_${point_id}_${local_order_id}' onclick='Controller.C_edit_prompt("${point_id}", "${local_order_id}")'>
									<i class="bi bi-pencil-square"></i>
								</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				`;

			// Insert the new element below the specified element
			element.insertAdjacentElement("afterend", newElement);
			document.querySelector(`#ask_button_${point_id}_${Number(local_order_id)-1}`).classList.add("d-none");
		}
		//listen for the repsponse from the server script
	}
	C_next_point(self_element_id, parent_element_id, course_version_id, part_id, point_iid,point_id, num_next_points, global_order_id){
		const utility = this.util

		const next_point_button = document.getElementById(self_element_id);
		next_point_button.remove()
		this.M_next_point(course_version_id, part_id, point_id);
		this.xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var txt = this.responseText;
				var json = JSON.parse(txt);
				setTimeout(function (){
					if (json.error == 0){
						var html_content = json.message
						var html_videos = json.videos_html
						var script_text = json.script_html
						var tags_videos = json.videos_tags
						var new_tag = json.new_tag
						var relevant_part_id = json.relevant_part_id
						var new_point_id = json.new_point_id
						var new_point_unique = json.new_point_unique
						var new_topic = json.new_topic
						num_next_points = Number(num_next_points) - 1
						global_order_id = Number(global_order_id)
						// 
						const scriptElement = document.createElement('script');
						scriptElement.textContent = script_text;
						//
						var videos_buttons = ''
						for(var i = 0; i < tags_videos.length; i++){
							var vid_unique = tags_videos[i];
							var button_html = `
							<button id='link-${vid_unique}' type="button" class="btn btn-primary mb-3"
								style='display:inline;margin-left:auto;'>
								<i class="bi bi-caret-right-square-fill"></i>
							</button>
							`
							videos_buttons += button_html
						}
						if (new_topic){
							var element = document.getElementById(`topic_id_${new_topic}`);
						}else{
							//var element = document.getElementById(parent_element_id);
							// Assuming you want to get the last element of the "example-class" ordered class
							var elements = document.querySelectorAll(`.chat_thread_${point_iid}`);
							// Get the last element
							var element = elements[elements.length - 1];
						}
						// Create a new element
						const newElement = document.createElement("div");
						newElement.innerHTML = `
							<div class='AI_chat_text AI_text_ai chat_thread_${new_point_id}' id='text_book_${new_tag}'>
								<div class='AI_text_wrap'>
									<div class='AI_text_image'>
										<i class="bi bi-book"></i>
									</div>
									<div class='AI_text_text'>
										${videos_buttons}
										<div class='mb-3' id='AI_text_introduction_${new_tag}'>
										</div>
										<div class='AI_window_typing'>
												<div style='margin:auto;' id='buttons_container_${new_tag}'>
       <button class='btn btn-primary' id='ask_button_${new_point_id}' onclick='Controller.C_ask_from_book("text_book_${new_tag}", "${Number(global_order_id)}", "0", "${new_point_id}", "${part_id}")'>
												Ask
											</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							`;

						// Insert the new element below the specified element
						let next_button = `
						<button
							id='next_point_button_${new_tag}'
							class='btn btn-success'
							onclick='Controller.C_next_point("next_point_button_${new_tag}", "text_book_${new_tag}", "${course_version_id}","${relevant_part_id}", "${new_point_id}","${new_point_unique}", ${num_next_points},${Number(global_order_id) + 1})'
						>
							Next point (${num_next_points})
						</button>
						`
						element.insertAdjacentElement("afterend", newElement);
						const videos_container = document.createElement('span');
						videos_container.innerHTML = html_videos;
						document.getElementById('AI_window_chat_id').appendChild(videos_container)
						document.getElementById('AI_window_chat_id').appendChild(scriptElement);
						utility.write(`AI_text_introduction_${new_tag}`, html_content)
						if (num_next_points > 0){
							document.getElementById(`buttons_container_${new_tag}`).innerHTML += next_button;
						}
					}else{
					}

				}, 1000);
			}
		}
	}
	C_init_prompt(global_order_id, point_id, part_id, local_order_id){
		const utility = this.util
		// Get the textarea element
		var textarea = document.getElementById(`user_input_${point_id}_${local_order_id}`);
		var display_textarea = document.getElementById(`display_user_input_${point_id}_${local_order_id}`);
		// Get the value of the textarea
		var textareaValue = textarea.value;
		display_textarea.innerHTML = textareaValue
		//
		var loading = function(isLoading) {
		      if (isLoading) {
			// Disable the button and show a spinner
			document.querySelector(`#submit_${point_id}_${local_order_id}`).disabled = true;
			document.querySelector(`#user_input_${point_id}_${local_order_id}`).classList.add("d-none");
			document.querySelector(`#display_user_input_${point_id}_${local_order_id}`).classList.remove("d-none");
			document.querySelector(`#cancel_prompt_${point_id}_${local_order_id}`).disabled = true;
			document.querySelector(`#spinner_and_wait_${point_id}_${local_order_id}`).classList.remove("d-none");
			document.querySelector(`#button_text_${point_id}_${local_order_id}`).classList.add("d-none");
			document.querySelector(`#cancel_edit_prompt_${point_id}_${local_order_id}`).classList.add("d-none");
		      } else {
			document.querySelector(`#submit_${point_id}_${local_order_id}`).disabled = false;
			document.querySelector(`#user_input_${point_id}_${local_order_id}`).classList.remove("d-none");
			document.querySelector(`#display_user_input_${point_id}_${local_order_id}`).classList.add("d-none");
			document.querySelector(`#cancel_prompt_${point_id}_${local_order_id}`).disabled = false;
			document.querySelector(`#spinner_and_wait_${point_id}_${local_order_id}`).classList.add("d-none");
			document.querySelector(`#button_text_${point_id}_${local_order_id}`).classList.remove("d-none");
			document.querySelector(`#cancel_edit_prompt_${point_id}_${local_order_id}`).classList.add("d-none");
		      }
		};
		MathJax.typeset()
		const this_object = this

		this_object.M_init_prompt(part_id, point_id, global_order_id, local_order_id, textareaValue);
		loading(true)
		this_object.xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var txt = this.responseText;
				var json = JSON.parse(txt);
				//
				const request = {
				  'message': json.message,
				  'part_id': json.part_id,
				  'point_id': json.point_id,
				  'global_order_id': global_order_id,
				  'local_order_id': local_order_id,
				  'user_prompt': json.user_prompt
				};
				//
				AWS.config.update({region: 'eu-north-1'});
				AWS.config.credentials = new AWS.CognitoIdentityCredentials({IdentityPoolId: 'eu-north-1:539f7067-2405-4e41-8aed-a62ee033f30c'});

				var pullReturned = null;
				var slotResults;
				var isSpinning = false;

				// Prepare to call Lambda function.
				var lambda = new AWS.Lambda({region: 'eu-west-2', apiVersion: '2015-03-31'});
				var pullParams = {
					FunctionName : 'OpenAI-ChatGPT-Turbo',
					InvocationType : 'RequestResponse',
					LogType : 'None',
					Payload: JSON.stringify(request)
				};
				lambda.invoke(pullParams, function(err, data) {
					if (err) {
						loading(false)
					} else {
						const response = JSON.parse(data.Payload)
						if (response.StatusCode == 200){
							const element = document.getElementById(`ask_${point_id}_${local_order_id}`);
							const newElement = document.createElement("div");
							newElement.innerHTML = `
								<div class='AI_chat_text AI_text_ai chat_thread_${point_id}' id='ai_response_${point_id}_${local_order_id}'>
									<div class='AI_text_wrap'>
										<div class='AI_text_image'>
											<i class="bi bi-robot"></i>
										</div>
										<div class='AI_text_text'>
											<div class='mb-3' id='AI_text_response_${point_id}_${local_order_id}'>
											</div>
											<div class='AI_window_typing'>
												<div style='margin:auto;'>
											<button class='btn btn-primary' id='ask_button_${point_id}_${local_order_id}' onclick='Controller.C_ask_from_thread("ai_response_${point_id}_${local_order_id}", "${global_order_id}","${Number(local_order_id) + 1}", "${point_id}", "${part_id}")'>
													Ask
												</button>
											</div>
										</div>
									</div>
								</div>
								`;
							var thread_elements = document.querySelectorAll(`.chat_thread_${point_id}`);
							var elementsToRemove = Array.from(thread_elements).slice((Number(local_order_id)+1)*2); // Get elements after the third element
							elementsToRemove.forEach(function(element) {
							  element.remove(); // Remove each element
							});
							element.insertAdjacentElement("afterend", newElement);
							document.querySelector(`#submit_${point_id}_${local_order_id}`).classList.add("d-none")
							document.querySelector(`#cancel_prompt_${point_id}_${local_order_id}`).classList.add("d-none")
							document.querySelector(`#edit_prompt_${point_id}_${local_order_id}`).classList.remove("d-none")
							var written_output = response.body
							if (response.function_call){
								written_output = utility.transform_test_object_to_htmlform(response.function_name, response.function_call, point_id, local_order_id, part_id)
								utility.write(
									`AI_text_response_${point_id}_${local_order_id}`,
									written_output.replace(/\\/g, '\\\\\\'), 
									5,
									20,
									30,
									50
								)
							}else{
								utility.write(
									`AI_text_response_${point_id}_${local_order_id}`,
									written_output, 
								)
							}
							//
							if (response.server_records == 0){
								const prompt_tokens = response.usage.prompt_tokens
								const completion_tokens = response.usage.completion_tokens
								const total_tokens = response.usage.total_tokens
								const ai_response = response.body
								const ai_function_response = JSON.stringify(response.function_call)
								const ai_function_name = response.function_name
								//
								this_object.M_catch_chat_completion(
									part_id,
									point_id,
									global_order_id,
									local_order_id,
									prompt_tokens,
									completion_tokens,
									total_tokens,
									textareaValue,
									ai_response,
									ai_function_response,
									ai_function_name
								);
							}
						}else{
							//alert(JSON.stringify(response))
							loading(false)
						}
					}
				});
			}
		}
	}
	C_edit_prompt(point_id, local_order_id){
		document.querySelector(`#submit_${point_id}_${local_order_id}`).classList.remove('d-none')
		document.querySelector(`#submit_${point_id}_${local_order_id}`).disabled = false;
		document.querySelector(`#user_input_${point_id}_${local_order_id}`).classList.remove("d-none");
		document.querySelector(`#display_user_input_${point_id}_${local_order_id}`).classList.add("d-none");
		document.querySelector(`#spinner_and_wait_${point_id}_${local_order_id}`).classList.add("d-none");
		document.querySelector(`#button_text_${point_id}_${local_order_id}`).classList.remove("d-none");
		document.querySelector(`#edit_prompt_${point_id}_${local_order_id}`).classList.add("d-none");
		document.querySelector(`#cancel_edit_prompt_${point_id}_${local_order_id}`).classList.remove("d-none");
	}
	C_cancel_edit_prompt(point_id, local_order_id){
		document.querySelector(`#submit_${point_id}_${local_order_id}`).classList.add('d-none')
		document.querySelector(`#submit_${point_id}_${local_order_id}`).disabled = true;
		document.querySelector(`#user_input_${point_id}_${local_order_id}`).classList.add("d-none");
		document.querySelector(`#display_user_input_${point_id}_${local_order_id}`).classList.remove("d-none");
		document.querySelector(`#spinner_and_wait_${point_id}_${local_order_id}`).classList.add("d-none");
		document.querySelector(`#button_text_${point_id}_${local_order_id}`).classList.add("d-none");
		document.querySelector(`#edit_prompt_${point_id}_${local_order_id}`).classList.remove("d-none");
		document.querySelector(`#cancel_edit_prompt_${point_id}_${local_order_id}`).classList.add("d-none");
	}
	//add new spec moduel
	C_cancel_ask(ask_item_id, ask_button_id) {
		const element = document.getElementById(ask_item_id);
		element.remove();
		document.querySelector(`#${ask_button_id}`).classList.remove("d-none");
	}
	C_toggle_quiz(container_id){
		const container = document.querySelector(`#${container_id}`);
		container.classList.toggle("d-none");
	}
	C_mark_quiz_question(quiz_id, question_number, lesson_part_id){
		const utility = this.util

		var loading = function(isLoading) {
		      if (isLoading) {
			// Disable the button and show a spinner
		        document.querySelector(`#markbutton_${quiz_id}_${question_number}`).disabled = true;
		        document.querySelector(`#marking_view_${quiz_id}_${question_number}`).classList.add('d-none');
		        document.querySelector(`#spinner_and_wait_${quiz_id}_${question_number}`).classList.remove('d-none');
		      } else {
		        document.querySelector(`#markbutton_${quiz_id}_${question_number}`).disabled = false;
		        document.querySelector(`#marking_view_${quiz_id}_${question_number}`).classList.remove('d-none');
		        document.querySelector(`#spinner_and_wait_${quiz_id}_${question_number}`).classList.add('d-none');
		      }
		};
		// Get a reference to the UL element
		const radioList = document.getElementById(`quiz_question_choices_${quiz_id}_${question_number}`);
		// Find all the radio inputs within the UL
		const radioInputs = radioList.querySelectorAll("input[type='radio']");
		// Loop through the radio inputs to find the selected one
		let selectedValue = null;
		for (const radioInput of radioInputs) {
			if (radioInput.checked) {
				selectedValue = radioInput.value;
				break; // Exit the loop once the selected radio input is found
			}
		}
		loading(true)
		if (selectedValue == null){
			setTimeout(function (){
				loading(false)
			}, 1000);
		}else{
			this.M_mark_quiz_question(lesson_part_id, quiz_id, question_number, selectedValue)
			this.xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var txt = this.responseText;
					var json = JSON.parse(txt);
					setTimeout(function (){
						if (json.status_code == 200){
							document.querySelector(`#markbutton_${quiz_id}_${question_number}`).remove()
							for (const radioInput of radioInputs) {
								if (radioInput.checked == false) {
									radioInput.disabled=true
								}else{
									var label_element = document.querySelector(`#question_label_${quiz_id}_${question_number}_${radioInput.value}`)
									if (json.is_correct){
										label_element.style.color='green';
									}else{
										label_element.style.color='red';
									}
								}
							}
							if (json.completed){
								var score_hue = utility.getColor(json.percentage_score)
								var score_element = document.querySelector(`#final_score_${quiz_id}`)
								var score_html = `
										You have completed this quiz scoring: ${json.percentage_score}%
									`
								score_element.style.color = score_hue
								utility.write(`final_score_${quiz_id}`, score_html)
							}
							const solution_html = `
								<h6 class='quiz_question_indicator'>Solution to Q ${question_number}: </h6>
								<p class="explanation">${json.answer.replace(/\\/g, '\\\\')} <br><br> The correct choice is: ${json.correct_choice}</p>
							`
							utility.write(`quiz_solution_${quiz_id}_${question_number}`, solution_html)
						}else{
							loading(false)
						}
					}, 1000);
				}
			}
		}
	}
	C_load_quiz_state(quiz_id, quiz_info){
		for (let question_number in quiz_info.quiz) {
			var question = quiz_info.quiz[question_number]
			if (question.user_answer){
				document.querySelector(`#markbutton_${quiz_id}_${question_number}`).remove()
				// Get a reference to the UL element
				const radioList = document.getElementById(`quiz_question_choices_${quiz_id}_${question_number}`);
				// Find all the radio inputs within the UL
				const radioInputs = radioList.querySelectorAll("input[type='radio']");
				for (const radioInput of radioInputs) {
					radioInput.disabled=true
					if (radioInput.value == question.user_answer) {
						radioInput.disabled=false
						radioInput.checked=true
						var label_element = document.querySelector(`#question_label_${quiz_id}_${question_number}_${radioInput.value}`)
						if (question.is_correct){
							label_element.style.color='green';
						}else{
							label_element.style.color='red';
						}
						const solution_html = `
							<h6 class='quiz_question_indicator'>Solution to Q ${question_number}: </h6>
							<p class="explanation">${question.answer} <br><br> The correct choice is: ${question.correct_choice}</p>
						`
						document.querySelector(`#quiz_solution_${quiz_id}_${question_number}`).innerHTML = solution_html
					}
				}
			}
		}
		if (quiz_info.is_completed){
			var score_hue = this.util.getColor(quiz_info.percentage_score)
			var score_element = document.querySelector(`#final_score_${quiz_id}`)
			var score_html = `
					You have completed this quiz scoring: ${quiz_info.percentage_score}%
				`
			score_element.style.color = score_hue
			document.querySelector(`#final_score_${quiz_id}`).innerHTML = score_html
		}
	}
}









util = new util();
view = new view();
Controller = new controller(util, view);
</script>
