{% extends 'base/base.html'%}
{%load general %}
{%load static %}

{%block page_name%}
Point editor
{%endblock%}

{%block title%}
Editor
{%endblock%}


{%block content%}
{%definevar 'editorpoint' as alert_loc%}
{%include 'base/alert.html'%}
{%include 'content/mathjax.html'%}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>



<script>
var object_id = "{{context.point.id}}";
var object_type = "Point";
</script>
<div class='spec_organiser_container_notice' id='spec_organiser_container_notice'>
	Please Use a desktop on chrome to see the editor, or zoom out.
</div>
<form class="user px-3 py-3 editing_form"  action="{%url 'content:_savepointedit'%}" 
	method="POST" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type='hidden' name='point_id' value={{context.point.id}}>
    {{ context.editor_form.media }}
    {{ context.editor_form.p_MDcontent}}
    <button class="btn btn-primary" type="submit">Save changes</button>
    <a class="btn btn-info" href='{%url 'content:noteedit' context.spec.id context.point.p_moduel context.point.p_chapter%}#point_{{context.point.id}}' >View</a>
</form>
<hr class='sidebar-divider' style='border-width:2px;'>
<div style='padding:10px;border:1px solid black;'>
{{context.point.p_content|ToMarkdown:context.point|safe}}
</div>

{%endblock%}
