<div class="container footer_container">
  <div class="row row-cols-2 py-2 my-2 border-top" style='font-size:16px;'>
	<div class="col">
	  <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
		<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
	  </a>
	  <p class="text-muted">&copy; {% now "Y" %} PracticePractice, LTD. All rights reserved.</p>
	</div>

	<div class="col">
	</div>
	<div class="col">
	  <h5>Members</h5>
	  <ul class="nav flex-column">
		<li class="nav-item mb-2"><a href="{% url 'content:content'%}" class="nav-link p-0 text-primary">Content</a></li>
		<li class="nav-item mb-2"><a href="{% url 'dashboard:student_contentmanagement'%}" class="nav-link p-0 text-primary">Dashboard</a></li>
		<li class="nav-item mb-2"><a href="{% url 'user:index'%}" class="nav-link p-0 text-primary">Account</a></li>
		<li class="nav-item mb-2"><a href="{% url 'user:settings'%}" class="nav-link p-0 text-primary">Settings</a></li>
		<li class="nav-item mb-2"><a href="{% url 'user:login'%}" class="nav-link p-0 text-primary">Login</a></li>
	  </ul>
	</div>

	<div class="col">
	  <h5>Company</h5>
	  <ul class="nav flex-column">
		<!---
		<li class="nav-item mb-2"><a href="{%url 'main:about'%}" class="nav-link p-0 text-primary">About</a></li>
		<li class="nav-item mb-2"><a href="{%url 'main:jobs'%}" class="nav-link p-0  text-primary">jobs</a></li>
		--->
		<li class="nav-item mb-2"><a href="{% url 'main:review'%}" class="nav-link p-0 text-primary">Reviews</a></li>
		<li class="nav-item mb-2"><a href="{% url 'main:contact'%}" class="nav-link p-0 text-primary">Contact</a></li>
		<li class="nav-item mb-2"><a href="{%url 'main:tandc'%}" class="nav-link p-0  text-primary">Terms</a></li>
		<li class="nav-item mb-2"><a href="{%url 'main:privacy'%}" class="nav-link p-0  text-primary">Privacy</a></li>
	  </ul>
	</div>

	<!---
	<div class="col">
	  <h5>General</h5>
	  <ul class="nav flex-column">
		<li class="nav-item mb-2"><a href="{%url 'main:faq'%}" class="nav-link p-0  text-primary">FAQs</a></li>
	  </ul>
	</div>
	--->
  </div>
</div>







