<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-white" style='border-bottom:2px solid black;border-top:3px solid silver;'>
		<a class="navbar-brand" href="{%url 'main:index'%}">PracticePractice</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
		  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			  <a class="nav-link" href="{%url 'content:content'%}"><i class="bi bi-book text-black"></i>  Content</a>
		  </li>

		  <li>
			  <a class="nav-link" href="{%url 'content:hub'%}"><i class="bi bi-person-workspace text-primary"></i>  Hub</a>
		  </li>

		  <li>
			  <a class="nav-link" href="{%url 'content:statistics'%}"><i class="bi bi-graph-up-arrow text-success"></i>  Statistics</a>
		  </li>

		</ul>
		<ul class = 'navbar-nav'>


		  {%if user.is_authenticated%}
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  <i class="bi bi-person-circle text-primary"></i> Profile
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{%url 'user:index'%}"><i class="bi bi-credit-card-2-front"></i>  Information</a>
				<a class="dropdown-item" href="{%url 'user:settings'%}"><i class="bi bi-gear"></i>  Settings</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="{%url 'user:logout'%}"> <i class="bi bi-box-arrow-in-left text-danger"></i> Logout</a>
			</div>
		  </li>
		  <a class="nav-link" href="{%url 'user:join'%}"><i class="bi bi-person-plus text-success"></i> Join</a>
		  {%endif%}

		  {%if user.is_authenticated == False%}
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  <i class="bi bi-box-arrow-in-right text-primary"></i> Login</a>
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown"style='min-width: 20rem;'>
				<form class="px-3 py-3" action="{%url 'user:login'%}" method="POST" role="form">
					{% csrf_token %}
					<div class="mb-2">
					  <label for="exampleDropdownFormEmail1" class="form-label">Username</label>
					  <input type="text" class="form-control" name="username" placeholder="Username/Email">
					</div>
					<div class="mb-2">
					  <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
					  <input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>
				  </form>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#placeholder">Forgot password?</a>
			</div>
		  </li>
		  <a class="nav-link" href="#Placeholder"><i class="bi bi-plus-circle text-success"></i> Register</a>
		  {%endif%}


		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  <i class="bi bi-moon-fill"></i> Appearance
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{%url 'user:appearance'%}"><i class="bi bi-moon"></i> Light</a>
				<a class="dropdown-item" href="{%url 'user:appearance'%}"><i class="bi bi-moon-fill"></i> Dark</a>
				<a class="dropdown-item" href="{%url 'user:appearance'%}"><i class="bi bi-moon-fill text-warning" style="color:yellow-500;"></i> Library</a>
			</div>
		  </li>

		</ul>
	  </div>
	</nav>
</div>
