<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-white" style='border-bottom:1px solid black;border-top:3px solid silver;'>
		<a class="navbar-brand" href="{%url 'main:index'%}">PracticePractice</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
		  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li>
			  <a class="nav-link" href="{%url 'dashboard:index'%}"><i class="bi bi-speedometer2 text-primary"></i>  Dashboard</a>
		  </li>

		  <li class="nav-item">
			  <a class="nav-link" href="{%url 'content:content'%}"><i class="bi bi-book text-success"></i>  Study</a>
		  </li>

		</ul>
		<ul class = 'navbar-nav'>


		  {%if user.is_authenticated%}
			<li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="bi bi-person-circle text-primary"></i> Account </a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="{%url 'user:index'%}"><i class="bi bi-credit-card-2-front"></i>  Profile </a></li>
					<li><a class="dropdown-item" href="{%url 'user:billing'%}"><i class="bi bi-cash-stack"></i>  Billing</a></li>
					  <li><a class="dropdown-item" href="{%url 'user:security'%}"><i class="bi bi-shield-plus"></i>  Security</a></li>
					  <li><a class="dropdown-item" href="{%url 'user:settings'%}"><i class="bi bi-gear"></i>  Settings</a></li>
				  <div class="dropdown-divider"></div>
				  <li><a class="dropdown-item" href="{%url 'user:settings'%}"><i class="bi bi-moon-fill" aria-labelledby="dropdownMenuButton"></i> Appearance </a>
					 <ul class="submenu submenu-left dropdown-menu">
						<li><a class="dropdown-item" href="{%url 'user:_appearance'%}"><i class="bi bi-moon"></i> Light</a></li>
						<li><a class="dropdown-item" href="{%url 'user:_appearance'%}"><i class="bi bi-moon-fill"></i> Dark</a></li>
						<li><a class="dropdown-item" href="{%url 'user:_appearance'%}"><i class="bi bi-moon-fill text-warning" style="color:yellow-500;"></i> Library</a></li>
					 </ul>
				  </li>
				  <li><a class="dropdown-item" href="{%url 'user:settings'%}"><i class="bi bi-translate"></i> Language</a>
					 <ul class="submenu submenu-left dropdown-menu">
						<li><a class="dropdown-item" href="{%url 'user:_appearance'%}">English</a></li>
						<li><a class="dropdown-item" href="{%url 'user:_appearance'%}">Français</a></li>
						<li><a class="dropdown-item" href="{%url 'user:_appearance'%}">Española</a></li>
						<li><a class="dropdown-item" href="{%url 'user:_appearance'%}">+</a></li>
					 </ul>
				  </li>
				  <div class="dropdown-divider"></div>
				  <li><a class="dropdown-item" href="{%url 'user:join'%}"><i class="bi bi-person-plus text-success"></i> Join</a></li>
				  <div class="dropdown-divider"></div>
				  <li><a class="dropdown-item" href="{%url 'user:_logout'%}"><i class="bi bi-box-arrow-in-left text-danger"></i> Logout</a></li>
				  <div class="dropdown-divider"></div>
				  <li><a class="dropdown-item" href="{%url 'main:privacy'%}#yourdata"><i class="bi bi-bar-chart-line"></i>  Your Data</a></li>
				  <li><a class="dropdown-item" href="{%url 'main:faq'%}"><i class="bi bi-info-circle"></i>  FAQs</a></li>
				</ul>
			</li>
		  {%endif%}

		  {%if user.is_authenticated == False%}
			<div class="btn-group">
				<a type="button" class="btn btn-light" href="{%url 'user:login'%}">
					<i class="bi bi-box-arrow-in-right text-primary"></i> Login</a>
			  </a>
			  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropdown</span>
			  </button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"style='min-width: 20rem;'>
					<form class="px-3 py-3" action="{%url 'user:_login'%}" method="POST" role="form">
						{% csrf_token %}
						<div class="mb-2">
						  <label for="exampleDropdownFormEmail1" class="form-label">Username</label>
						  <input type="text" class="form-control" name="username" placeholder="Username/Email">
						</div>
						<div class="mb-2">
						  <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
						  <input type="password" class="form-control" name="password" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary">Sign in</button>
					  </form>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="{%url 'user:forgot-password'%}">Forgot password?</a>
					  <a class="dropdown-item" href="{%url 'user:register'%}">Create an Account!</a>
				</div>
			</div>

		  <li class="nav-item">
			  <a class="nav-link" href="{%url 'user:join'%}"><i class="bi bi-person-plus text-success"></i> Join</a>
		  </li>
		  {%endif%}



		</ul>
	  </div>
	</nav>
</div>
