<!-- Heading -->
<div class="sidebar-heading"
{%if 'editor' in sidebar_active%}
style='color:white;'
{%endif%}
>
	Editor
</div>
<li class="nav-item">
	<a class="nav-link" href="{%url 'dashboard:editor_tasks'%}">
		<i class="bi bi-list-ol" 
		     {%if sidebar_active == 'editor/tasks'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'editor/tasks'%}
		     style='color:white;'
		     {%endif%}
		>Available Tasks</span>
	</a>
	<a class="nav-link" href="{%url 'dashboard:editor_mytasks'%}">
		<i class="bi bi-list-ol" 
		     {%if sidebar_active == 'editor/mytasks'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'editor/mytasks'%}
		     style='color:white;'
		     {%endif%}
		>My Tasks</span>
	</a>
</li>
