<!-- Heading -->
<div class="sidebar-heading"
{%if 'dashboard' in sidebar_active%}
style='color:white;'
{%endif%}
>
	General
</div>
<li class="nav-item">
	<a class="nav-link" href="{%url 'dashboard:index'%}">
		<i class="bi bi-house-fill" 
		     {%if sidebar_active == 'dashboard/index'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'dashboard/index'%}
		     style='color:white;'
		     {%endif%}
		>Home</span>
	</a>

	<a class="nav-link" href="{%url 'dashboard:marketplace'%}">
		<i class="bi bi-shop" 
		     {%if sidebar_active == 'dashboard/marketplace'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'dashboard/marketplace'%}
		     style='color:white;'
		     {%endif%}
		>Courses</span>
	</a>
</li>
