<!-- Heading -->
<div class="sidebar-heading"
{%if 'tutor' in sidebar_active%}
style='color:white;'
{%endif%}
>
	Private Tutor
</div>
<li class="nav-item">
	<a class="nav-link" href="{%url 'dashboard:tutor_classes'%}">
		<i class="bi bi-person-workspace" 
		     {%if sidebar_active == 'tutor/classes'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'tutor/classes'%}
		     style='color:white;'
		     {%endif%}
		>Classes</span>
	</a>
</li>
<hr class="sidebar-divider">
