<!-- Heading -->
<div class="sidebar-heading"
{%if 'school' in sidebar_active%}
style='color:white;'
{%endif%}
>
	School
</div>
<li class="nav-item">
	<a class="nav-link" href="{%url 'dashboard:school_management'%}">
		<i class="bi bi-pc-display-horizontal" 
		     {%if sidebar_active == 'school/management'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'school/management'%}
		     style='color:white;'
		     {%endif%}
		>Management</span>
	</a>
</li>
<hr class="sidebar-divider">
