<!-- Heading -->
<div class="sidebar-heading"
{%if 'student' in sidebar_active%}
style='color:white;'
{%endif%}
>
	Student
</div>
<li class="nav-item">
	<a class="nav-link" href="{%url 'dashboard:student_performance'%}">
		<i class="bi bi-graph-up-arrow" 
		     {%if sidebar_active == 'student/performance'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'student/performance'%}
		     style='color:white;'
		     {%endif%}
		>Performance</span>
	</a>
	<a class="nav-link" href="{%url 'dashboard:student_contentmanagement'%}">
		<i class="bi bi-journal-bookmark-fill" 
		     {%if sidebar_active == 'student/contentmanagement'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'student/contentmanagement'%}
		     style='color:white;'
		     {%endif%}
		>Content Management</span>
	</a>
</li>
<hr class="sidebar-divider">
