<!-- Heading -->
<div class="sidebar-heading"
{%if 'teacher' in sidebar_active%}
style='color:white;'
{%endif%}
>
	Teacher
</div>
<style>
.badge {
  position: absolute;
  right: 20px;
  padding: 5px 5px;
  border-radius: 50%;
  background: red;
  color: white;
}
</style>
<li class="nav-item">
	<a class="nav-link" href="{%url 'dashboard:teacher_classes'%}">
		<i class="bi bi-person-workspace" 
		     {%if sidebar_active == 'teacher/classes'%}
		     style='color:white;'
		     {%endif%}
		   >
		    <p class='badge'style='display:inline-block;'>21</p>
		</i><span
		     {%if sidebar_active == 'teacher/classes'%}
		     style='color:white;'
		     {%endif%}
		>
		    Classes 
		</span>
	</a>
</li>
<hr class="sidebar-divider">
