<!-- Heading -->
<div class="sidebar-heading"
{%if 'writer' in sidebar_active%}
style='color:white;'
{%endif%}
>
	Author
</div>
<li class="nav-item">
	{%if user.author_permissions%}
	<a class="nav-link" href="{%url 'dashboard:mycourses'%}">
		<i class="bi bi-book" 
		     {%if sidebar_active == 'writer/mycourses'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'writer/mycourses'%}
		     style='color:white;'
		     {%endif%}
		>MyCourses</span>
	</a>
	{%endif%}
	<a class="nav-link" href="{%url 'dashboard:earning_statistics'%}">
		<i class="fas fa-fw fa-chart-area" 
		     {%if sidebar_active == 'earning/statistics'%}
		     style='color:white;'
		     {%endif%}
		   >
		</i><span
		     {%if sidebar_active == 'earning/statistics'%}
		     style='color:white;'
		     {%endif%}
		>Statistics</span>
	</a>
</li>
