{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}
{%block page_name%}
Content Management
{%endblock%}
{%block content%}
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">Course Subscriptions</h1>
		{%definevar 'specsubscriptions' as alert_loc%}
		{%include 'base/alert.html'%}
		<div class="card border-dark">

		  <div class="card-header bg-primary text-white">
		    Subscriptions
		  </div>
		</div><br>

	</div>
{%endblock%}
