{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}

{%block page_name%}
Courses
{%endblock%}

{%block content%}
{%include 'dashboard/general/items/courses_actions.html'%}
{%definevar 'course' as alert_loc%}
{%include 'base/alert.html'%}

<div class="mb-4">
	<div class="card-body">
		<div class="card shadow mb-1">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h5 class="h4 mb-1 text-primary font-weight-bold">
					Courses
				</h5>
					
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-primary-400"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">Course Actions:</div>
						<a type="button" class="dropdown-item" data-toggle="modal" data-target="#CrateCourseModal">
							Create New Course
						</a>
						<a type="button" class="dropdown-item text-danger" data-toggle="modal" data-target="#DeleteCourseModal">
							Delete Course
						</a>
					</div>
				</div>
			</div>
			<div class="card-body" style='display:grid;grid-template-columns: 1fr 1fr;'>
				{%for course in context.courses%}
				<div class="mb-4">
					<div class="card-body">
						<div class="card shadow mb-4">
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary">
									{{course.course_name|field_name_to_label}}
								</h6>
								<div class="dropdown no-arrow">
									<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-ellipsis-v fa-sm fa-fw text-priary-400"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
										aria-labelledby="dropdownMenuLink">
										<div class="dropdown-header">Course Actions:</div>
										<a class="dropdown-item" href="#" data-toggle="modal" data-target="#CourseInformationModal_{{course.id}}">Update Course Information</a>
										<a class="dropdown-item text-primary" href="#" data-toggle="modal" data-target="#PublishVersionModal_{{course.id}}">Create a new version</a>
										<a class="dropdown-item text-success" href="#" data-toggle="modal" data-target="#PublishCourseModal_{{course.id}}">Publish this course</a>
										<a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#UnPublishCourseModal_{{course.id}}">UnPublish this course</a>
									</div>
									{%include 'dashboard/general/items/mycourse_actions.html'%}
								</div>
							</div>
							<div class="card-body">
								{%if course.course_pic_status%}
								<img class="card-img-top" src="{{context.CDN_URL}}users/{{course.user.id}}/courses/{{course.id}}/course_thumbnail_{{course.course_pic_ext}}" alt="Card image cap">
								{%else%}
								<img class="card-img-top" src="{%static "base/svg/undraw_teaching_re_g7e3.svg"%}" alt="Card image cap">
								{%endif%}
								<div class='mt-3'>
									<h5> - Latest Specification: {{course.specification}}</h5>
									<h5> - Summary: {{course.course_summary}}</h5>
									<div>
										<h5>- Skills to gain:</h5>
										{%for idd, skill in course.course_skills.items%}
										<h6 class='ml-4'>- {{skill}}</h6>
										{%endfor%}

									</div>
									<div>
										<h5>- Objectives:</h5>
										{%for idd, objective in course.course_learning_objectives.items%}
										<h6 class='ml-4'>- {{objective}}</h6>
										{%endfor%}

									</div>
									<h5> - Estimated Time: {{course.course_estimated_time}}</h5>
									<h5> - Level: {{course.course_level}}</h5>
									<h5> - Question Bank Only: {{course.course_question_bank_only}}</h5>
									<h5> - Published: {{course.course_publication}}</h5>
									<h5> - Created: {{course.course_created_at}}</h5>
									<h5> - Last Change: {{course.course_updated_at}}</h5>
									<div>
										<h5>- Versions:</h5>
										{%for version in context.course_versions|index:course.id%}
										<h6 class='ml-4'>- {{version.version_name}} - {{version.version_created_at}}</h6>
										{%endfor%}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
</div>
{%endblock%}
