{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}
{%block page_name%}
Topic selection and ordering
{%endblock%}
{%block content%}
{%definevar context.spec as spec %}
{%definevar 'spectopic' as alert_loc%}
{%include 'base/alert.html'%}
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js'></script>
<script src="{%static 'dashboard/js/spectopic_controller.js'%}"></script>

{%definevar context.module as module%}
{%definevar context.chapter as chapter%}


{%include 'dashboard/general/items/chapter_questions_menu_modal.html'%}
{%include 'dashboard/general/items/spectopic_actions.html'%}

{%for topic in context.topics%}
{%include 'dashboard/general/items/specpoint_actions.html'%}
{%endfor%}
<div class="mb-4">
	<div class="card-body">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h5 class="h4 mb-1 mr-3 text-primary font-weight-bold">
					Topics for: {{spec.spec_level}} {{spec.spec_subject}} {{spec.spec_board}} {{spec.spec_name}} {{context.module|field_name_to_label}} {{context.chapter|field_name_to_label}}
				</h5>
				<span id='saving_indicator'> all saved</span>
					
			</div>
			<div class="card-body">
				<div class='mt-2' style=''>
					{%definevar context.full_ord_spec as content%}
					{%definevar context.topics as all_topics%}
					{%include 'dashboard/general/items/outline_item_moveable_topics.html'%}
				</div>
			</div>
		</div>
	</div>
</div>



{%endblock%}
