{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}
{%block page_name%}
Specification Outline
{%endblock%}
{%block content%}
{%definevar context.spec as spec %}
{%definevar context.sample_obj as sample %}
{%include 'dashboard/general/items/specmoduel_actions.html'%}
{%definevar 'specmoduel' as alert_loc%}
{%include 'base/alert.html'%}
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js'></script>



<div class="mb-4">
	<div class="card-body">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h5 class="h4 mb-1 text-primary font-weight-bold">
					Content Outline & Quick Navigation
				</h5>
			</div>
			<div class="card-body">
			    {%definevar context.ordered_content as content%}
			    <div class="card-body">
			    	    {%for module in content%}
				    <div class='ml-1 mb-1' style='border-left: 1px solid black;padding-left: 5px;'>
					    <a class="card-title h1" target='_blank' href='{%url 'dashboard:specchapter' spec.spec_level spec.spec_subject spec.spec_board spec.spec_name module%}'>Module {{forloop.counter}} - {{module|field_name_to_label}}</a>
					    {%for chapter in content|index:module|index:'content'%}
					    <div class='ml-2 mb-1' style='border-left: 2px dashed silver;padding-left: 5px;'>
						    <a class="card-title h3" target='_blank' href='{%url 'dashboard:spectopic' spec.spec_level spec.spec_subject spec.spec_board spec.spec_name module chapter%}'>Chapter {{forloop.counter}} - {{chapter|field_name_to_label}}</a>
						    {%for topic in content|index:module|index:'content'|index:chapter|index:'content'%}
						    <div class='ml-3 mb-1'style='border-left: 1px dashed black;padding-left: 5px;'>
							<a class="card-title h5" target='_blank' href='{%url 'dashboard:specpoint' spec.spec_level spec.spec_subject spec.spec_board spec.spec_name module chapter topic%}'>Topic {{forloop.counter}} - {{topic|field_name_to_label}}</a>
						    	{%for point in content|index:module|index:'content'|index:chapter|index:'content'|index:topic|index:'content'%}
							<div class='ml-3 mb-1'style='border-left: 1px dashed black;padding-left: 5px;'>
								<a target='_blank' href='#' target='blank' class="">
									Point {{forloop.counter}} - {{point|p_unique_to_title}}
								</a>
						    	</div>
							{%endfor%}
						    </div>
						    {%endfor%}
					    </div>
					    {%endfor%}
				    </div>
			    	    {%endfor%}
			    </div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
