{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}
{%block page_name%}
Specifications
{%endblock%}
{%block content%}
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">Specifications Design</h1>
		<div class="dropdown" style='display:inline-block;'>
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Actions
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a type="button" class="dropdown-item" data-toggle="modal" data-target="#CrateSpecModal">
				Create New Specification
			</a>
			<a type="button" class="dropdown-item text-danger" data-toggle="modal" data-target="#DeleteSpecificationModal">
				Delete Specification
			</a>
		  </div>
		</div><br>
		{%include 'dashboard/general/items/specspec_actions.html'%}
		{%definevar 'specification' as alert_loc%}
		{%include 'base/alert.html'%}


		<br><div class="card border-dark">

		  <div class="card-header bg-primary text-white">
		    Select Specification
		  </div>
		  {%definevar context.specifications as specs%}
		  {%for level in specs%}
		    <div class="card-body">
			    <div class='ml-1 mb-3' style='border-left: 1px solid black;padding-left: 5px;'>
			    <h3 class="card-title">{{level}}</h3>
			    {%for subject in specs|index:level%}
			    <div class='ml-2 mb-3' style='border-left: 2px dashed silver;padding-left: 5px;'>
			    <h4 class="card-title">{{subject}}</h4>
				    {%for board in specs|index:level|index:subject%}
			    	    <div class='ml-3 mb-3'style='border-left: 1px dashed black;padding-left: 5px;'>
			    	    <h5 class="card-title">{{board}}</h5>
					    {%for spec in specs|index:level|index:subject|index:board%}
						<a 
						href='{%url 'dashboard:specmoduel' level subject board spec.spec_name%}'
						target='blank'
						class="btn 
							{%if spec.spec_health%}
							btn-primary
							{%else%}
							btn-danger
							{%endif%}
						">
							{%if spec.spec_health%}
							<i class="bi bi-check-circle"></i>
							{%else%}
							<i class="bi bi bi-x-circle"></i>
							{%endif%}
							{{spec.spec_name}}
						</a>
					    {%endfor%}
			    	    </div>
				    {%endfor%}
			    </div>
			    {%endfor%}
			    </div>
		    </div>
		  {%endfor%}
		</div><br>
	</div>
{%endblock%}
