{% extends 'dashboard/base.html'%}
{%load static%}
{%load general%}
{%block page_name%}
Moduel Selection and ordering
{%endblock%}
{%block content%}
{%definevar context.spec as spec %}
{%definevar 'specmoduel' as alert_loc%}
{%include 'base/alert.html'%}
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js'></script>


{%include 'dashboard/general/items/specmoduel_actions.html'%}
<script src="{%static 'dashboard/js/specmoduel_controller.js'%}"></script>
<div class="mb-4">
	<div class="card-body">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h5 class="h4 mb-1 text-primary font-weight-bold">
					Modules for: {{spec.spec_level}} {{spec.spec_subject}} {{spec.spec_board}} {{spec.spec_name}}
				</h5>
				<span id='saving_indicator'> all saved</span>
					
			</div>
			<div class="card-body">
				<div class='mt-2' style=''>
					{%definevar context.full_ord_spec as content%}
					{%definevar context.modules as all_modules%}
					{%include 'dashboard/general/items/outline_item_moveable.html'%}
				</div>
			</div>
		</div>
	</div>
</div>




{%endblock%}
