
@media only screen and (max-width: 450px){
	body{
		font-size: 11px;
	}
	.AI_main_container{
		display:flex;
	}	
	#AI_side_bar{
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		max-height: 100%;
		min-height: 100%;
		transition: all 0.3s ease-in-out;
		z-index: 10;
	}
	
	.show-sidebar #AI_side_bar{
		left: 0;
	}

}
@media only screen and (min-width: 451px) and (max-width: 1199px){
	body{
		font-size: 11px;
	}
	.sidebar_button{
		padding: 8px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.AI_main_container{
		display:flex;
	}	
	#AI_side_bar{
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		max-height: 100%;
		min-height: 100%;
		transition: all 0.3s ease-in-out;
		z-index: 10;
	}
	
	.show-sidebar #AI_side_bar{
		left: 0;
	}
}
@media only screen and (min-width: 1200px){
	#toggle-sidebar-btn{
		display:none;
	}
	#toggle-sidebar-btn-2{
		display:none;
	}
}
