
@media only screen and (max-width: 450px){
	.AI_main_container{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-areas: "window";
	}	
	.AI_side_bar{
		display:grid;
		display:none;
		background: var(--third-bg-color);
		border-right: none;
		grid-template-rows: 1fr auto;
		grid-template-areas: 'lessons' 'options';
	}

}
@media only screen and (min-width: 451px) and (max-width: 1199px){
	.AI_main_container{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-areas: "window";
	}	
	.AI_side_bar{
		display:grid;
		display:none;
		background: var(--third-bg-color);
		border-right: none;
		grid-template-rows: 1fr auto;
		grid-template-areas: 'lessons' 'options';
	}
}
@media only screen and (min-width: 1200px){
}
