<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("{{canvas_id}}");
var myPieChart = new Chart(ctx, {
  type: 'polarArea',
  data: {
  labels: {{plot_labels|safe}},
    datasets: [{
      data: {{plot_data|safe}},
      backgroundColor: ['rgba(78, 114, 223, 0.8)', 'rgba(28, 200, 137, 0.8)', 'rgba(54, 184, 204, 0.8)', 'rgba(245, 205, 2, 0.8)', 'rgba(28, 6, 1, 0.8)'],
      hoverBackgroundColor: ['rgba(78, 114, 223, 0.3)', 'rgba(28, 200, 137, 0.3)', 'rgba(54, 184, 204, 0.3)', 'rgba(245, 205, 2, 0.3)', 'rgba(28, 6, 1, 0.3)'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    responsive: true,
    scales: {
      r: {
        pointLabels: {
          display: true,
          centerPointLabels: true,
          font: {
            size: 24
          }
        }
      }
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: 'white',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: true,
      caretPadding: 10,
    },
    legend: {
      display: true,
      position: 'bottom'
    },
    cutoutPercentage: 80,
  },
});
</script>
